<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.14.0" xml:lang="en-US">
  <compounddef id="classllvm_1_1_value_map_type_remapper" kind="class" language="C++" prot="public" abstract="yes">
    <compoundname>llvm::ValueMapTypeRemapper</compoundname>
    <derivedcompoundref refid="classanonymous__namespace_02_a_m_d_g_p_u_lower_buffer_fat_pointers_8cpp_03_1_1_buffer_fat_ptr_type_lowering_base" prot="public" virt="non-virtual">anonymous_namespace{AMDGPULowerBufferFatPointers.cpp}::BufferFatPtrTypeLoweringBase</derivedcompoundref>
    <derivedcompoundref refid="classanonymous__namespace_02_i_r_mover_8cpp_03_1_1_type_map_ty" prot="public" virt="non-virtual">anonymous_namespace{IRMover.cpp}::TypeMapTy</derivedcompoundref>
    <includes refid="_value_mapper_8h" local="yes">llvm/Transforms/Utils/ValueMapper.h</includes>
    <sectiondef kind="private-func">
      <memberdef kind="function" id="classllvm_1_1_value_map_type_remapper_1a455f97bb6002380e618718dd8ccf61ef" prot="private" static="no" const="no" explicit="no" inline="no" virt="virtual">
        <type>void</type>
        <definition>void ValueMapTypeRemapper::anchor</definition>
        <argsstring>()</argsstring>
        <name>anchor</name>
        <qualifiedname>llvm::ValueMapTypeRemapper::anchor</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/Transforms/Utils/ValueMapper.h" line="44" column="16" bodyfile="lib/Transforms/Utils/ValueMapper.cpp" bodystart="51" bodyend="51"/>
      </memberdef>
    </sectiondef>
    <sectiondef kind="public-func">
      <memberdef kind="function" id="classllvm_1_1_value_map_type_remapper_1a598d00035bcabb2f521cb487a7dbaa5e" prot="public" static="no" const="no" explicit="no" inline="no" virt="virtual">
        <type></type>
        <definition>virtual llvm::ValueMapTypeRemapper::~ValueMapTypeRemapper</definition>
        <argsstring>()=default</argsstring>
        <name>~ValueMapTypeRemapper</name>
        <qualifiedname>llvm::ValueMapTypeRemapper::~ValueMapTypeRemapper</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/Transforms/Utils/ValueMapper.h" line="47" column="11"/>
      </memberdef>
      <memberdef kind="function" id="classllvm_1_1_value_map_type_remapper_1aa6169aab210e0cb00009694e1fc7c3d5" prot="public" static="no" const="no" explicit="no" inline="no" virt="pure-virtual">
        <type><ref refid="classllvm_1_1_type" kindref="compound">Type</ref> *</type>
        <definition>virtual Type * llvm::ValueMapTypeRemapper::remapType</definition>
        <argsstring>(Type *SrcTy)=0</argsstring>
        <name>remapType</name>
        <qualifiedname>llvm::ValueMapTypeRemapper::remapType</qualifiedname>
        <reimplementedby refid="classanonymous__namespace_02_a_m_d_g_p_u_lower_buffer_fat_pointers_8cpp_03_1_1_buffer_fat_ptr_type_lowering_base_1ade2358b8d5378017e50c30d4d22835da">remapType</reimplementedby>
        <reimplementedby refid="classanonymous__namespace_02_i_r_mover_8cpp_03_1_1_type_map_ty_1ab9c19f1ac40445a784187b0c5cf76fd0">remapType</reimplementedby>
        <param>
          <type><ref refid="classllvm_1_1_type" kindref="compound">Type</ref> *</type>
          <declname>SrcTy</declname>
        </param>
        <briefdescription>
<para>The client should implement this method if they want to remap types while mapping values. </para>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/Transforms/Utils/ValueMapper.h" line="51" column="16"/>
      </memberdef>
    </sectiondef>
    <briefdescription>
<para>This is a class that can be implemented by clients to remap types when cloning constants and instructions. </para>
    </briefdescription>
    <detaileddescription>
    </detaileddescription>
    <inheritancegraph>
      <node id="3">
        <label>anonymous_namespace{AMDGPULowerBufferFatPointers.cpp}::BufferFatPtrToIntTypeMap</label>
        <link refid="classanonymous__namespace_02_a_m_d_g_p_u_lower_buffer_fat_pointers_8cpp_03_1_1_buffer_fat_ptr_to_int_type_map"/>
        <childnode refid="2" relation="public-inheritance">
        </childnode>
      </node>
      <node id="4">
        <label>anonymous_namespace{AMDGPULowerBufferFatPointers.cpp}::BufferFatPtrToStructTypeMap</label>
        <link refid="classanonymous__namespace_02_a_m_d_g_p_u_lower_buffer_fat_pointers_8cpp_03_1_1_buffer_fat_ptr_to_struct_type_map"/>
        <childnode refid="2" relation="public-inheritance">
        </childnode>
      </node>
      <node id="2">
        <label>anonymous_namespace{AMDGPULowerBufferFatPointers.cpp}::BufferFatPtrTypeLoweringBase</label>
        <link refid="classanonymous__namespace_02_a_m_d_g_p_u_lower_buffer_fat_pointers_8cpp_03_1_1_buffer_fat_ptr_type_lowering_base"/>
        <childnode refid="1" relation="public-inheritance">
        </childnode>
      </node>
      <node id="5">
        <label>anonymous_namespace{IRMover.cpp}::TypeMapTy</label>
        <link refid="classanonymous__namespace_02_i_r_mover_8cpp_03_1_1_type_map_ty"/>
        <childnode refid="1" relation="public-inheritance">
        </childnode>
      </node>
      <node id="1">
        <label>llvm::ValueMapTypeRemapper</label>
        <link refid="classllvm_1_1_value_map_type_remapper"/>
      </node>
    </inheritancegraph>
    <location file="include/llvm/Transforms/Utils/ValueMapper.h" line="43" column="1" bodyfile="include/llvm/Transforms/Utils/ValueMapper.h" bodystart="43" bodyend="52"/>
    <listofallmembers>
      <member refid="classllvm_1_1_value_map_type_remapper_1a455f97bb6002380e618718dd8ccf61ef" prot="private" virt="virtual"><scope>llvm::ValueMapTypeRemapper</scope><name>anchor</name></member>
      <member refid="classllvm_1_1_value_map_type_remapper_1aa6169aab210e0cb00009694e1fc7c3d5" prot="public" virt="pure-virtual"><scope>llvm::ValueMapTypeRemapper</scope><name>remapType</name></member>
      <member refid="classllvm_1_1_value_map_type_remapper_1a598d00035bcabb2f521cb487a7dbaa5e" prot="public" virt="virtual"><scope>llvm::ValueMapTypeRemapper</scope><name>~ValueMapTypeRemapper</name></member>
    </listofallmembers>
  </compounddef>
</doxygen>
