<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.14.0" xml:lang="en-US">
  <compounddef id="classanonymous__namespace_02_sample_profile_8cpp_03_1_1_g_u_i_d_to_func_name_mapper" kind="class" language="C++" prot="public">
    <compoundname>anonymous_namespace{SampleProfile.cpp}::GUIDToFuncNameMapper</compoundname>
    <sectiondef kind="private-attrib">
      <memberdef kind="variable" id="classanonymous__namespace_02_sample_profile_8cpp_03_1_1_g_u_i_d_to_func_name_mapper_1ace5a936433e70e1d410815253b2afe7b" prot="private" static="no" mutable="no">
        <type><ref refid="classllvm_1_1sampleprof_1_1_sample_profile_reader" kindref="compound">SampleProfileReader</ref> &amp;</type>
        <definition>SampleProfileReader&amp; anonymous_namespace{SampleProfile.cpp}::GUIDToFuncNameMapper::CurrentReader</definition>
        <argsstring></argsstring>
        <name>CurrentReader</name>
        <qualifiedname>anonymous_namespace{SampleProfile.cpp}::GUIDToFuncNameMapper::CurrentReader</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/Transforms/IPO/SampleProfile.cpp" line="415" column="23" bodyfile="lib/Transforms/IPO/SampleProfile.cpp" bodystart="415" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="classanonymous__namespace_02_sample_profile_8cpp_03_1_1_g_u_i_d_to_func_name_mapper_1a39318a322e81d42a8b07334dce627f73" prot="private" static="no" mutable="no">
        <type><ref refid="classllvm_1_1_module" kindref="compound">Module</ref> &amp;</type>
        <definition>Module&amp; anonymous_namespace{SampleProfile.cpp}::GUIDToFuncNameMapper::CurrentModule</definition>
        <argsstring></argsstring>
        <name>CurrentModule</name>
        <qualifiedname>anonymous_namespace{SampleProfile.cpp}::GUIDToFuncNameMapper::CurrentModule</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/Transforms/IPO/SampleProfile.cpp" line="416" column="10" bodyfile="lib/Transforms/IPO/SampleProfile.cpp" bodystart="416" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="classanonymous__namespace_02_sample_profile_8cpp_03_1_1_g_u_i_d_to_func_name_mapper_1ad0c4a36782383227f43035449862d98b" prot="private" static="no" mutable="no">
        <type><ref refid="classllvm_1_1_dense_map" kindref="compound">DenseMap</ref>&lt; <ref refid="classuint64__t" kindref="compound">uint64_t</ref>, <ref refid="classllvm_1_1_string_ref" kindref="compound">StringRef</ref> &gt; &amp;</type>
        <definition>DenseMap&lt;uint64_t, StringRef&gt;&amp; anonymous_namespace{SampleProfile.cpp}::GUIDToFuncNameMapper::CurrentGUIDToFuncNameMap</definition>
        <argsstring></argsstring>
        <name>CurrentGUIDToFuncNameMap</name>
        <qualifiedname>anonymous_namespace{SampleProfile.cpp}::GUIDToFuncNameMapper::CurrentGUIDToFuncNameMap</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/Transforms/IPO/SampleProfile.cpp" line="417" column="12" bodyfile="lib/Transforms/IPO/SampleProfile.cpp" bodystart="417" bodyend="-1"/>
      </memberdef>
    </sectiondef>
    <sectiondef kind="public-func">
      <memberdef kind="function" id="classanonymous__namespace_02_sample_profile_8cpp_03_1_1_g_u_i_d_to_func_name_mapper_1a0443cc3fdee8b10994d348458d6d9949" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type></type>
        <definition>anonymous_namespace{SampleProfile.cpp}::GUIDToFuncNameMapper::GUIDToFuncNameMapper</definition>
        <argsstring>(Module &amp;M, SampleProfileReader &amp;Reader, DenseMap&lt; uint64_t, StringRef &gt; &amp;GUIDToFuncNameMap)</argsstring>
        <name>GUIDToFuncNameMapper</name>
        <qualifiedname>anonymous_namespace{SampleProfile.cpp}::GUIDToFuncNameMapper::GUIDToFuncNameMapper</qualifiedname>
        <param>
          <type><ref refid="classllvm_1_1_module" kindref="compound">Module</ref> &amp;</type>
          <declname>M</declname>
        </param>
        <param>
          <type><ref refid="classllvm_1_1sampleprof_1_1_sample_profile_reader" kindref="compound">SampleProfileReader</ref> &amp;</type>
          <declname>Reader</declname>
        </param>
        <param>
          <type><ref refid="classllvm_1_1_dense_map" kindref="compound">DenseMap</ref>&lt; <ref refid="classuint64__t" kindref="compound">uint64_t</ref>, <ref refid="classllvm_1_1_string_ref" kindref="compound">StringRef</ref> &gt; &amp;</type>
          <declname>GUIDToFuncNameMap</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/Transforms/IPO/SampleProfile.cpp" line="354" column="3" bodyfile="lib/Transforms/IPO/SampleProfile.cpp" bodystart="354" bodyend="381"/>
        <references refid="_m_d5_8cpp_1a96d73bbd7af15cb1fc38c3f4a3bd82e9" compoundref="_m_d5_8cpp" startline="55">F</references>
        <references refid="_a_arch64_expand_pseudo_insts_8cpp_1a4cfc8b177e8521a4b496ae2edff6244f" compoundref="_a_arch64_expand_pseudo_insts_8cpp" startline="115" endline="122">for</references>
        <references refid="classllvm_1_1sampleprof_1_1_function_samples_1aa7122a07ea48e47fc71083e68b829003" compoundref="_sample_prof_8h" startline="1090" endline="1094">llvm::sampleprof::FunctionSamples::getCanonicalFnName</references>
        <references refid="classllvm_1_1_global_value_1a6811428caf500217f319c74e80900c14" compoundref="_globals_8cpp" startline="75" endline="77">llvm::GlobalValue::getGUID</references>
      </memberdef>
      <memberdef kind="function" id="classanonymous__namespace_02_sample_profile_8cpp_03_1_1_g_u_i_d_to_func_name_mapper_1a7504b2b5fac654c5ac7ff9a402c5dd97" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type></type>
        <definition>anonymous_namespace{SampleProfile.cpp}::GUIDToFuncNameMapper::~GUIDToFuncNameMapper</definition>
        <argsstring>()</argsstring>
        <name>~GUIDToFuncNameMapper</name>
        <qualifiedname>anonymous_namespace{SampleProfile.cpp}::GUIDToFuncNameMapper::~GUIDToFuncNameMapper</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/Transforms/IPO/SampleProfile.cpp" line="383" column="3" bodyfile="lib/Transforms/IPO/SampleProfile.cpp" bodystart="383" bodyend="392"/>
      </memberdef>
    </sectiondef>
    <sectiondef kind="private-func">
      <memberdef kind="function" id="classanonymous__namespace_02_sample_profile_8cpp_03_1_1_g_u_i_d_to_func_name_mapper_1afa16993d4303f80af0057861478f4430" prot="private" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type>void</type>
        <definition>void anonymous_namespace{SampleProfile.cpp}::GUIDToFuncNameMapper::SetGUIDToFuncNameMapForAll</definition>
        <argsstring>(DenseMap&lt; uint64_t, StringRef &gt; *Map)</argsstring>
        <name>SetGUIDToFuncNameMapForAll</name>
        <qualifiedname>anonymous_namespace{SampleProfile.cpp}::GUIDToFuncNameMapper::SetGUIDToFuncNameMapForAll</qualifiedname>
        <param>
          <type><ref refid="classllvm_1_1_dense_map" kindref="compound">DenseMap</ref>&lt; <ref refid="classuint64__t" kindref="compound">uint64_t</ref>, <ref refid="classllvm_1_1_string_ref" kindref="compound">StringRef</ref> &gt; *</type>
          <declname>Map</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/Transforms/IPO/SampleProfile.cpp" line="395" column="8" bodyfile="lib/Transforms/IPO/SampleProfile.cpp" bodystart="395" bodyend="413"/>
      </memberdef>
    </sectiondef>
    <briefdescription>
    </briefdescription>
    <detaileddescription>
    </detaileddescription>
    <location file="lib/Transforms/IPO/SampleProfile.cpp" line="352" column="1" bodyfile="lib/Transforms/IPO/SampleProfile.cpp" bodystart="352" bodyend="418"/>
    <listofallmembers>
      <member refid="classanonymous__namespace_02_sample_profile_8cpp_03_1_1_g_u_i_d_to_func_name_mapper_1ad0c4a36782383227f43035449862d98b" prot="private" virt="non-virtual"><scope>anonymous_namespace{SampleProfile.cpp}::GUIDToFuncNameMapper</scope><name>CurrentGUIDToFuncNameMap</name></member>
      <member refid="classanonymous__namespace_02_sample_profile_8cpp_03_1_1_g_u_i_d_to_func_name_mapper_1a39318a322e81d42a8b07334dce627f73" prot="private" virt="non-virtual"><scope>anonymous_namespace{SampleProfile.cpp}::GUIDToFuncNameMapper</scope><name>CurrentModule</name></member>
      <member refid="classanonymous__namespace_02_sample_profile_8cpp_03_1_1_g_u_i_d_to_func_name_mapper_1ace5a936433e70e1d410815253b2afe7b" prot="private" virt="non-virtual"><scope>anonymous_namespace{SampleProfile.cpp}::GUIDToFuncNameMapper</scope><name>CurrentReader</name></member>
      <member refid="classanonymous__namespace_02_sample_profile_8cpp_03_1_1_g_u_i_d_to_func_name_mapper_1a0443cc3fdee8b10994d348458d6d9949" prot="public" virt="non-virtual"><scope>anonymous_namespace{SampleProfile.cpp}::GUIDToFuncNameMapper</scope><name>GUIDToFuncNameMapper</name></member>
      <member refid="classanonymous__namespace_02_sample_profile_8cpp_03_1_1_g_u_i_d_to_func_name_mapper_1afa16993d4303f80af0057861478f4430" prot="private" virt="non-virtual"><scope>anonymous_namespace{SampleProfile.cpp}::GUIDToFuncNameMapper</scope><name>SetGUIDToFuncNameMapForAll</name></member>
      <member refid="classanonymous__namespace_02_sample_profile_8cpp_03_1_1_g_u_i_d_to_func_name_mapper_1a7504b2b5fac654c5ac7ff9a402c5dd97" prot="public" virt="non-virtual"><scope>anonymous_namespace{SampleProfile.cpp}::GUIDToFuncNameMapper</scope><name>~GUIDToFuncNameMapper</name></member>
    </listofallmembers>
  </compounddef>
</doxygen>
