<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.14.0" xml:lang="en-US">
  <compounddef id="classllvm_1_1json_1_1_object_mapper" kind="class" language="C++" prot="public">
    <compoundname>llvm::json::ObjectMapper</compoundname>
    <includes refid="_j_s_o_n_8h" local="yes">llvm/Support/JSON.h</includes>
    <sectiondef kind="private-attrib">
      <memberdef kind="variable" id="classllvm_1_1json_1_1_object_mapper_1a1422d1f7b40d47ad3b0a53a676680cfa" prot="private" static="no" mutable="no">
        <type><ref refid="_a_arch64_promote_constant_8cpp_1a90f8350fecae261c25be85d38b451bff" kindref="member">const</ref> <ref refid="classllvm_1_1json_1_1_object" kindref="compound">Object</ref> *</type>
        <definition>const Object* llvm::json::ObjectMapper::O</definition>
        <argsstring></argsstring>
        <name>O</name>
        <qualifiedname>llvm::json::ObjectMapper::O</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/Support/JSON.h" line="886" column="16" bodyfile="include/llvm/Support/JSON.h" bodystart="886" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="classllvm_1_1json_1_1_object_mapper_1ad3c0132ab472752af32d22d04fdd2cfe" prot="private" static="no" mutable="no">
        <type><ref refid="classllvm_1_1json_1_1_path" kindref="compound">Path</ref></type>
        <definition>Path llvm::json::ObjectMapper::P</definition>
        <argsstring></argsstring>
        <name>P</name>
        <qualifiedname>llvm::json::ObjectMapper::P</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/Support/JSON.h" line="887" column="8" bodyfile="include/llvm/Support/JSON.h" bodystart="887" bodyend="-1"/>
      </memberdef>
    </sectiondef>
    <sectiondef kind="public-func">
      <memberdef kind="function" id="classllvm_1_1json_1_1_object_mapper_1a1c2fa6005ddb8f8653442a66030c3418" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type></type>
        <definition>llvm::json::ObjectMapper::ObjectMapper</definition>
        <argsstring>(const Value &amp;E, Path P)</argsstring>
        <name>ObjectMapper</name>
        <qualifiedname>llvm::json::ObjectMapper::ObjectMapper</qualifiedname>
        <param>
          <type><ref refid="_a_arch64_promote_constant_8cpp_1a90f8350fecae261c25be85d38b451bff" kindref="member">const</ref> <ref refid="classllvm_1_1json_1_1_value" kindref="compound">Value</ref> &amp;</type>
          <declname>E</declname>
        </param>
        <param>
          <type><ref refid="classllvm_1_1json_1_1_path" kindref="compound">Path</ref></type>
          <declname>P</declname>
        </param>
        <briefdescription>
<para>If O is not an object, this mapper is invalid and an error is reported. </para>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/Support/JSON.h" line="845" column="3" bodyfile="include/llvm/Support/JSON.h" bodystart="845" bodyend="848"/>
        <references refid="_builtin_g_cs_8cpp_1abb2b3a60ccc38a28239e19a1646e0c8a">E</references>
      </memberdef>
      <memberdef kind="function" id="classllvm_1_1json_1_1_object_mapper_1ac923c001e98a5cbef057f1cce8f55331" prot="public" static="no" const="yes" explicit="no" inline="yes" virt="non-virtual">
        <type></type>
        <definition>llvm::json::ObjectMapper::operator bool</definition>
        <argsstring>() const</argsstring>
        <name>operator bool</name>
        <qualifiedname>llvm::json::ObjectMapper::operator bool</qualifiedname>
        <briefdescription>
<para>True if the expression is an object. </para>
        </briefdescription>
        <detaileddescription>
<para>Must be checked before calling <ref refid="classllvm_1_1json_1_1_object_mapper_1a33610630c430c0fcc1ae2e7a3888162c" kindref="member">map()</ref>. </para>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/Support/JSON.h" line="852" column="3" bodyfile="include/llvm/Support/JSON.h" bodystart="852" bodyend="852"/>
      </memberdef>
      <memberdef kind="function" id="classllvm_1_1json_1_1_object_mapper_1a33610630c430c0fcc1ae2e7a3888162c" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <templateparamlist>
          <param>
            <type>typename <ref refid="class_t" kindref="compound">T</ref></type>
          </param>
        </templateparamlist>
        <type><ref refid="classbool" kindref="compound">bool</ref></type>
        <definition>bool llvm::json::ObjectMapper::map</definition>
        <argsstring>(StringLiteral Prop, T &amp;Out)</argsstring>
        <name>map</name>
        <qualifiedname>llvm::json::ObjectMapper::map</qualifiedname>
        <param>
          <type><ref refid="classllvm_1_1_string_literal" kindref="compound">StringLiteral</ref></type>
          <declname>Prop</declname>
        </param>
        <param>
          <type><ref refid="class_t" kindref="compound">T</ref> &amp;</type>
          <declname>Out</declname>
        </param>
        <briefdescription>
<para>Maps a property to a field. </para>
        </briefdescription>
        <detaileddescription>
<para>If the property is missing or invalid, reports an error. </para>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/Support/JSON.h" line="856" column="20" bodyfile="include/llvm/Support/JSON.h" bodystart="856" bodyend="862"/>
        <references refid="_s_i_lower_control_flow_8cpp_1a4868c5d81c5ccc98c47aeab6244346a0">assert</references>
        <references refid="_builtin_g_cs_8cpp_1abb2b3a60ccc38a28239e19a1646e0c8a">E</references>
        <references refid="namespacellvm_1_1json_1a46df0e111acfe74d856f9946d05faa4a" compoundref="_j_s_o_n_8h" startline="731" endline="738">llvm::json::fromJSON</references>
        <references refid="_mips16_i_sel_lowering_8cpp_1a0acb682b8260ab1c60b918599864e2e5" compoundref="_mips16_i_sel_lowering_8cpp" startline="341">T</references>
        <referencedby refid="namespacellvm_1a41d8f43db23dac7e866bba97c9ab171d" compoundref="_tensor_spec_8cpp" startline="69" endline="105">llvm::getTensorSpecFromJSON</referencedby>
      </memberdef>
      <memberdef kind="function" id="classllvm_1_1json_1_1_object_mapper_1a88bc931bd7a237b61751584c38a11890" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <templateparamlist>
          <param>
            <type>typename <ref refid="class_t" kindref="compound">T</ref></type>
          </param>
        </templateparamlist>
        <type><ref refid="classbool" kindref="compound">bool</ref></type>
        <definition>bool llvm::json::ObjectMapper::map</definition>
        <argsstring>(StringLiteral Prop, std::optional&lt; T &gt; &amp;Out)</argsstring>
        <name>map</name>
        <qualifiedname>llvm::json::ObjectMapper::map</qualifiedname>
        <param>
          <type><ref refid="classllvm_1_1_string_literal" kindref="compound">StringLiteral</ref></type>
          <declname>Prop</declname>
        </param>
        <param>
          <type>std::optional&lt; <ref refid="class_t" kindref="compound">T</ref> &gt; &amp;</type>
          <declname>Out</declname>
        </param>
        <briefdescription>
<para>Maps a property to a field, if it exists. </para>
        </briefdescription>
        <detaileddescription>
<para>If the property exists and is invalid, reports an error. (Optional requires special handling, because missing keys are OK). </para>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/Support/JSON.h" line="867" column="20" bodyfile="include/llvm/Support/JSON.h" bodystart="867" bodyend="873"/>
        <references refid="_s_i_lower_control_flow_8cpp_1a4868c5d81c5ccc98c47aeab6244346a0">assert</references>
        <references refid="_builtin_g_cs_8cpp_1abb2b3a60ccc38a28239e19a1646e0c8a">E</references>
        <references refid="namespacellvm_1_1json_1a46df0e111acfe74d856f9946d05faa4a" compoundref="_j_s_o_n_8h" startline="731" endline="738">llvm::json::fromJSON</references>
      </memberdef>
      <memberdef kind="function" id="classllvm_1_1json_1_1_object_mapper_1a3b5125d17ddf2fa1cac7ec76356aa07b" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <templateparamlist>
          <param>
            <type>typename <ref refid="class_t" kindref="compound">T</ref></type>
          </param>
        </templateparamlist>
        <type><ref refid="classbool" kindref="compound">bool</ref></type>
        <definition>bool llvm::json::ObjectMapper::mapOptional</definition>
        <argsstring>(StringLiteral Prop, T &amp;Out)</argsstring>
        <name>mapOptional</name>
        <qualifiedname>llvm::json::ObjectMapper::mapOptional</qualifiedname>
        <param>
          <type><ref refid="classllvm_1_1_string_literal" kindref="compound">StringLiteral</ref></type>
          <declname>Prop</declname>
        </param>
        <param>
          <type><ref refid="class_t" kindref="compound">T</ref> &amp;</type>
          <declname>Out</declname>
        </param>
        <briefdescription>
<para>Maps a property to a field, if it exists. </para>
        </briefdescription>
        <detaileddescription>
<para>If the property exists and is invalid, reports an error. If the property does not exist, Out is unchanged. </para>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/Support/JSON.h" line="878" column="20" bodyfile="include/llvm/Support/JSON.h" bodystart="878" bodyend="883"/>
        <references refid="_s_i_lower_control_flow_8cpp_1a4868c5d81c5ccc98c47aeab6244346a0">assert</references>
        <references refid="_builtin_g_cs_8cpp_1abb2b3a60ccc38a28239e19a1646e0c8a">E</references>
        <references refid="namespacellvm_1_1json_1a46df0e111acfe74d856f9946d05faa4a" compoundref="_j_s_o_n_8h" startline="731" endline="738">llvm::json::fromJSON</references>
        <references refid="_mips16_i_sel_lowering_8cpp_1a0acb682b8260ab1c60b918599864e2e5" compoundref="_mips16_i_sel_lowering_8cpp" startline="341">T</references>
      </memberdef>
    </sectiondef>
    <briefdescription>
<para>Helper for mapping JSON objects onto protocol structs. </para>
    </briefdescription>
    <detaileddescription>
<para>Example: <programlisting><codeline><highlight class="keywordtype">bool</highlight><highlight class="normal"><sp/><ref refid="namespacellvm_1_1json_1a46df0e111acfe74d856f9946d05faa4a" kindref="member">fromJSON</ref>(</highlight><highlight class="keyword">const</highlight><highlight class="normal"><sp/><ref refid="namespacellvm_1a066e2a31a13d6520e52ae1944f194662" kindref="member">Value</ref><sp/>&amp;<ref refid="_builtin_g_cs_8cpp_1abb2b3a60ccc38a28239e19a1646e0c8a" kindref="member">E</ref>,<sp/>MyStruct<sp/>&amp;R,<sp/>Path<sp/>P)<sp/>{</highlight></codeline>
<codeline><highlight class="normal"><sp/><sp/><ref refid="classllvm_1_1json_1_1_object_mapper_1a1c2fa6005ddb8f8653442a66030c3418" kindref="member">ObjectMapper</ref><sp/>O(<ref refid="_builtin_g_cs_8cpp_1abb2b3a60ccc38a28239e19a1646e0c8a" kindref="member">E</ref>,<sp/>P);</highlight></codeline>
<codeline><highlight class="normal"><sp/><sp/></highlight><highlight class="comment">//<sp/>When<sp/>returning<sp/>false,<sp/>error<sp/>details<sp/>were<sp/>already<sp/>reported.</highlight><highlight class="normal"></highlight></codeline>
<codeline><highlight class="normal"><sp/><sp/></highlight><highlight class="keywordflow">return</highlight><highlight class="normal"><sp/>O<sp/>&amp;&amp;<sp/>O.map(</highlight><highlight class="stringliteral">&quot;mandatory_field&quot;</highlight><highlight class="normal">,<sp/><ref refid="namespacellvm_1_1_r_i_s_c_v_fence_field_1a147be9e9780c1e33363ea572d4c7b25fa1835091d83e0e052cd1a32c99b2be731" kindref="member">R</ref>.MandatoryField)<sp/>&amp;&amp;</highlight></codeline>
<codeline><highlight class="normal"><sp/><sp/><sp/><sp/><sp/><sp/>O.mapOptional(</highlight><highlight class="stringliteral">&quot;optional_field&quot;</highlight><highlight class="normal">,<sp/><ref refid="namespacellvm_1_1_r_i_s_c_v_fence_field_1a147be9e9780c1e33363ea572d4c7b25fa1835091d83e0e052cd1a32c99b2be731" kindref="member">R</ref>.OptionalField);</highlight></codeline>
<codeline><highlight class="normal">}</highlight></codeline>
</programlisting> </para>
    </detaileddescription>
    <location file="include/llvm/Support/JSON.h" line="842" column="1" bodyfile="include/llvm/Support/JSON.h" bodystart="842" bodyend="888"/>
    <listofallmembers>
      <member refid="classllvm_1_1json_1_1_object_mapper_1a33610630c430c0fcc1ae2e7a3888162c" prot="public" virt="non-virtual"><scope>llvm::json::ObjectMapper</scope><name>map</name></member>
      <member refid="classllvm_1_1json_1_1_object_mapper_1a88bc931bd7a237b61751584c38a11890" prot="public" virt="non-virtual"><scope>llvm::json::ObjectMapper</scope><name>map</name></member>
      <member refid="classllvm_1_1json_1_1_object_mapper_1a3b5125d17ddf2fa1cac7ec76356aa07b" prot="public" virt="non-virtual"><scope>llvm::json::ObjectMapper</scope><name>mapOptional</name></member>
      <member refid="classllvm_1_1json_1_1_object_mapper_1a1422d1f7b40d47ad3b0a53a676680cfa" prot="private" virt="non-virtual"><scope>llvm::json::ObjectMapper</scope><name>O</name></member>
      <member refid="classllvm_1_1json_1_1_object_mapper_1a1c2fa6005ddb8f8653442a66030c3418" prot="public" virt="non-virtual"><scope>llvm::json::ObjectMapper</scope><name>ObjectMapper</name></member>
      <member refid="classllvm_1_1json_1_1_object_mapper_1ac923c001e98a5cbef057f1cce8f55331" prot="public" virt="non-virtual"><scope>llvm::json::ObjectMapper</scope><name>operator bool</name></member>
      <member refid="classllvm_1_1json_1_1_object_mapper_1ad3c0132ab472752af32d22d04fdd2cfe" prot="private" virt="non-virtual"><scope>llvm::json::ObjectMapper</scope><name>P</name></member>
    </listofallmembers>
  </compounddef>
</doxygen>
