<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.15.0" xml:lang="en-US">
  <compounddef id="classllvm_1_1orc_1_1_shared_memory_mapper" kind="class" language="C++" prot="public" final="yes">
    <compoundname>llvm::orc::SharedMemoryMapper</compoundname>
    <basecompoundref refid="classllvm_1_1orc_1_1_memory_mapper" prot="public" virt="non-virtual">llvm::orc::MemoryMapper</basecompoundref>
    <includes refid="_memory_mapper_8h" local="yes">llvm/ExecutionEngine/Orc/MemoryMapper.h</includes>
    <innerclass refid="structllvm_1_1orc_1_1_shared_memory_mapper_1_1_symbol_addrs" prot="public">llvm::orc::SharedMemoryMapper::SymbolAddrs</innerclass>
    <innerclass refid="structllvm_1_1orc_1_1_shared_memory_mapper_1_1_reservation" prot="private">llvm::orc::SharedMemoryMapper::Reservation</innerclass>
    <sectiondef kind="private-attrib">
      <memberdef kind="variable" id="classllvm_1_1orc_1_1_shared_memory_mapper_1a2e74776e73ef9eeeb3dc51000e186a2e" prot="private" static="no" mutable="no">
        <type><ref refid="classllvm_1_1orc_1_1_executor_process_control" kindref="compound">ExecutorProcessControl</ref> &amp;</type>
        <definition>ExecutorProcessControl&amp; llvm::orc::SharedMemoryMapper::EPC</definition>
        <argsstring></argsstring>
        <name>EPC</name>
        <qualifiedname>llvm::orc::SharedMemoryMapper::EPC</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" line="162" column="26" bodyfile="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" bodystart="162" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="classllvm_1_1orc_1_1_shared_memory_mapper_1abb9cf120b54e7471871aff2e0c363452" prot="private" static="no" mutable="no">
        <type><ref refid="structllvm_1_1orc_1_1_shared_memory_mapper_1_1_symbol_addrs" kindref="compound">SymbolAddrs</ref></type>
        <definition>SymbolAddrs llvm::orc::SharedMemoryMapper::SAs</definition>
        <argsstring></argsstring>
        <name>SAs</name>
        <qualifiedname>llvm::orc::SharedMemoryMapper::SAs</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" line="163" column="15" bodyfile="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" bodystart="163" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="classllvm_1_1orc_1_1_shared_memory_mapper_1ab945688ddaead02d10bec70a8100a56c" prot="private" static="no" mutable="no">
        <type>std::mutex</type>
        <definition>std::mutex llvm::orc::SharedMemoryMapper::Mutex</definition>
        <argsstring></argsstring>
        <name>Mutex</name>
        <qualifiedname>llvm::orc::SharedMemoryMapper::Mutex</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" line="165" column="14" bodyfile="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" bodystart="165" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="classllvm_1_1orc_1_1_shared_memory_mapper_1ab2099221c2c43c05ccdc2ac7dadc1ce5" prot="private" static="no" mutable="no">
        <type>std::map&lt; <ref refid="classllvm_1_1orc_1_1_executor_addr" kindref="compound">ExecutorAddr</ref>, Reservation &gt;</type>
        <definition>std::map&lt;ExecutorAddr, Reservation&gt; llvm::orc::SharedMemoryMapper::Reservations</definition>
        <argsstring></argsstring>
        <name>Reservations</name>
        <qualifiedname>llvm::orc::SharedMemoryMapper::Reservations</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" line="167" column="12" bodyfile="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" bodystart="167" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="classllvm_1_1orc_1_1_shared_memory_mapper_1ae06089eee5987525eb2e7882496e328d" prot="private" static="no" mutable="no">
        <type><ref refid="classsize__t" kindref="compound">size_t</ref></type>
        <definition>size_t llvm::orc::SharedMemoryMapper::PageSize</definition>
        <argsstring></argsstring>
        <name>PageSize</name>
        <qualifiedname>llvm::orc::SharedMemoryMapper::PageSize</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" line="169" column="10" bodyfile="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" bodystart="169" bodyend="-1"/>
      </memberdef>
    </sectiondef>
    <sectiondef kind="public-func">
      <memberdef kind="function" id="classllvm_1_1orc_1_1_shared_memory_mapper_1acc87c1eedea4bfa8adc928caf64d0933" prot="public" static="no" const="no" explicit="no" inline="no" virt="non-virtual">
        <type></type>
        <definition>llvm::orc::SharedMemoryMapper::SharedMemoryMapper</definition>
        <argsstring>(ExecutorProcessControl &amp;EPC, SymbolAddrs SAs, size_t PageSize)</argsstring>
        <name>SharedMemoryMapper</name>
        <qualifiedname>llvm::orc::SharedMemoryMapper::SharedMemoryMapper</qualifiedname>
        <param>
          <type><ref refid="classllvm_1_1orc_1_1_executor_process_control" kindref="compound">ExecutorProcessControl</ref> &amp;</type>
          <declname>EPC</declname>
        </param>
        <param>
          <type><ref refid="structllvm_1_1orc_1_1_shared_memory_mapper_1_1_symbol_addrs" kindref="compound">SymbolAddrs</ref></type>
          <declname>SAs</declname>
        </param>
        <param>
          <type><ref refid="classsize__t" kindref="compound">size_t</ref></type>
          <declname>PageSize</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" line="134" column="3" bodyfile="lib/ExecutionEngine/Orc/MemoryMapper.cpp" bodystart="196" bodyend="202"/>
        <references refid="llvm_2_support_2_error_handling_8h_1ace243f5c25697a1107cce46626b3dc94" compoundref="llvm_2_support_2_error_handling_8h" startline="143" endline="144">llvm_unreachable</references>
      </memberdef>
      <memberdef kind="function" id="classllvm_1_1orc_1_1_shared_memory_mapper_1ae400b1b0e333e4fc52f2e621fdb24f45" prot="public" static="no" const="no" explicit="no" inline="yes" virt="virtual">
        <type><ref refid="classunsigned" kindref="compound">unsigned</ref> int</type>
        <definition>unsigned int llvm::orc::SharedMemoryMapper::getPageSize</definition>
        <argsstring>() override</argsstring>
        <name>getPageSize</name>
        <qualifiedname>llvm::orc::SharedMemoryMapper::getPageSize</qualifiedname>
        <reimplements refid="classllvm_1_1orc_1_1_memory_mapper_1a3ee39508298ac018e8df94d84009f582">getPageSize</reimplements>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" line="140" column="16" bodyfile="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" bodystart="140" bodyend="140"/>
      </memberdef>
      <memberdef kind="function" id="classllvm_1_1orc_1_1_shared_memory_mapper_1a422f2a2c01a04dbb4fe4100fc74b90ca" prot="public" static="no" const="no" explicit="no" inline="no" virt="virtual">
        <type>void</type>
        <definition>void llvm::orc::SharedMemoryMapper::reserve</definition>
        <argsstring>(size_t NumBytes, OnReservedFunction OnReserved) override</argsstring>
        <name>reserve</name>
        <qualifiedname>llvm::orc::SharedMemoryMapper::reserve</qualifiedname>
        <reimplements refid="classllvm_1_1orc_1_1_memory_mapper_1ad3417e8268428f7d688cbd890e907aa4">reserve</reimplements>
        <param>
          <type><ref refid="classsize__t" kindref="compound">size_t</ref></type>
          <declname>NumBytes</declname>
        </param>
        <param>
          <type><ref refid="classllvm_1_1orc_1_1_memory_mapper_1ae6b31499ac8e7d26c03092c14275d796" kindref="member">OnReservedFunction</ref></type>
          <declname>OnReserved</declname>
        </param>
        <briefdescription>
<para>Reserves address space in executor process. </para>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" line="142" column="8" bodyfile="lib/ExecutionEngine/Orc/MemoryMapper.cpp" bodystart="219" bodyend="313"/>
        <references refid="namespacellvm_1aa1e1474f15df639f0d874b21f15666f7" compoundref="llvm_2_support_2_error_8h" startline="756" endline="768">llvm::cantFail</references>
        <references refid="namespacellvm_1aa20539e89704d20b98b97e9c3feac934" compoundref="_instr_prof_8h" startline="189">llvm::Data</references>
        <references refid="namespacellvm_1ae075c94db10b09d6d5876d32219eaf0d" compoundref="llvm_2_support_2_error_8h" startline="1226" endline="1228">llvm::errnoAsErrorCode</references>
        <references refid="namespacellvm_1ad10875fd499e8e285aaeef615e9b11aa" compoundref="_testing_2_support_2_error_8cpp" startline="111" endline="115">llvm::errorCodeToError</references>
        <references refid="classllvm_1_1_b_l_a_k_e3_1a9dbdb16a7c1e784048a1a7f65821f5be" compoundref="llvm_2_support_2_b_l_a_k_e3_8h" startline="86" endline="90">llvm::BLAKE3::hash</references>
        <references refid="namespacellvm_1a2b43c21951d0948b34bcf7019949032d" compoundref="_testing_2_support_2_error_8cpp" startline="98" endline="101">llvm::inconvertibleErrorCode</references>
        <references refid="namespacellvm_1a98c6256d0644613c6b5b3e2ef06ef5ce" compoundref="_i_r_2_pass_manager_8h" startline="644">llvm::InnerAnalysisManagerProxy&lt; AnalysisManagerT, IRUnitT, ExtraArgTs... &gt;::Key</references>
        <references refid="namespacellvm_1a9999bd897fc8a1648bd69b36fee2d357" compoundref="llvm_2_support_2_error_8h" startline="341" endline="343">llvm::make_error</references>
        <references refid="namespacellvm_1af0799d74677708a87dee45acdd40bab2">llvm::mapWindowsError</references>
        <references refid="namespacellvm_1_1orc_1a1448b52253eb43f8f07b7f5d94336a47a8eea62084ca7e541d918e823422bd82e" compoundref="_simple_remote_e_p_c_utils_8h" startline="40">llvm::orc::Result</references>
      </memberdef>
      <memberdef kind="function" id="classllvm_1_1orc_1_1_shared_memory_mapper_1a8295d4ee787fed22f7a1b37c7b0a559c" prot="public" static="no" const="no" explicit="no" inline="no" virt="virtual">
        <type><ref refid="classchar" kindref="compound">char</ref> *</type>
        <definition>char * llvm::orc::SharedMemoryMapper::prepare</definition>
        <argsstring>(ExecutorAddr Addr, size_t ContentSize) override</argsstring>
        <name>prepare</name>
        <qualifiedname>llvm::orc::SharedMemoryMapper::prepare</qualifiedname>
        <reimplements refid="classllvm_1_1orc_1_1_memory_mapper_1a1f6dd1df2bf89da79d77401886fd519a">prepare</reimplements>
        <param>
          <type><ref refid="classllvm_1_1orc_1_1_executor_addr" kindref="compound">ExecutorAddr</ref></type>
          <declname>Addr</declname>
        </param>
        <param>
          <type><ref refid="classsize__t" kindref="compound">size_t</ref></type>
          <declname>ContentSize</declname>
        </param>
        <briefdescription>
<para>Provides working memory. </para>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" line="144" column="8" bodyfile="lib/ExecutionEngine/Orc/MemoryMapper.cpp" bodystart="315" bodyend="323"/>
        <references refid="_s_i_lower_control_flow_8cpp_1a4868c5d81c5ccc98c47aeab6244346a0">assert</references>
        <references refid="namespacellvm_1a05f5b9a11bdcc5feba62899f95dcf878a3134224cba2545bc57954d3b072aebb4" compoundref="_d_w_p_8cpp" startline="480">llvm::Offset</references>
      </memberdef>
      <memberdef kind="function" id="classllvm_1_1orc_1_1_shared_memory_mapper_1a6776668e9d06d4ffccc140a13cd25095" prot="public" static="no" const="no" explicit="no" inline="no" virt="virtual">
        <type>void</type>
        <definition>void llvm::orc::SharedMemoryMapper::initialize</definition>
        <argsstring>(AllocInfo &amp;AI, OnInitializedFunction OnInitialized) override</argsstring>
        <name>initialize</name>
        <qualifiedname>llvm::orc::SharedMemoryMapper::initialize</qualifiedname>
        <reimplements refid="classllvm_1_1orc_1_1_memory_mapper_1a65b17476061df904a495d654624204e3">initialize</reimplements>
        <param>
          <type><ref refid="structllvm_1_1orc_1_1_memory_mapper_1_1_alloc_info" kindref="compound">AllocInfo</ref> &amp;</type>
          <declname>AI</declname>
        </param>
        <param>
          <type><ref refid="classllvm_1_1orc_1_1_memory_mapper_1ae546b70ffe0d3b8451b9b2a3163c4372" kindref="member">OnInitializedFunction</ref></type>
          <declname>OnInitialized</declname>
        </param>
        <briefdescription>
<para>Ensures executor memory is synchronized with working copy memory, sends functions to be called after initilization and before deinitialization and applies memory protections Returns a unique address identifying the allocation. </para>
        </briefdescription>
        <detaileddescription>
<para>This address should be passed to deinitialize to run deallocation actions (and reset permissions where possible). </para>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" line="146" column="8" bodyfile="lib/ExecutionEngine/Orc/MemoryMapper.cpp" bodystart="325" bodyend="366"/>
        <references refid="structllvm_1_1orc_1_1_memory_mapper_1_1_alloc_info_1aa83c8c10a9eb18cd233eed2ecf12ca71" compoundref="_memory_mapper_8h" startline="41">llvm::orc::MemoryMapper::AllocInfo::Actions</references>
        <references refid="structllvm_1_1orc_1_1tpctypes_1_1_shared_memory_finalize_request_1ac480f8342ad8500b7f9477ba74fd5ed2" compoundref="_target_process_control_types_8h" startline="69">llvm::orc::tpctypes::SharedMemoryFinalizeRequest::Actions</references>
        <references refid="structllvm_1_1orc_1_1tpctypes_1_1_shared_memory_seg_finalize_request_1a291bd7c0717557dd244547b23c8c7c41" compoundref="_target_process_control_types_8h" startline="63">llvm::orc::tpctypes::SharedMemorySegFinalizeRequest::Addr</references>
        <references refid="_s_i_lower_control_flow_8cpp_1a4868c5d81c5ccc98c47aeab6244346a0">assert</references>
        <references refid="namespacellvm_1_1sampleprof_1a702f69807459cc25db5754a5f179d3fcaf6fbeb8fa9f451468611536b00878d41" compoundref="_discriminator_8h" startline="58">llvm::sampleprof::Base</references>
        <references refid="namespacellvm_1aa1e1474f15df639f0d874b21f15666f7" compoundref="llvm_2_support_2_error_8h" startline="756" endline="768">llvm::cantFail</references>
        <references refid="namespacellvm_1_1orc_1abdd6ae2070338087f3d5d54200d708d6afd565de81da1c94807c0b80840ba18b0" compoundref="_memory_flags_8h" startline="83">llvm::orc::Finalize</references>
        <references refid="structllvm_1_1orc_1_1_memory_mapper_1_1_alloc_info_1a8ae25e2221d662f2fbffc49d0b172b3a" compoundref="_memory_mapper_8h" startline="39">llvm::orc::MemoryMapper::AllocInfo::MappingBase</references>
        <references refid="structllvm_1_1orc_1_1tpctypes_1_1_shared_memory_seg_finalize_request_1af8722c220368ae6ec29f1659a9db656d" compoundref="_target_process_control_types_8h" startline="62">llvm::orc::tpctypes::SharedMemorySegFinalizeRequest::RAG</references>
        <references refid="namespacellvm_1_1orc_1a1448b52253eb43f8f07b7f5d94336a47a8eea62084ca7e541d918e823422bd82e" compoundref="_simple_remote_e_p_c_utils_8h" startline="40">llvm::orc::Result</references>
        <references refid="structllvm_1_1orc_1_1_memory_mapper_1_1_alloc_info_1a6b6dcea60d496fc8de6d65188804b995" compoundref="_memory_mapper_8h" startline="40">llvm::orc::MemoryMapper::AllocInfo::Segments</references>
        <references refid="structllvm_1_1orc_1_1tpctypes_1_1_shared_memory_finalize_request_1a1cd77f9692f05fed6a1a9fa7b59da1e6" compoundref="_target_process_control_types_8h" startline="68">llvm::orc::tpctypes::SharedMemoryFinalizeRequest::Segments</references>
        <references refid="structllvm_1_1orc_1_1tpctypes_1_1_shared_memory_seg_finalize_request_1a285451feed03fc082fba2259ac6f1f2d" compoundref="_target_process_control_types_8h" startline="64">llvm::orc::tpctypes::SharedMemorySegFinalizeRequest::Size</references>
      </memberdef>
      <memberdef kind="function" id="classllvm_1_1orc_1_1_shared_memory_mapper_1a49a0e809cf10b6a741b5b9d62698073b" prot="public" static="no" const="no" explicit="no" inline="no" virt="virtual">
        <type>void</type>
        <definition>void llvm::orc::SharedMemoryMapper::deinitialize</definition>
        <argsstring>(ArrayRef&lt; ExecutorAddr &gt; Allocations, OnDeinitializedFunction OnDeInitialized) override</argsstring>
        <name>deinitialize</name>
        <qualifiedname>llvm::orc::SharedMemoryMapper::deinitialize</qualifiedname>
        <reimplements refid="classllvm_1_1orc_1_1_memory_mapper_1abf09157d03e5d1d4dcc6bf6deb67085f">deinitialize</reimplements>
        <param>
          <type><ref refid="classllvm_1_1_array_ref" kindref="compound">ArrayRef</ref>&lt; <ref refid="classllvm_1_1orc_1_1_executor_addr" kindref="compound">ExecutorAddr</ref> &gt;</type>
          <declname>Allocations</declname>
        </param>
        <param>
          <type><ref refid="classllvm_1_1orc_1_1_memory_mapper_1aedfe192af316b519758f8f400ff24ff5" kindref="member">OnDeinitializedFunction</ref></type>
          <declname>OnDeInitialized</declname>
        </param>
        <briefdescription>
<para>Runs previously specified deinitialization actions Executor addresses returned by initialize should be passed. </para>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" line="148" column="8" bodyfile="lib/ExecutionEngine/Orc/MemoryMapper.cpp" bodystart="368" bodyend="384"/>
        <references refid="namespacellvm_1aa1e1474f15df639f0d874b21f15666f7" compoundref="llvm_2_support_2_error_8h" startline="756" endline="768">llvm::cantFail</references>
        <references refid="namespacellvm_1_1orc_1a1448b52253eb43f8f07b7f5d94336a47a8eea62084ca7e541d918e823422bd82e" compoundref="_simple_remote_e_p_c_utils_8h" startline="40">llvm::orc::Result</references>
      </memberdef>
      <memberdef kind="function" id="classllvm_1_1orc_1_1_shared_memory_mapper_1ac8c1571f24dc447307937d7a1c82ee8b" prot="public" static="no" const="no" explicit="no" inline="no" virt="virtual">
        <type>void</type>
        <definition>void llvm::orc::SharedMemoryMapper::release</definition>
        <argsstring>(ArrayRef&lt; ExecutorAddr &gt; Reservations, OnReleasedFunction OnRelease) override</argsstring>
        <name>release</name>
        <qualifiedname>llvm::orc::SharedMemoryMapper::release</qualifiedname>
        <reimplements refid="classllvm_1_1orc_1_1_memory_mapper_1a5378c64c63dbec6bf94e44336f5c32e3">release</reimplements>
        <param>
          <type><ref refid="classllvm_1_1_array_ref" kindref="compound">ArrayRef</ref>&lt; <ref refid="classllvm_1_1orc_1_1_executor_addr" kindref="compound">ExecutorAddr</ref> &gt;</type>
          <declname>Reservations</declname>
        </param>
        <param>
          <type><ref refid="classllvm_1_1orc_1_1_memory_mapper_1a002df15a1ca5b57f024af911d7854e90" kindref="member">OnReleasedFunction</ref></type>
          <declname>OnRelease</declname>
        </param>
        <briefdescription>
<para>Release address space acquired through <ref refid="classllvm_1_1orc_1_1_shared_memory_mapper_1a422f2a2c01a04dbb4fe4100fc74b90ca" kindref="member">reserve()</ref> </para>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" line="151" column="8" bodyfile="lib/ExecutionEngine/Orc/MemoryMapper.cpp" bodystart="386" bodyend="437"/>
        <references refid="namespacellvm_1_1sampleprof_1a702f69807459cc25db5754a5f179d3fcaf6fbeb8fa9f451468611536b00878d41" compoundref="_discriminator_8h" startline="58">llvm::sampleprof::Base</references>
        <references refid="namespacellvm_1aa1e1474f15df639f0d874b21f15666f7" compoundref="llvm_2_support_2_error_8h" startline="756" endline="768">llvm::cantFail</references>
        <references refid="namespacellvm_1ae075c94db10b09d6d5876d32219eaf0d" compoundref="llvm_2_support_2_error_8h" startline="1226" endline="1228">llvm::errnoAsErrorCode</references>
        <references refid="namespacellvm_1ad10875fd499e8e285aaeef615e9b11aa" compoundref="_testing_2_support_2_error_8cpp" startline="111" endline="115">llvm::errorCodeToError</references>
        <references refid="namespacellvm_1a2b43c21951d0948b34bcf7019949032d" compoundref="_testing_2_support_2_error_8cpp" startline="98" endline="101">llvm::inconvertibleErrorCode</references>
        <references refid="namespacellvm_1a71210b99d2ef87236d8505c1771a7ab1" compoundref="llvm_2_support_2_error_8h" startline="438" endline="440">llvm::joinErrors</references>
        <references refid="namespacellvm_1a9999bd897fc8a1648bd69b36fee2d357" compoundref="llvm_2_support_2_error_8h" startline="341" endline="343">llvm::make_error</references>
        <references refid="namespacellvm_1af0799d74677708a87dee45acdd40bab2">llvm::mapWindowsError</references>
        <references refid="namespacellvm_1_1orc_1a1448b52253eb43f8f07b7f5d94336a47a8eea62084ca7e541d918e823422bd82e" compoundref="_simple_remote_e_p_c_utils_8h" startline="40">llvm::orc::Result</references>
        <references refid="_inline_order_8cpp_1a7ee6f0cb51c3b9056199e9a0001fe8c3a6f6cb72d544962fa333e2e34ce64f719" compoundref="_inline_order_8cpp" startline="25">Size</references>
        <references refid="classllvm_1_1_error_1a4dfd0813c3d0e0a30439b5a3e9196b59" compoundref="llvm_2_support_2_error_8h" startline="337" endline="337">llvm::Error::success</references>
      </memberdef>
      <memberdef kind="function" id="classllvm_1_1orc_1_1_shared_memory_mapper_1a4eac18316db606c0b211c40950acc2fa" prot="public" static="no" const="no" explicit="no" inline="no" virt="non-virtual">
        <type></type>
        <definition>llvm::orc::SharedMemoryMapper::~SharedMemoryMapper</definition>
        <argsstring>() override</argsstring>
        <name>~SharedMemoryMapper</name>
        <qualifiedname>llvm::orc::SharedMemoryMapper::~SharedMemoryMapper</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" line="154" column="3" bodyfile="lib/ExecutionEngine/Orc/MemoryMapper.cpp" bodystart="439" bodyend="461"/>
      </memberdef>
    </sectiondef>
    <sectiondef kind="public-static-func">
      <memberdef kind="function" id="classllvm_1_1orc_1_1_shared_memory_mapper_1a05efc99c84f85d88901dd71a716814dd" prot="public" static="yes" const="no" explicit="no" inline="no" virt="non-virtual">
        <type><ref refid="classllvm_1_1_expected" kindref="compound">Expected</ref>&lt; std::unique_ptr&lt; <ref refid="classllvm_1_1orc_1_1_shared_memory_mapper" kindref="compound">SharedMemoryMapper</ref> &gt; &gt;</type>
        <definition>Expected&lt; std::unique_ptr&lt; SharedMemoryMapper &gt; &gt; llvm::orc::SharedMemoryMapper::Create</definition>
        <argsstring>(ExecutorProcessControl &amp;EPC, SymbolAddrs SAs)</argsstring>
        <name>Create</name>
        <qualifiedname>llvm::orc::SharedMemoryMapper::Create</qualifiedname>
        <param>
          <type><ref refid="classllvm_1_1orc_1_1_executor_process_control" kindref="compound">ExecutorProcessControl</ref> &amp;</type>
          <declname>EPC</declname>
        </param>
        <param>
          <type><ref refid="structllvm_1_1orc_1_1_shared_memory_mapper_1_1_symbol_addrs" kindref="compound">SymbolAddrs</ref></type>
          <declname>SAs</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" line="138" column="3" bodyfile="lib/ExecutionEngine/Orc/MemoryMapper.cpp" bodystart="205" bodyend="217"/>
        <references refid="classllvm_1_1sys_1_1_process_1a2b6f374dc4eb2a7f84cc346e5630e132">llvm::sys::Process::getPageSize</references>
        <references refid="namespacellvm_1a2b43c21951d0948b34bcf7019949032d" compoundref="_testing_2_support_2_error_8cpp" startline="98" endline="101">llvm::inconvertibleErrorCode</references>
        <references refid="namespacellvm_1a9999bd897fc8a1648bd69b36fee2d357" compoundref="llvm_2_support_2_error_8h" startline="341" endline="343">llvm::make_error</references>
      </memberdef>
    </sectiondef>
    <briefdescription>
    </briefdescription>
    <detaileddescription>
    </detaileddescription>
    <inheritancegraph>
      <node id="2">
        <label>llvm::orc::MemoryMapper</label>
        <link refid="classllvm_1_1orc_1_1_memory_mapper"/>
      </node>
      <node id="1">
        <label>llvm::orc::SharedMemoryMapper</label>
        <link refid="classllvm_1_1orc_1_1_shared_memory_mapper"/>
        <childnode refid="2" relation="public-inheritance">
        </childnode>
      </node>
    </inheritancegraph>
    <collaborationgraph>
      <node id="2">
        <label>llvm::orc::MemoryMapper</label>
        <link refid="classllvm_1_1orc_1_1_memory_mapper"/>
      </node>
      <node id="1">
        <label>llvm::orc::SharedMemoryMapper</label>
        <link refid="classllvm_1_1orc_1_1_shared_memory_mapper"/>
        <childnode refid="2" relation="public-inheritance">
        </childnode>
      </node>
    </collaborationgraph>
    <location file="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" line="124" column="1" bodyfile="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" bodystart="124" bodyend="170"/>
    <listofallmembers>
      <member refid="classllvm_1_1orc_1_1_shared_memory_mapper_1a05efc99c84f85d88901dd71a716814dd" prot="public" virt="non-virtual"><scope>llvm::orc::SharedMemoryMapper</scope><name>Create</name></member>
      <member refid="classllvm_1_1orc_1_1_shared_memory_mapper_1a49a0e809cf10b6a741b5b9d62698073b" prot="public" virt="virtual"><scope>llvm::orc::SharedMemoryMapper</scope><name>deinitialize</name></member>
      <member refid="classllvm_1_1orc_1_1_shared_memory_mapper_1a2e74776e73ef9eeeb3dc51000e186a2e" prot="private" virt="non-virtual"><scope>llvm::orc::SharedMemoryMapper</scope><name>EPC</name></member>
      <member refid="classllvm_1_1orc_1_1_shared_memory_mapper_1ae400b1b0e333e4fc52f2e621fdb24f45" prot="public" virt="virtual"><scope>llvm::orc::SharedMemoryMapper</scope><name>getPageSize</name></member>
      <member refid="classllvm_1_1orc_1_1_shared_memory_mapper_1a6776668e9d06d4ffccc140a13cd25095" prot="public" virt="virtual"><scope>llvm::orc::SharedMemoryMapper</scope><name>initialize</name></member>
      <member refid="classllvm_1_1orc_1_1_shared_memory_mapper_1ab945688ddaead02d10bec70a8100a56c" prot="private" virt="non-virtual"><scope>llvm::orc::SharedMemoryMapper</scope><name>Mutex</name></member>
      <member refid="classllvm_1_1orc_1_1_memory_mapper_1aedfe192af316b519758f8f400ff24ff5" prot="public" virt="non-virtual"><scope>llvm::orc::SharedMemoryMapper</scope><name>OnDeinitializedFunction</name></member>
      <member refid="classllvm_1_1orc_1_1_memory_mapper_1ae546b70ffe0d3b8451b9b2a3163c4372" prot="public" virt="non-virtual"><scope>llvm::orc::SharedMemoryMapper</scope><name>OnInitializedFunction</name></member>
      <member refid="classllvm_1_1orc_1_1_memory_mapper_1a002df15a1ca5b57f024af911d7854e90" prot="public" virt="non-virtual"><scope>llvm::orc::SharedMemoryMapper</scope><name>OnReleasedFunction</name></member>
      <member refid="classllvm_1_1orc_1_1_memory_mapper_1ae6b31499ac8e7d26c03092c14275d796" prot="public" virt="non-virtual"><scope>llvm::orc::SharedMemoryMapper</scope><name>OnReservedFunction</name></member>
      <member refid="classllvm_1_1orc_1_1_shared_memory_mapper_1ae06089eee5987525eb2e7882496e328d" prot="private" virt="non-virtual"><scope>llvm::orc::SharedMemoryMapper</scope><name>PageSize</name></member>
      <member refid="classllvm_1_1orc_1_1_shared_memory_mapper_1a8295d4ee787fed22f7a1b37c7b0a559c" prot="public" virt="virtual"><scope>llvm::orc::SharedMemoryMapper</scope><name>prepare</name></member>
      <member refid="classllvm_1_1orc_1_1_shared_memory_mapper_1ac8c1571f24dc447307937d7a1c82ee8b" prot="public" virt="virtual"><scope>llvm::orc::SharedMemoryMapper</scope><name>release</name></member>
      <member refid="classllvm_1_1orc_1_1_shared_memory_mapper_1ab2099221c2c43c05ccdc2ac7dadc1ce5" prot="private" virt="non-virtual"><scope>llvm::orc::SharedMemoryMapper</scope><name>Reservations</name></member>
      <member refid="classllvm_1_1orc_1_1_shared_memory_mapper_1a422f2a2c01a04dbb4fe4100fc74b90ca" prot="public" virt="virtual"><scope>llvm::orc::SharedMemoryMapper</scope><name>reserve</name></member>
      <member refid="classllvm_1_1orc_1_1_shared_memory_mapper_1abb9cf120b54e7471871aff2e0c363452" prot="private" virt="non-virtual"><scope>llvm::orc::SharedMemoryMapper</scope><name>SAs</name></member>
      <member refid="classllvm_1_1orc_1_1_shared_memory_mapper_1acc87c1eedea4bfa8adc928caf64d0933" prot="public" virt="non-virtual"><scope>llvm::orc::SharedMemoryMapper</scope><name>SharedMemoryMapper</name></member>
      <member refid="classllvm_1_1orc_1_1_memory_mapper_1aaac141615bd5d8a6681ca7b1fc5b72c1" prot="public" virt="virtual"><scope>llvm::orc::SharedMemoryMapper</scope><name>~MemoryMapper</name></member>
      <member refid="classllvm_1_1orc_1_1_shared_memory_mapper_1a4eac18316db606c0b211c40950acc2fa" prot="public" virt="non-virtual"><scope>llvm::orc::SharedMemoryMapper</scope><name>~SharedMemoryMapper</name></member>
    </listofallmembers>
  </compounddef>
</doxygen>
