<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.15.0" xml:lang="en-US">
  <compounddef id="classllvm_1_1_instr_prof_reader_itanium_remapper" kind="class" language="C++" prot="public">
    <compoundname>llvm::InstrProfReaderItaniumRemapper</compoundname>
    <basecompoundref refid="classllvm_1_1_instr_prof_reader_remapper" prot="public" virt="non-virtual">llvm::InstrProfReaderRemapper</basecompoundref>
    <templateparamlist>
      <param>
        <type>typename HashTableImpl</type>
      </param>
    </templateparamlist>
    <sectiondef kind="private-attrib">
      <memberdef kind="variable" id="classllvm_1_1_instr_prof_reader_itanium_remapper_1a5d41439e50ccae2f88703b61820bc7fe" prot="private" static="no" mutable="no">
        <type>std::unique_ptr&lt; <ref refid="classllvm_1_1_memory_buffer" kindref="compound">MemoryBuffer</ref> &gt;</type>
        <definition>std::unique_ptr&lt;MemoryBuffer&gt; llvm::InstrProfReaderItaniumRemapper&lt; HashTableImpl &gt;::RemapBuffer</definition>
        <argsstring></argsstring>
        <name>RemapBuffer</name>
        <qualifiedname>llvm::InstrProfReaderItaniumRemapper::RemapBuffer</qualifiedname>
        <briefdescription>
<para>The memory buffer containing the remapping configuration. </para>
        </briefdescription>
        <detaileddescription>
<para>Remappings holds pointers into this buffer. </para>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/ProfileData/InstrProfReader.cpp" line="1153" column="19" bodyfile="lib/ProfileData/InstrProfReader.cpp" bodystart="1153" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="classllvm_1_1_instr_prof_reader_itanium_remapper_1a133e722713d1ceaa781d8aaf612ba1a2" prot="private" static="no" mutable="no">
        <type><ref refid="classllvm_1_1_symbol_remapping_reader" kindref="compound">SymbolRemappingReader</ref></type>
        <definition>SymbolRemappingReader llvm::InstrProfReaderItaniumRemapper&lt; HashTableImpl &gt;::Remappings</definition>
        <argsstring></argsstring>
        <name>Remappings</name>
        <qualifiedname>llvm::InstrProfReaderItaniumRemapper::Remappings</qualifiedname>
        <briefdescription>
<para>The mangling remapper. </para>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/ProfileData/InstrProfReader.cpp" line="1156" column="25" bodyfile="lib/ProfileData/InstrProfReader.cpp" bodystart="1156" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="classllvm_1_1_instr_prof_reader_itanium_remapper_1a5474846a37bd7ea44c6987e4a934428d" prot="private" static="no" mutable="no">
        <type><ref refid="classllvm_1_1_dense_map" kindref="compound">DenseMap</ref>&lt; <ref refid="classllvm_1_1_symbol_remapping_reader_1a927d799644c7df94d198980a02abcc14" kindref="member">SymbolRemappingReader::Key</ref>, <ref refid="classllvm_1_1_string_ref" kindref="compound">StringRef</ref> &gt;</type>
        <definition>DenseMap&lt;SymbolRemappingReader::Key, StringRef&gt; llvm::InstrProfReaderItaniumRemapper&lt; HashTableImpl &gt;::MappedNames</definition>
        <argsstring></argsstring>
        <name>MappedNames</name>
        <qualifiedname>llvm::InstrProfReaderItaniumRemapper::MappedNames</qualifiedname>
        <briefdescription>
<para>Mapping from mangled name keys to the name used for the key in the profile data. </para>
        </briefdescription>
        <detaileddescription>
<para>FIXME: Can we store a location within the on-disk hash table instead of redoing lookup? </para>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/ProfileData/InstrProfReader.cpp" line="1162" column="12" bodyfile="lib/ProfileData/InstrProfReader.cpp" bodystart="1162" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="classllvm_1_1_instr_prof_reader_itanium_remapper_1ac166c464a4e0f36d16a3641feea26ae1" prot="private" static="no" mutable="no">
        <type><ref refid="classllvm_1_1_instr_prof_reader_index" kindref="compound">InstrProfReaderIndex</ref>&lt; HashTableImpl &gt; &amp;</type>
        <definition>InstrProfReaderIndex&lt;HashTableImpl&gt;&amp; llvm::InstrProfReaderItaniumRemapper&lt; HashTableImpl &gt;::Underlying</definition>
        <argsstring></argsstring>
        <name>Underlying</name>
        <qualifiedname>llvm::InstrProfReaderItaniumRemapper::Underlying</qualifiedname>
        <briefdescription>
<para>The real profile data reader. </para>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/ProfileData/InstrProfReader.cpp" line="1165" column="24" bodyfile="lib/ProfileData/InstrProfReader.cpp" bodystart="1165" bodyend="-1"/>
      </memberdef>
    </sectiondef>
    <sectiondef kind="public-func">
      <memberdef kind="function" id="classllvm_1_1_instr_prof_reader_itanium_remapper_1a3aed1473d681f1ded0d6e13ef15347fa" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type></type>
        <definition>llvm::InstrProfReaderItaniumRemapper&lt; HashTableImpl &gt;::InstrProfReaderItaniumRemapper</definition>
        <argsstring>(std::unique_ptr&lt; MemoryBuffer &gt; RemapBuffer, InstrProfReaderIndex&lt; HashTableImpl &gt; &amp;Underlying)</argsstring>
        <name>InstrProfReaderItaniumRemapper</name>
        <qualifiedname>llvm::InstrProfReaderItaniumRemapper::InstrProfReaderItaniumRemapper</qualifiedname>
        <param>
          <type>std::unique_ptr&lt; <ref refid="classllvm_1_1_memory_buffer" kindref="compound">MemoryBuffer</ref> &gt;</type>
          <declname>RemapBuffer</declname>
        </param>
        <param>
          <type><ref refid="classllvm_1_1_instr_prof_reader_index" kindref="compound">InstrProfReaderIndex</ref>&lt; HashTableImpl &gt; &amp;</type>
          <declname>Underlying</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/ProfileData/InstrProfReader.cpp" line="1070" column="3" bodyfile="lib/ProfileData/InstrProfReader.cpp" bodystart="1070" bodyend="1074"/>
        <references refid="namespacellvm_1abfc9c7ecf70f66901e439f7c04ef3dbb" compoundref="_s_t_l_extras_8h" startline="1873" endline="1875">llvm::move</references>
      </memberdef>
      <memberdef kind="function" id="classllvm_1_1_instr_prof_reader_itanium_remapper_1a9b37c058778bd80dba88bef8fdad0802" prot="public" static="no" const="no" explicit="no" inline="yes" virt="virtual">
        <type><ref refid="classllvm_1_1_error" kindref="compound">Error</ref></type>
        <definition>Error llvm::InstrProfReaderItaniumRemapper&lt; HashTableImpl &gt;::populateRemappings</definition>
        <argsstring>() override</argsstring>
        <name>populateRemappings</name>
        <qualifiedname>llvm::InstrProfReaderItaniumRemapper::populateRemappings</qualifiedname>
        <reimplements refid="classllvm_1_1_instr_prof_reader_remapper_1aed1ba031efeafd752d0336dba6d5de00">populateRemappings</reimplements>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/ProfileData/InstrProfReader.cpp" line="1103" column="9" bodyfile="lib/ProfileData/InstrProfReader.cpp" bodystart="1103" bodyend="1116"/>
        <references refid="classllvm_1_1_instr_prof_reader_itanium_remapper_1a2284c35b89fc03798620ccd10c1a81f9" compoundref="_instr_prof_reader_8cpp" startline="1077" endline="1090">llvm::InstrProfReaderItaniumRemapper&lt; HashTableImpl &gt;::extractName</references>
        <references refid="namespacellvm_1a98c6256d0644613c6b5b3e2ef06ef5ce" compoundref="_i_r_2_pass_manager_8h" startline="644">llvm::InnerAnalysisManagerProxy&lt; AnalysisManagerT, IRUnitT, ExtraArgTs... &gt;::Key</references>
        <references refid="classllvm_1_1_error_1a4dfd0813c3d0e0a30439b5a3e9196b59" compoundref="llvm_2_support_2_error_8h" startline="337" endline="337">llvm::Error::success</references>
      </memberdef>
      <memberdef kind="function" id="classllvm_1_1_instr_prof_reader_itanium_remapper_1ada5c91ffe6ce1366ef81b5cfea3c59fc" prot="public" static="no" const="no" explicit="no" inline="yes" virt="virtual">
        <type><ref refid="classllvm_1_1_error" kindref="compound">Error</ref></type>
        <definition>Error llvm::InstrProfReaderItaniumRemapper&lt; HashTableImpl &gt;::getRecords</definition>
        <argsstring>(StringRef FuncName, ArrayRef&lt; NamedInstrProfRecord &gt; &amp;Data) override</argsstring>
        <name>getRecords</name>
        <qualifiedname>llvm::InstrProfReaderItaniumRemapper::getRecords</qualifiedname>
        <reimplements refid="classllvm_1_1_instr_prof_reader_remapper_1a91de395f007322d92feedb65f73ee68d">getRecords</reimplements>
        <param>
          <type><ref refid="classllvm_1_1_string_ref" kindref="compound">StringRef</ref></type>
          <declname>FuncName</declname>
        </param>
        <param>
          <type><ref refid="classllvm_1_1_array_ref" kindref="compound">ArrayRef</ref>&lt; <ref refid="structllvm_1_1_named_instr_prof_record" kindref="compound">NamedInstrProfRecord</ref> &gt; &amp;</type>
          <declname>Data</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/ProfileData/InstrProfReader.cpp" line="1118" column="9" bodyfile="lib/ProfileData/InstrProfReader.cpp" bodystart="1118" bodyend="1148"/>
        <references refid="classllvm_1_1_string_ref_1a46f643f1eb1939362c7dd79361bcbd0e" compoundref="_string_ref_8h" startline="116" endline="116">llvm::StringRef::begin</references>
        <references refid="namespacellvm_1aa20539e89704d20b98b97e9c3feac934" compoundref="_instr_prof_8h" startline="189">llvm::Data</references>
        <references refid="classllvm_1_1_string_ref_1a2dc80c585ad5882da8cae7b5968f7e74" compoundref="_string_ref_8h" startline="147" endline="147">llvm::StringRef::empty</references>
        <references refid="classllvm_1_1_string_ref_1a996c7ca3dd6843ba5d55a7c217770270" compoundref="_string_ref_8h" startline="118" endline="118">llvm::StringRef::end</references>
        <references refid="namespacellvm_1ac226f3d2b9ca090171a8e0a8cb92c343a902b0d55fddef6f8d651fe1035b7d4bd" compoundref="_with_color_8h" startline="34">llvm::Error</references>
        <references refid="classllvm_1_1_instr_prof_reader_itanium_remapper_1a2284c35b89fc03798620ccd10c1a81f9" compoundref="_instr_prof_reader_8cpp" startline="1077" endline="1090">llvm::InstrProfReaderItaniumRemapper&lt; HashTableImpl &gt;::extractName</references>
        <references refid="namespacellvm_1a3285d0c2736154c3ea72dbecaa446eec" compoundref="llvm_2_support_2_error_8h" startline="954" endline="971">llvm::handleErrors</references>
        <references refid="namespacellvm_1a98c6256d0644613c6b5b3e2ef06ef5ce" compoundref="_i_r_2_pass_manager_8h" startline="644">llvm::InnerAnalysisManagerProxy&lt; AnalysisManagerT, IRUnitT, ExtraArgTs... &gt;::Key</references>
        <references refid="classllvm_1_1_instr_prof_reader_itanium_remapper_1ab9cbc0396671b685858c523ed763e724" compoundref="_instr_prof_reader_8cpp" startline="1094" endline="1101">llvm::InstrProfReaderItaniumRemapper&lt; HashTableImpl &gt;::reconstituteName</references>
        <references refid="classllvm_1_1_error_1a4dfd0813c3d0e0a30439b5a3e9196b59" compoundref="llvm_2_support_2_error_8h" startline="337" endline="337">llvm::Error::success</references>
        <references refid="namespacellvm_1aa218f6b22c8e271f5f9e92aa1fe51086ab87eee819cec0e1d8b2dfa938d14a77a" compoundref="_instr_prof_8h" startline="368">llvm::unknown_function</references>
      </memberdef>
    </sectiondef>
    <sectiondef kind="public-static-func">
      <memberdef kind="function" id="classllvm_1_1_instr_prof_reader_itanium_remapper_1a2284c35b89fc03798620ccd10c1a81f9" prot="public" static="yes" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type><ref refid="classllvm_1_1_string_ref" kindref="compound">StringRef</ref></type>
        <definition>static StringRef llvm::InstrProfReaderItaniumRemapper&lt; HashTableImpl &gt;::extractName</definition>
        <argsstring>(StringRef Name)</argsstring>
        <name>extractName</name>
        <qualifiedname>llvm::InstrProfReaderItaniumRemapper::extractName</qualifiedname>
        <param>
          <type><ref refid="classllvm_1_1_string_ref" kindref="compound">StringRef</ref></type>
          <declname>Name</declname>
        </param>
        <briefdescription>
<para>Extract the original function name from a PGO function name. </para>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/ProfileData/InstrProfReader.cpp" line="1077" column="20" bodyfile="lib/ProfileData/InstrProfReader.cpp" bodystart="1077" bodyend="1090"/>
        <references refid="namespacellvm_1abd3f34fde967eea4eab5a02d7920ef9a" compoundref="_global_value_8h" startline="46">llvm::GlobalIdentifierDelimiter</references>
        <referencedby refid="classllvm_1_1_instr_prof_reader_itanium_remapper_1ada5c91ffe6ce1366ef81b5cfea3c59fc" compoundref="_instr_prof_reader_8cpp" startline="1118" endline="1148">llvm::InstrProfReaderItaniumRemapper&lt; HashTableImpl &gt;::getRecords</referencedby>
        <referencedby refid="classllvm_1_1_instr_prof_reader_itanium_remapper_1a9b37c058778bd80dba88bef8fdad0802" compoundref="_instr_prof_reader_8cpp" startline="1103" endline="1116">llvm::InstrProfReaderItaniumRemapper&lt; HashTableImpl &gt;::populateRemappings</referencedby>
      </memberdef>
      <memberdef kind="function" id="classllvm_1_1_instr_prof_reader_itanium_remapper_1ab9cbc0396671b685858c523ed763e724" prot="public" static="yes" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type>void</type>
        <definition>static void llvm::InstrProfReaderItaniumRemapper&lt; HashTableImpl &gt;::reconstituteName</definition>
        <argsstring>(StringRef OrigName, StringRef ExtractedName, StringRef Replacement, SmallVectorImpl&lt; char &gt; &amp;Out)</argsstring>
        <name>reconstituteName</name>
        <qualifiedname>llvm::InstrProfReaderItaniumRemapper::reconstituteName</qualifiedname>
        <param>
          <type><ref refid="classllvm_1_1_string_ref" kindref="compound">StringRef</ref></type>
          <declname>OrigName</declname>
        </param>
        <param>
          <type><ref refid="classllvm_1_1_string_ref" kindref="compound">StringRef</ref></type>
          <declname>ExtractedName</declname>
        </param>
        <param>
          <type><ref refid="classllvm_1_1_string_ref" kindref="compound">StringRef</ref></type>
          <declname>Replacement</declname>
        </param>
        <param>
          <type><ref refid="classllvm_1_1_small_vector_impl" kindref="compound">SmallVectorImpl</ref>&lt; <ref refid="classchar" kindref="compound">char</ref> &gt; &amp;</type>
          <declname>Out</declname>
        </param>
        <briefdescription>
<para>Given a mangled name extracted from a PGO function name, and a new form for that mangled name, reconstitute the name. </para>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/ProfileData/InstrProfReader.cpp" line="1094" column="15" bodyfile="lib/ProfileData/InstrProfReader.cpp" bodystart="1094" bodyend="1101"/>
        <references refid="classllvm_1_1_string_ref_1a46f643f1eb1939362c7dd79361bcbd0e" compoundref="_string_ref_8h" startline="116" endline="116">llvm::StringRef::begin</references>
        <references refid="classllvm_1_1_small_vector_template_common_1a075e34e98605d0e7c289763a104869ac" compoundref="_small_vector_8h" startline="269" endline="269">llvm::SmallVectorTemplateCommon&lt; T, typename &gt;::end</references>
        <references refid="classllvm_1_1_string_ref_1a996c7ca3dd6843ba5d55a7c217770270" compoundref="_string_ref_8h" startline="118" endline="118">llvm::StringRef::end</references>
        <references refid="classllvm_1_1_small_vector_impl_1a94d23373106467003722f7d6c17b1528" compoundref="_small_vector_8h" startline="805" endline="807">llvm::SmallVectorImpl&lt; T &gt;::insert</references>
        <references refid="classllvm_1_1_small_vector_impl_1a499ea32ca1b8d16cedfe01d1e5b08f29" compoundref="_small_vector_8h" startline="663" endline="666">llvm::SmallVectorImpl&lt; T &gt;::reserve</references>
        <references refid="classllvm_1_1_string_ref_1a5db9240c74644c67759dd0f901fc3c7d" compoundref="_string_ref_8h" startline="150" endline="150">llvm::StringRef::size</references>
        <referencedby refid="classllvm_1_1_instr_prof_reader_itanium_remapper_1ada5c91ffe6ce1366ef81b5cfea3c59fc" compoundref="_instr_prof_reader_8cpp" startline="1118" endline="1148">llvm::InstrProfReaderItaniumRemapper&lt; HashTableImpl &gt;::getRecords</referencedby>
      </memberdef>
    </sectiondef>
    <briefdescription>
<para>A remapper that applies remappings based on a symbol remapping file. </para>
    </briefdescription>
    <detaileddescription>
    </detaileddescription>
    <inheritancegraph>
      <node id="1">
        <label>llvm::InstrProfReaderItaniumRemapper&lt; HashTableImpl &gt;</label>
        <link refid="classllvm_1_1_instr_prof_reader_itanium_remapper"/>
        <childnode refid="2" relation="public-inheritance">
        </childnode>
      </node>
      <node id="2">
        <label>llvm::InstrProfReaderRemapper</label>
        <link refid="classllvm_1_1_instr_prof_reader_remapper"/>
      </node>
    </inheritancegraph>
    <collaborationgraph>
      <node id="1">
        <label>llvm::InstrProfReaderItaniumRemapper&lt; HashTableImpl &gt;</label>
        <link refid="classllvm_1_1_instr_prof_reader_itanium_remapper"/>
        <childnode refid="2" relation="public-inheritance">
        </childnode>
      </node>
      <node id="2">
        <label>llvm::InstrProfReaderRemapper</label>
        <link refid="classllvm_1_1_instr_prof_reader_remapper"/>
      </node>
    </collaborationgraph>
    <location file="lib/ProfileData/InstrProfReader.cpp" line="1067" column="1" bodyfile="lib/ProfileData/InstrProfReader.cpp" bodystart="1068" bodyend="1166"/>
    <listofallmembers>
      <member refid="classllvm_1_1_instr_prof_reader_itanium_remapper_1a2284c35b89fc03798620ccd10c1a81f9" prot="public" virt="non-virtual"><scope>llvm::InstrProfReaderItaniumRemapper</scope><name>extractName</name></member>
      <member refid="classllvm_1_1_instr_prof_reader_itanium_remapper_1ada5c91ffe6ce1366ef81b5cfea3c59fc" prot="public" virt="virtual"><scope>llvm::InstrProfReaderItaniumRemapper</scope><name>getRecords</name></member>
      <member refid="classllvm_1_1_instr_prof_reader_itanium_remapper_1a3aed1473d681f1ded0d6e13ef15347fa" prot="public" virt="non-virtual"><scope>llvm::InstrProfReaderItaniumRemapper</scope><name>InstrProfReaderItaniumRemapper</name></member>
      <member refid="classllvm_1_1_instr_prof_reader_itanium_remapper_1a5474846a37bd7ea44c6987e4a934428d" prot="private" virt="non-virtual"><scope>llvm::InstrProfReaderItaniumRemapper</scope><name>MappedNames</name></member>
      <member refid="classllvm_1_1_instr_prof_reader_itanium_remapper_1a9b37c058778bd80dba88bef8fdad0802" prot="public" virt="virtual"><scope>llvm::InstrProfReaderItaniumRemapper</scope><name>populateRemappings</name></member>
      <member refid="classllvm_1_1_instr_prof_reader_itanium_remapper_1ab9cbc0396671b685858c523ed763e724" prot="public" virt="non-virtual"><scope>llvm::InstrProfReaderItaniumRemapper</scope><name>reconstituteName</name></member>
      <member refid="classllvm_1_1_instr_prof_reader_itanium_remapper_1a5d41439e50ccae2f88703b61820bc7fe" prot="private" virt="non-virtual"><scope>llvm::InstrProfReaderItaniumRemapper</scope><name>RemapBuffer</name></member>
      <member refid="classllvm_1_1_instr_prof_reader_itanium_remapper_1a133e722713d1ceaa781d8aaf612ba1a2" prot="private" virt="non-virtual"><scope>llvm::InstrProfReaderItaniumRemapper</scope><name>Remappings</name></member>
      <member refid="classllvm_1_1_instr_prof_reader_itanium_remapper_1ac166c464a4e0f36d16a3641feea26ae1" prot="private" virt="non-virtual"><scope>llvm::InstrProfReaderItaniumRemapper</scope><name>Underlying</name></member>
      <member refid="classllvm_1_1_instr_prof_reader_remapper_1acd290f55b99643c4b2c0b5521b87f382" prot="public" virt="virtual"><scope>llvm::InstrProfReaderItaniumRemapper</scope><name>~InstrProfReaderRemapper</name></member>
    </listofallmembers>
  </compounddef>
</doxygen>
