<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.15.0" xml:lang="en-US">
  <compounddef id="classllvm_1_1orc_1_1_memory_mapper" kind="class" language="C++" prot="public" abstract="yes">
    <compoundname>llvm::orc::MemoryMapper</compoundname>
    <derivedcompoundref refid="classllvm_1_1orc_1_1_in_process_memory_mapper" prot="public" virt="non-virtual">llvm::orc::InProcessMemoryMapper</derivedcompoundref>
    <derivedcompoundref refid="classllvm_1_1orc_1_1_shared_memory_mapper" prot="public" virt="non-virtual">llvm::orc::SharedMemoryMapper</derivedcompoundref>
    <includes refid="_memory_mapper_8h" local="yes">llvm/ExecutionEngine/Orc/MemoryMapper.h</includes>
    <innerclass refid="structllvm_1_1orc_1_1_memory_mapper_1_1_alloc_info" prot="public">llvm::orc::MemoryMapper::AllocInfo</innerclass>
    <sectiondef kind="public-type">
      <memberdef kind="typedef" id="classllvm_1_1orc_1_1_memory_mapper_1ae6b31499ac8e7d26c03092c14275d796" prot="public" static="no">
        <type><ref refid="classllvm_1_1unique__function" kindref="compound">unique_function</ref>&lt; void(<ref refid="classllvm_1_1_expected" kindref="compound">Expected</ref>&lt; <ref refid="structllvm_1_1orc_1_1_executor_addr_range" kindref="compound">ExecutorAddrRange</ref> &gt;)&gt;</type>
        <definition>using llvm::orc::MemoryMapper::OnReservedFunction =  unique_function&lt;void(Expected&lt;ExecutorAddrRange&gt;)&gt;</definition>
        <argsstring></argsstring>
        <name>OnReservedFunction</name>
        <qualifiedname>llvm::orc::MemoryMapper::OnReservedFunction</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" line="44" column="3" bodyfile="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" bodystart="44" bodyend="-1"/>
      </memberdef>
      <memberdef kind="typedef" id="classllvm_1_1orc_1_1_memory_mapper_1ae546b70ffe0d3b8451b9b2a3163c4372" prot="public" static="no">
        <type><ref refid="classllvm_1_1unique__function" kindref="compound">unique_function</ref>&lt; void(<ref refid="classllvm_1_1_expected" kindref="compound">Expected</ref>&lt; <ref refid="classllvm_1_1orc_1_1_executor_addr" kindref="compound">ExecutorAddr</ref> &gt;)&gt;</type>
        <definition>using llvm::orc::MemoryMapper::OnInitializedFunction =  unique_function&lt;void(Expected&lt;ExecutorAddr&gt;)&gt;</definition>
        <argsstring></argsstring>
        <name>OnInitializedFunction</name>
        <qualifiedname>llvm::orc::MemoryMapper::OnInitializedFunction</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" line="55" column="3" bodyfile="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" bodystart="55" bodyend="-1"/>
      </memberdef>
      <memberdef kind="typedef" id="classllvm_1_1orc_1_1_memory_mapper_1aedfe192af316b519758f8f400ff24ff5" prot="public" static="no">
        <type><ref refid="classllvm_1_1unique__function" kindref="compound">unique_function</ref>&lt; void(<ref refid="classllvm_1_1_error" kindref="compound">Error</ref>)&gt;</type>
        <definition>using llvm::orc::MemoryMapper::OnDeinitializedFunction =  unique_function&lt;void(Error)&gt;</definition>
        <argsstring></argsstring>
        <name>OnDeinitializedFunction</name>
        <qualifiedname>llvm::orc::MemoryMapper::OnDeinitializedFunction</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" line="66" column="3" bodyfile="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" bodystart="66" bodyend="-1"/>
      </memberdef>
      <memberdef kind="typedef" id="classllvm_1_1orc_1_1_memory_mapper_1a002df15a1ca5b57f024af911d7854e90" prot="public" static="no">
        <type><ref refid="classllvm_1_1unique__function" kindref="compound">unique_function</ref>&lt; void(<ref refid="classllvm_1_1_error" kindref="compound">Error</ref>)&gt;</type>
        <definition>using llvm::orc::MemoryMapper::OnReleasedFunction =  unique_function&lt;void(Error)&gt;</definition>
        <argsstring></argsstring>
        <name>OnReleasedFunction</name>
        <qualifiedname>llvm::orc::MemoryMapper::OnReleasedFunction</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" line="73" column="3" bodyfile="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" bodystart="73" bodyend="-1"/>
      </memberdef>
    </sectiondef>
    <sectiondef kind="public-func">
      <memberdef kind="function" id="classllvm_1_1orc_1_1_memory_mapper_1a3ee39508298ac018e8df94d84009f582" prot="public" static="no" const="no" explicit="no" inline="no" virt="pure-virtual">
        <type><ref refid="classunsigned" kindref="compound">unsigned</ref> int</type>
        <definition>virtual unsigned int llvm::orc::MemoryMapper::getPageSize</definition>
        <argsstring>()=0</argsstring>
        <name>getPageSize</name>
        <qualifiedname>llvm::orc::MemoryMapper::getPageSize</qualifiedname>
        <reimplementedby refid="classllvm_1_1orc_1_1_in_process_memory_mapper_1ad9c425a42bde93665721fc7ecfcac4d4">getPageSize</reimplementedby>
        <reimplementedby refid="classllvm_1_1orc_1_1_shared_memory_mapper_1ae400b1b0e333e4fc52f2e621fdb24f45">getPageSize</reimplementedby>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" line="47" column="24"/>
      </memberdef>
      <memberdef kind="function" id="classllvm_1_1orc_1_1_memory_mapper_1ad3417e8268428f7d688cbd890e907aa4" prot="public" static="no" const="no" explicit="no" inline="no" virt="pure-virtual">
        <type>void</type>
        <definition>virtual void llvm::orc::MemoryMapper::reserve</definition>
        <argsstring>(size_t NumBytes, OnReservedFunction OnReserved)=0</argsstring>
        <name>reserve</name>
        <qualifiedname>llvm::orc::MemoryMapper::reserve</qualifiedname>
        <reimplementedby refid="classllvm_1_1orc_1_1_in_process_memory_mapper_1a7567e026468fa261fb6186a2d30115ff">reserve</reimplementedby>
        <reimplementedby refid="classllvm_1_1orc_1_1_shared_memory_mapper_1a422f2a2c01a04dbb4fe4100fc74b90ca">reserve</reimplementedby>
        <param>
          <type><ref refid="classsize__t" kindref="compound">size_t</ref></type>
          <declname>NumBytes</declname>
        </param>
        <param>
          <type><ref refid="classllvm_1_1orc_1_1_memory_mapper_1ae6b31499ac8e7d26c03092c14275d796" kindref="member">OnReservedFunction</ref></type>
          <declname>OnReserved</declname>
        </param>
        <briefdescription>
<para>Reserves address space in executor process. </para>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" line="50" column="16"/>
      </memberdef>
      <memberdef kind="function" id="classllvm_1_1orc_1_1_memory_mapper_1a1f6dd1df2bf89da79d77401886fd519a" prot="public" static="no" const="no" explicit="no" inline="no" virt="pure-virtual">
        <type><ref refid="classchar" kindref="compound">char</ref> *</type>
        <definition>virtual char * llvm::orc::MemoryMapper::prepare</definition>
        <argsstring>(ExecutorAddr Addr, size_t ContentSize)=0</argsstring>
        <name>prepare</name>
        <qualifiedname>llvm::orc::MemoryMapper::prepare</qualifiedname>
        <reimplementedby refid="classllvm_1_1orc_1_1_in_process_memory_mapper_1ad56d2316a6611ee7bf8958565aee64a2">prepare</reimplementedby>
        <reimplementedby refid="classllvm_1_1orc_1_1_shared_memory_mapper_1a8295d4ee787fed22f7a1b37c7b0a559c">prepare</reimplementedby>
        <param>
          <type><ref refid="classllvm_1_1orc_1_1_executor_addr" kindref="compound">ExecutorAddr</ref></type>
          <declname>Addr</declname>
        </param>
        <param>
          <type><ref refid="classsize__t" kindref="compound">size_t</ref></type>
          <declname>ContentSize</declname>
        </param>
        <briefdescription>
<para>Provides working memory. </para>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" line="53" column="16"/>
      </memberdef>
      <memberdef kind="function" id="classllvm_1_1orc_1_1_memory_mapper_1a65b17476061df904a495d654624204e3" prot="public" static="no" const="no" explicit="no" inline="no" virt="pure-virtual">
        <type>void</type>
        <definition>virtual void llvm::orc::MemoryMapper::initialize</definition>
        <argsstring>(AllocInfo &amp;AI, OnInitializedFunction OnInitialized)=0</argsstring>
        <name>initialize</name>
        <qualifiedname>llvm::orc::MemoryMapper::initialize</qualifiedname>
        <reimplementedby refid="classllvm_1_1orc_1_1_in_process_memory_mapper_1a492e4d6b2bf660e7c499e22f85b72440">initialize</reimplementedby>
        <reimplementedby refid="classllvm_1_1orc_1_1_shared_memory_mapper_1a6776668e9d06d4ffccc140a13cd25095">initialize</reimplementedby>
        <param>
          <type><ref refid="structllvm_1_1orc_1_1_memory_mapper_1_1_alloc_info" kindref="compound">AllocInfo</ref> &amp;</type>
          <declname>AI</declname>
        </param>
        <param>
          <type><ref refid="classllvm_1_1orc_1_1_memory_mapper_1ae546b70ffe0d3b8451b9b2a3163c4372" kindref="member">OnInitializedFunction</ref></type>
          <declname>OnInitialized</declname>
        </param>
        <briefdescription>
<para>Ensures executor memory is synchronized with working copy memory, sends functions to be called after initilization and before deinitialization and applies memory protections Returns a unique address identifying the allocation. </para>
        </briefdescription>
        <detaileddescription>
<para>This address should be passed to deinitialize to run deallocation actions (and reset permissions where possible). </para>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" line="63" column="16"/>
      </memberdef>
      <memberdef kind="function" id="classllvm_1_1orc_1_1_memory_mapper_1abf09157d03e5d1d4dcc6bf6deb67085f" prot="public" static="no" const="no" explicit="no" inline="no" virt="pure-virtual">
        <type>void</type>
        <definition>virtual void llvm::orc::MemoryMapper::deinitialize</definition>
        <argsstring>(ArrayRef&lt; ExecutorAddr &gt; Allocations, OnDeinitializedFunction OnDeInitialized)=0</argsstring>
        <name>deinitialize</name>
        <qualifiedname>llvm::orc::MemoryMapper::deinitialize</qualifiedname>
        <reimplementedby refid="classllvm_1_1orc_1_1_in_process_memory_mapper_1ac501a4fc8b8826d6451a9ae117ca3e0b">deinitialize</reimplementedby>
        <reimplementedby refid="classllvm_1_1orc_1_1_shared_memory_mapper_1a49a0e809cf10b6a741b5b9d62698073b">deinitialize</reimplementedby>
        <param>
          <type><ref refid="classllvm_1_1_array_ref" kindref="compound">ArrayRef</ref>&lt; <ref refid="classllvm_1_1orc_1_1_executor_addr" kindref="compound">ExecutorAddr</ref> &gt;</type>
          <declname>Allocations</declname>
        </param>
        <param>
          <type><ref refid="classllvm_1_1orc_1_1_memory_mapper_1aedfe192af316b519758f8f400ff24ff5" kindref="member">OnDeinitializedFunction</ref></type>
          <declname>OnDeInitialized</declname>
        </param>
        <briefdescription>
<para>Runs previously specified deinitialization actions Executor addresses returned by initialize should be passed. </para>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" line="70" column="16"/>
      </memberdef>
      <memberdef kind="function" id="classllvm_1_1orc_1_1_memory_mapper_1a5378c64c63dbec6bf94e44336f5c32e3" prot="public" static="no" const="no" explicit="no" inline="no" virt="pure-virtual">
        <type>void</type>
        <definition>virtual void llvm::orc::MemoryMapper::release</definition>
        <argsstring>(ArrayRef&lt; ExecutorAddr &gt; Reservations, OnReleasedFunction OnRelease)=0</argsstring>
        <name>release</name>
        <qualifiedname>llvm::orc::MemoryMapper::release</qualifiedname>
        <reimplementedby refid="classllvm_1_1orc_1_1_in_process_memory_mapper_1ae7b7c908c1016860ed8c53965f8f167a">release</reimplementedby>
        <reimplementedby refid="classllvm_1_1orc_1_1_shared_memory_mapper_1ac8c1571f24dc447307937d7a1c82ee8b">release</reimplementedby>
        <param>
          <type><ref refid="classllvm_1_1_array_ref" kindref="compound">ArrayRef</ref>&lt; <ref refid="classllvm_1_1orc_1_1_executor_addr" kindref="compound">ExecutorAddr</ref> &gt;</type>
          <declname>Reservations</declname>
        </param>
        <param>
          <type><ref refid="classllvm_1_1orc_1_1_memory_mapper_1a002df15a1ca5b57f024af911d7854e90" kindref="member">OnReleasedFunction</ref></type>
          <declname>OnRelease</declname>
        </param>
        <briefdescription>
<para>Release address space acquired through <ref refid="classllvm_1_1orc_1_1_memory_mapper_1ad3417e8268428f7d688cbd890e907aa4" kindref="member">reserve()</ref> </para>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" line="76" column="16"/>
      </memberdef>
      <memberdef kind="function" id="classllvm_1_1orc_1_1_memory_mapper_1aaac141615bd5d8a6681ca7b1fc5b72c1" prot="public" static="no" const="no" explicit="no" inline="no" virt="virtual">
        <type></type>
        <definition>llvm::orc::MemoryMapper::~MemoryMapper</definition>
        <argsstring>()</argsstring>
        <name>~MemoryMapper</name>
        <qualifiedname>llvm::orc::MemoryMapper::~MemoryMapper</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" line="79" column="11" bodyfile="lib/ExecutionEngine/Orc/MemoryMapper.cpp" bodystart="30" bodyend="30"/>
      </memberdef>
    </sectiondef>
    <briefdescription>
<para>Manages mapping, content transfer and protections for JIT memory. </para>
    </briefdescription>
    <detaileddescription>
    </detaileddescription>
    <inheritancegraph>
      <node id="2">
        <label>llvm::orc::InProcessMemoryMapper</label>
        <link refid="classllvm_1_1orc_1_1_in_process_memory_mapper"/>
        <childnode refid="1" relation="public-inheritance">
        </childnode>
      </node>
      <node id="1">
        <label>llvm::orc::MemoryMapper</label>
        <link refid="classllvm_1_1orc_1_1_memory_mapper"/>
      </node>
      <node id="3">
        <label>llvm::orc::SharedMemoryMapper</label>
        <link refid="classllvm_1_1orc_1_1_shared_memory_mapper"/>
        <childnode refid="1" relation="public-inheritance">
        </childnode>
      </node>
    </inheritancegraph>
    <location file="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" line="26" column="1" bodyfile="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" bodystart="26" bodyend="80"/>
    <listofallmembers>
      <member refid="classllvm_1_1orc_1_1_memory_mapper_1abf09157d03e5d1d4dcc6bf6deb67085f" prot="public" virt="pure-virtual"><scope>llvm::orc::MemoryMapper</scope><name>deinitialize</name></member>
      <member refid="classllvm_1_1orc_1_1_memory_mapper_1a3ee39508298ac018e8df94d84009f582" prot="public" virt="pure-virtual"><scope>llvm::orc::MemoryMapper</scope><name>getPageSize</name></member>
      <member refid="classllvm_1_1orc_1_1_memory_mapper_1a65b17476061df904a495d654624204e3" prot="public" virt="pure-virtual"><scope>llvm::orc::MemoryMapper</scope><name>initialize</name></member>
      <member refid="classllvm_1_1orc_1_1_memory_mapper_1aedfe192af316b519758f8f400ff24ff5" prot="public" virt="non-virtual"><scope>llvm::orc::MemoryMapper</scope><name>OnDeinitializedFunction</name></member>
      <member refid="classllvm_1_1orc_1_1_memory_mapper_1ae546b70ffe0d3b8451b9b2a3163c4372" prot="public" virt="non-virtual"><scope>llvm::orc::MemoryMapper</scope><name>OnInitializedFunction</name></member>
      <member refid="classllvm_1_1orc_1_1_memory_mapper_1a002df15a1ca5b57f024af911d7854e90" prot="public" virt="non-virtual"><scope>llvm::orc::MemoryMapper</scope><name>OnReleasedFunction</name></member>
      <member refid="classllvm_1_1orc_1_1_memory_mapper_1ae6b31499ac8e7d26c03092c14275d796" prot="public" virt="non-virtual"><scope>llvm::orc::MemoryMapper</scope><name>OnReservedFunction</name></member>
      <member refid="classllvm_1_1orc_1_1_memory_mapper_1a1f6dd1df2bf89da79d77401886fd519a" prot="public" virt="pure-virtual"><scope>llvm::orc::MemoryMapper</scope><name>prepare</name></member>
      <member refid="classllvm_1_1orc_1_1_memory_mapper_1a5378c64c63dbec6bf94e44336f5c32e3" prot="public" virt="pure-virtual"><scope>llvm::orc::MemoryMapper</scope><name>release</name></member>
      <member refid="classllvm_1_1orc_1_1_memory_mapper_1ad3417e8268428f7d688cbd890e907aa4" prot="public" virt="pure-virtual"><scope>llvm::orc::MemoryMapper</scope><name>reserve</name></member>
      <member refid="classllvm_1_1orc_1_1_memory_mapper_1aaac141615bd5d8a6681ca7b1fc5b72c1" prot="public" virt="virtual"><scope>llvm::orc::MemoryMapper</scope><name>~MemoryMapper</name></member>
    </listofallmembers>
  </compounddef>
</doxygen>
