<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.14.0" xml:lang="en-US">
  <compounddef id="classanonymous__namespace_02_value_mapper_8cpp_03_1_1_m_d_node_mapper" kind="class" language="C++" prot="public">
    <compoundname>anonymous_namespace{ValueMapper.cpp}::MDNodeMapper</compoundname>
    <innerclass refid="structanonymous__namespace_02_value_mapper_8cpp_03_1_1_m_d_node_mapper_1_1_data" prot="private">anonymous_namespace{ValueMapper.cpp}::MDNodeMapper::Data</innerclass>
    <innerclass refid="structanonymous__namespace_02_value_mapper_8cpp_03_1_1_m_d_node_mapper_1_1_uniqued_graph" prot="private">anonymous_namespace{ValueMapper.cpp}::MDNodeMapper::UniquedGraph</innerclass>
    <sectiondef kind="private-attrib">
      <memberdef kind="variable" id="classanonymous__namespace_02_value_mapper_8cpp_03_1_1_m_d_node_mapper_1a9f495df041166b52263e1bee5dc4a59f" prot="private" static="no" mutable="no">
        <type><ref refid="classanonymous__namespace_02_value_mapper_8cpp_03_1_1_mapper" kindref="compound">Mapper</ref> &amp;</type>
        <definition>Mapper&amp; anonymous_namespace{ValueMapper.cpp}::MDNodeMapper::M</definition>
        <argsstring></argsstring>
        <name>M</name>
        <qualifiedname>anonymous_namespace{ValueMapper.cpp}::MDNodeMapper::M</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/Transforms/Utils/ValueMapper.cpp" line="193" column="10" bodyfile="lib/Transforms/Utils/ValueMapper.cpp" bodystart="193" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="classanonymous__namespace_02_value_mapper_8cpp_03_1_1_m_d_node_mapper_1ae239bcf674a7148aa155af2d184a7902" prot="private" static="no" mutable="no">
        <type><ref refid="classllvm_1_1_small_vector" kindref="compound">SmallVector</ref>&lt; <ref refid="classllvm_1_1_m_d_node" kindref="compound">MDNode</ref> *, 16 &gt;</type>
        <definition>SmallVector&lt;MDNode *, 16&gt; anonymous_namespace{ValueMapper.cpp}::MDNodeMapper::DistinctWorklist</definition>
        <argsstring></argsstring>
        <name>DistinctWorklist</name>
        <qualifiedname>anonymous_namespace{ValueMapper.cpp}::MDNodeMapper::DistinctWorklist</qualifiedname>
        <briefdescription>
<para>Worklist of distinct nodes whose operands need to be remapped. </para>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/Transforms/Utils/ValueMapper.cpp" line="218" column="15" bodyfile="lib/Transforms/Utils/ValueMapper.cpp" bodystart="218" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="classanonymous__namespace_02_value_mapper_8cpp_03_1_1_m_d_node_mapper_1af58edfe4b549831024e107cc071bf271" prot="private" static="no" mutable="no">
        <type><ref refid="classllvm_1_1_small_dense_map" kindref="compound">SmallDenseMap</ref>&lt; <ref refid="_a_arch64_promote_constant_8cpp_1a90f8350fecae261c25be85d38b451bff" kindref="member">const</ref> <ref refid="classllvm_1_1_metadata" kindref="compound">Metadata</ref> *, Data, 32 &gt;</type>
        <definition>SmallDenseMap&lt;const Metadata *, Data, 32&gt; anonymous_namespace{ValueMapper.cpp}::MDNodeMapper::InfoStorage</definition>
        <argsstring></argsstring>
        <name>InfoStorage</name>
        <qualifiedname>anonymous_namespace{ValueMapper.cpp}::MDNodeMapper::InfoStorage</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/Transforms/Utils/ValueMapper.cpp" line="221" column="17" bodyfile="lib/Transforms/Utils/ValueMapper.cpp" bodystart="221" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="classanonymous__namespace_02_value_mapper_8cpp_03_1_1_m_d_node_mapper_1a482f4c0b884d200b1efc83bb42c51693" prot="private" static="no" mutable="no">
        <type><ref refid="classllvm_1_1_small_vector" kindref="compound">SmallVector</ref>&lt; <ref refid="classllvm_1_1_m_d_node" kindref="compound">MDNode</ref> *, 16 &gt;</type>
        <definition>SmallVector&lt;MDNode *, 16&gt; anonymous_namespace{ValueMapper.cpp}::MDNodeMapper::POTStorage</definition>
        <argsstring></argsstring>
        <name>POTStorage</name>
        <qualifiedname>anonymous_namespace{ValueMapper.cpp}::MDNodeMapper::POTStorage</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/Transforms/Utils/ValueMapper.cpp" line="222" column="15" bodyfile="lib/Transforms/Utils/ValueMapper.cpp" bodystart="222" bodyend="-1"/>
      </memberdef>
    </sectiondef>
    <sectiondef kind="public-func">
      <memberdef kind="function" id="classanonymous__namespace_02_value_mapper_8cpp_03_1_1_m_d_node_mapper_1a332d6883ae1fe5af9bda81416f7bfbe0" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type></type>
        <definition>anonymous_namespace{ValueMapper.cpp}::MDNodeMapper::MDNodeMapper</definition>
        <argsstring>(Mapper &amp;M)</argsstring>
        <name>MDNodeMapper</name>
        <qualifiedname>anonymous_namespace{ValueMapper.cpp}::MDNodeMapper::MDNodeMapper</qualifiedname>
        <param>
          <type><ref refid="classanonymous__namespace_02_value_mapper_8cpp_03_1_1_mapper" kindref="compound">Mapper</ref> &amp;</type>
          <declname>M</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/Transforms/Utils/ValueMapper.cpp" line="225" column="3" bodyfile="lib/Transforms/Utils/ValueMapper.cpp" bodystart="225" bodyend="225"/>
      </memberdef>
      <memberdef kind="function" id="classanonymous__namespace_02_value_mapper_8cpp_03_1_1_m_d_node_mapper_1a19e14dd6bf8fd49e43925ade95aab06d" prot="public" static="no" const="no" explicit="no" inline="no" virt="non-virtual">
        <type><ref refid="classllvm_1_1_metadata" kindref="compound">Metadata</ref> *</type>
        <definition>Metadata * MDNodeMapper::map</definition>
        <argsstring>(const MDNode &amp;N)</argsstring>
        <name>map</name>
        <qualifiedname>anonymous_namespace{ValueMapper.cpp}::MDNodeMapper::map</qualifiedname>
        <param>
          <type><ref refid="_a_arch64_promote_constant_8cpp_1a90f8350fecae261c25be85d38b451bff" kindref="member">const</ref> <ref refid="classllvm_1_1_m_d_node" kindref="compound">MDNode</ref> &amp;</type>
          <declname>N</declname>
        </param>
        <briefdescription>
<para>Map a metadata node (and its transitive operands). </para>
        </briefdescription>
        <detaileddescription>
<para>Map all the (unmapped) nodes in the subgraph under <computeroutput>N</computeroutput>. The iterative algorithm handles distinct nodes and uniqued node subgraphs using different strategies.</para>
<para>Distinct nodes are immediately mapped and added to <emphasis>DistinctWorklist</emphasis> using <emphasis>mapDistinctNode()</emphasis>. Their mapping can always be computed immediately without visiting operands, even if their operands change.</para>
<para>The mapping for uniqued nodes depends on whether their operands change. <emphasis>mapTopLevelUniquedNode()</emphasis> traverses the transitive uniqued subgraph of a node to calculate uniqued node mappings in bulk. Distinct leafs are added to <emphasis>DistinctWorklist</emphasis> with <emphasis>mapDistinctNode()</emphasis>.</para>
<para>After mapping <computeroutput>N</computeroutput> itself, this function remaps the operands of the distinct nodes in <emphasis>DistinctWorklist</emphasis> until the entire subgraph under <computeroutput>N</computeroutput> has been mapped. </para>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/Transforms/Utils/ValueMapper.cpp" line="245" column="12" bodyfile="lib/Transforms/Utils/ValueMapper.cpp" bodystart="842" bodyend="859"/>
        <references refid="_s_i_lower_control_flow_8cpp_1a4868c5d81c5ccc98c47aeab6244346a0">assert</references>
        <references refid="regcomp_8c_1a0240ac851181b84ac374872dc5434ee4">N</references>
        <references refid="_v_plan_8cpp_1aaa122781f91b3e8bc730b2c5b7c07a05" compoundref="_v_plan_8cpp" startline="1153" endline="1189">remapOperands</references>
        <references refid="namespacellvm_1a77724415203930efd07d7098cb1e437da9a24bd8dba1bef2753bc3f087435ae7f" compoundref="_value_mapper_8h" startline="78">llvm::RF_NoModuleLevelChanges</references>
      </memberdef>
      <memberdef kind="function" id="classanonymous__namespace_02_value_mapper_8cpp_03_1_1_m_d_node_mapper_1a7c38ca83c916472e5580992d97616ba9" prot="public" static="no" const="no" explicit="no" inline="no" virt="non-virtual">
        <templateparamlist>
          <param>
            <type>class OperandMapper</type>
          </param>
        </templateparamlist>
        <type>void</type>
        <definition>void anonymous_namespace{ValueMapper.cpp}::MDNodeMapper::remapOperands</definition>
        <argsstring>(MDNode &amp;N, OperandMapper mapOperand)</argsstring>
        <name>remapOperands</name>
        <qualifiedname>anonymous_namespace{ValueMapper.cpp}::MDNodeMapper::remapOperands</qualifiedname>
        <param>
          <type><ref refid="classllvm_1_1_m_d_node" kindref="compound">MDNode</ref> &amp;</type>
          <declname>N</declname>
        </param>
        <param>
          <type>OperandMapper</type>
          <declname>mapOperand</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/Transforms/Utils/ValueMapper.cpp" line="696" column="6" bodyfile="lib/Transforms/Utils/ValueMapper.cpp" bodystart="696" bodyend="708"/>
        <references refid="_s_i_lower_control_flow_8cpp_1a4868c5d81c5ccc98c47aeab6244346a0">assert</references>
        <references refid="namespacellvm_1a7c46c742c31be54870e2038048e6b391" compoundref="_debug_8cpp" startline="163" endline="181">llvm::dbgs</references>
        <references refid="_m_d5_8cpp_1ac0eafdc9ee161b71e7af98af736952fd" compoundref="_m_d5_8cpp" startline="58">I</references>
        <references refid="_debug_8h_1a196897517069dda1bdb549e24468f7d7" compoundref="_debug_8h" startline="106">LLVM_DEBUG</references>
        <references refid="regcomp_8c_1a0240ac851181b84ac374872dc5434ee4">N</references>
      </memberdef>
    </sectiondef>
    <sectiondef kind="private-func">
      <memberdef kind="function" id="classanonymous__namespace_02_value_mapper_8cpp_03_1_1_m_d_node_mapper_1a7e7ef8eee51633a39f3cab453baa7ff0" prot="private" static="no" const="no" explicit="no" inline="no" virt="non-virtual">
        <type><ref refid="classllvm_1_1_metadata" kindref="compound">Metadata</ref> *</type>
        <definition>Metadata * MDNodeMapper::mapTopLevelUniquedNode</definition>
        <argsstring>(const MDNode &amp;FirstN)</argsstring>
        <name>mapTopLevelUniquedNode</name>
        <qualifiedname>anonymous_namespace{ValueMapper.cpp}::MDNodeMapper::mapTopLevelUniquedNode</qualifiedname>
        <param>
          <type><ref refid="_a_arch64_promote_constant_8cpp_1a90f8350fecae261c25be85d38b451bff" kindref="member">const</ref> <ref refid="classllvm_1_1_m_d_node" kindref="compound">MDNode</ref> &amp;</type>
          <declname>FirstN</declname>
        </param>
        <briefdescription>
<para>Map a top-level uniqued node and the uniqued subgraph underneath it. </para>
        </briefdescription>
        <detaileddescription>
<para>This builds up a post-order traversal of the (unmapped) uniqued subgraph underneath <computeroutput>FirstN</computeroutput> and calculates the nodes&apos; mapping. Each node uses the identity mapping (<emphasis>Mapper::mapToSelf()</emphasis>) as long as all of its operands uses the identity mapping.</para>
<para>The algorithm works as follows:</para>
<para><orderedlist>
<listitem><para><emphasis>createPOT()</emphasis>: traverse the uniqued subgraph under <computeroutput>FirstN</computeroutput> and save the post-order traversal in the given <emphasis>UniquedGraph</emphasis>, tracking nodes&apos; operands change.</para>
</listitem><listitem><para><emphasis>UniquedGraph::propagateChanges()</emphasis>: propagate changed operands through the <emphasis>UniquedGraph</emphasis> until fixed point, following the rule that if a node changes, any node that references must also change.</para>
</listitem><listitem><para><emphasis>mapNodesInPOT()</emphasis>: map the uniqued nodes, creating new uniqued nodes (referencing new operands) where necessary. </para>
</listitem></orderedlist>
</para>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/Transforms/Utils/ValueMapper.cpp" line="267" column="12" bodyfile="lib/Transforms/Utils/ValueMapper.cpp" bodystart="861" bodyend="881"/>
      </memberdef>
      <memberdef kind="function" id="classanonymous__namespace_02_value_mapper_8cpp_03_1_1_m_d_node_mapper_1a80f5a8ab4da21b753ff41987e1b5741a" prot="private" static="no" const="no" explicit="no" inline="no" virt="non-virtual">
        <type>std::optional&lt; <ref refid="classllvm_1_1_metadata" kindref="compound">Metadata</ref> * &gt;</type>
        <definition>std::optional&lt; Metadata * &gt; MDNodeMapper::tryToMapOperand</definition>
        <argsstring>(const Metadata *Op)</argsstring>
        <name>tryToMapOperand</name>
        <qualifiedname>anonymous_namespace{ValueMapper.cpp}::MDNodeMapper::tryToMapOperand</qualifiedname>
        <param>
          <type><ref refid="_a_arch64_promote_constant_8cpp_1a90f8350fecae261c25be85d38b451bff" kindref="member">const</ref> <ref refid="classllvm_1_1_metadata" kindref="compound">Metadata</ref> *</type>
          <declname>Op</declname>
        </param>
        <briefdescription>
<para>Try to map the operand of an <emphasis><ref refid="classllvm_1_1_m_d_node" kindref="compound">MDNode</ref></emphasis>. </para>
        </briefdescription>
        <detaileddescription>
<para>If <computeroutput><ref refid="namespacellvm_1ab471937b9a227e70c7fe8bd9604014d6" kindref="member">Op</ref></computeroutput> is already mapped, return the mapping. If it&apos;s not an <emphasis><ref refid="classllvm_1_1_m_d_node" kindref="compound">MDNode</ref></emphasis>, compute and return the mapping. If it&apos;s a distinct <emphasis><ref refid="classllvm_1_1_m_d_node" kindref="compound">MDNode</ref></emphasis>, return the result of <emphasis>mapDistinctNode()</emphasis>.</para>
<para><simplesect kind="return"><para>std::nullopt if <computeroutput><ref refid="namespacellvm_1ab471937b9a227e70c7fe8bd9604014d6" kindref="member">Op</ref></computeroutput> is an unmapped uniqued <emphasis><ref refid="classllvm_1_1_m_d_node" kindref="compound">MDNode</ref></emphasis>. </para>
</simplesect>
<simplesect kind="post"><para>getMappedOp(Op) only returns std::nullopt if this returns std::nullopt. </para>
</simplesect>
</para>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/Transforms/Utils/ValueMapper.cpp" line="278" column="17" bodyfile="lib/Transforms/Utils/ValueMapper.cpp" bodystart="616" bodyend="637"/>
      </memberdef>
      <memberdef kind="function" id="classanonymous__namespace_02_value_mapper_8cpp_03_1_1_m_d_node_mapper_1ab062c4f5119fb7b9a647d4f300b2d1c5" prot="private" static="no" const="no" explicit="no" inline="no" virt="non-virtual">
        <type><ref refid="classllvm_1_1_m_d_node" kindref="compound">MDNode</ref> *</type>
        <definition>MDNode * MDNodeMapper::mapDistinctNode</definition>
        <argsstring>(const MDNode &amp;N)</argsstring>
        <name>mapDistinctNode</name>
        <qualifiedname>anonymous_namespace{ValueMapper.cpp}::MDNodeMapper::mapDistinctNode</qualifiedname>
        <param>
          <type><ref refid="_a_arch64_promote_constant_8cpp_1a90f8350fecae261c25be85d38b451bff" kindref="member">const</ref> <ref refid="classllvm_1_1_m_d_node" kindref="compound">MDNode</ref> &amp;</type>
          <declname>N</declname>
        </param>
        <briefdescription>
<para>Map a distinct node. </para>
        </briefdescription>
        <detaileddescription>
<para>Return the mapping for the distinct node <computeroutput>N</computeroutput>, saving the result in <emphasis>DistinctWorklist</emphasis> for later remapping.</para>
<para><simplesect kind="pre"><para><computeroutput>N</computeroutput> is not yet mapped. </para>
</simplesect>
<simplesect kind="pre"><para><computeroutput>N.isDistinct()</computeroutput>. </para>
</simplesect>
</para>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/Transforms/Utils/ValueMapper.cpp" line="287" column="10" bodyfile="lib/Transforms/Utils/ValueMapper.cpp" bodystart="639" bodyend="655"/>
      </memberdef>
      <memberdef kind="function" id="classanonymous__namespace_02_value_mapper_8cpp_03_1_1_m_d_node_mapper_1a8f0af01bf4f2f7b7a63d5789c1607495" prot="private" static="no" const="yes" explicit="no" inline="no" virt="non-virtual">
        <type>std::optional&lt; <ref refid="classllvm_1_1_metadata" kindref="compound">Metadata</ref> * &gt;</type>
        <definition>std::optional&lt; Metadata * &gt; MDNodeMapper::getMappedOp</definition>
        <argsstring>(const Metadata *Op) const</argsstring>
        <name>getMappedOp</name>
        <qualifiedname>anonymous_namespace{ValueMapper.cpp}::MDNodeMapper::getMappedOp</qualifiedname>
        <param>
          <type><ref refid="_a_arch64_promote_constant_8cpp_1a90f8350fecae261c25be85d38b451bff" kindref="member">const</ref> <ref refid="classllvm_1_1_metadata" kindref="compound">Metadata</ref> *</type>
          <declname>Op</declname>
        </param>
        <briefdescription>
<para>Get a previously mapped node. </para>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/Transforms/Utils/ValueMapper.cpp" line="290" column="17" bodyfile="lib/Transforms/Utils/ValueMapper.cpp" bodystart="664" bodyend="678"/>
      </memberdef>
      <memberdef kind="function" id="classanonymous__namespace_02_value_mapper_8cpp_03_1_1_m_d_node_mapper_1a9dace28a02e57b477f817c9f9030a5fc" prot="private" static="no" const="no" explicit="no" inline="no" virt="non-virtual">
        <type><ref refid="classbool" kindref="compound">bool</ref></type>
        <definition>bool MDNodeMapper::createPOT</definition>
        <argsstring>(UniquedGraph &amp;G, const MDNode &amp;FirstN)</argsstring>
        <name>createPOT</name>
        <qualifiedname>anonymous_namespace{ValueMapper.cpp}::MDNodeMapper::createPOT</qualifiedname>
        <param>
          <type>UniquedGraph &amp;</type>
          <declname>G</declname>
        </param>
        <param>
          <type><ref refid="_a_arch64_promote_constant_8cpp_1a90f8350fecae261c25be85d38b451bff" kindref="member">const</ref> <ref refid="classllvm_1_1_m_d_node" kindref="compound">MDNode</ref> &amp;</type>
          <declname>FirstN</declname>
        </param>
        <briefdescription>
<para>Create a post-order traversal of an unmapped uniqued node subgraph. </para>
        </briefdescription>
        <detaileddescription>
<para>This traverses the metadata graph deeply enough to map <computeroutput>FirstN</computeroutput>. It uses <emphasis>tryToMapOperand()</emphasis> (via <emphasis>Mapper::mapSimplifiedNode()</emphasis>), so any metadata that has already been mapped will not be part of the POT.</para>
<para>Each node that has a changed operand from outside the graph (e.g., a distinct node, an already-mapped uniqued node, or <emphasis><ref refid="classllvm_1_1_constant_as_metadata" kindref="compound">ConstantAsMetadata</ref></emphasis>) is marked with <emphasis>Data::HasChanged</emphasis>.</para>
<para><simplesect kind="return"><para><computeroutput>true</computeroutput> if any nodes in <computeroutput>G</computeroutput> have <emphasis>Data::HasChanged</emphasis>. </para>
</simplesect>
<simplesect kind="post"><para><computeroutput>G.POT</computeroutput> is a post-order traversal ending with <computeroutput>FirstN</computeroutput>. </para>
</simplesect>
<simplesect kind="post"><para><emphasis>Data::hasChanged</emphasis> in <computeroutput>G.Info</computeroutput> indicates whether any node needs to change because of operands outside the graph. </para>
</simplesect>
</para>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/Transforms/Utils/ValueMapper.cpp" line="306" column="8" bodyfile="lib/Transforms/Utils/ValueMapper.cpp" bodystart="726" bodyend="756"/>
      </memberdef>
      <memberdef kind="function" id="classanonymous__namespace_02_value_mapper_8cpp_03_1_1_m_d_node_mapper_1af69f6d67917f647af69d6ba7bb126ca9" prot="private" static="no" const="no" explicit="no" inline="no" virt="non-virtual">
        <type><ref refid="classllvm_1_1_m_d_node" kindref="compound">MDNode</ref> *</type>
        <definition>MDNode * MDNodeMapper::visitOperands</definition>
        <argsstring>(UniquedGraph &amp;G, MDNode::op_iterator &amp;I, MDNode::op_iterator E, bool &amp;HasChanged)</argsstring>
        <name>visitOperands</name>
        <qualifiedname>anonymous_namespace{ValueMapper.cpp}::MDNodeMapper::visitOperands</qualifiedname>
        <param>
          <type>UniquedGraph &amp;</type>
          <declname>G</declname>
        </param>
        <param>
          <type><ref refid="classllvm_1_1_m_d_node_1af4fe559b6ceafad40f7144063ef2afd2" kindref="member">MDNode::op_iterator</ref> &amp;</type>
          <declname>I</declname>
        </param>
        <param>
          <type><ref refid="classllvm_1_1_m_d_node_1af4fe559b6ceafad40f7144063ef2afd2" kindref="member">MDNode::op_iterator</ref></type>
          <declname>E</declname>
        </param>
        <param>
          <type><ref refid="classbool" kindref="compound">bool</ref> &amp;</type>
          <declname>HasChanged</declname>
        </param>
        <briefdescription>
<para>Visit the operands of a uniqued node in the POT. </para>
        </briefdescription>
        <detaileddescription>
<para>Visit the operands in the range from <computeroutput>I</computeroutput> to <computeroutput>E</computeroutput>, returning the first uniqued node we find that isn&apos;t yet in <computeroutput>G</computeroutput>. <computeroutput>I</computeroutput> is always advanced to where to continue the loop through the operands.</para>
<para>This sets <computeroutput>HasChanged</computeroutput> if any of the visited operands change. </para>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/Transforms/Utils/ValueMapper.cpp" line="315" column="10" bodyfile="lib/Transforms/Utils/ValueMapper.cpp" bodystart="758" bodyend="776"/>
      </memberdef>
      <memberdef kind="function" id="classanonymous__namespace_02_value_mapper_8cpp_03_1_1_m_d_node_mapper_1a62b664997f960985542ef30c564ec861" prot="private" static="no" const="no" explicit="no" inline="no" virt="non-virtual">
        <type>void</type>
        <definition>void MDNodeMapper::mapNodesInPOT</definition>
        <argsstring>(UniquedGraph &amp;G)</argsstring>
        <name>mapNodesInPOT</name>
        <qualifiedname>anonymous_namespace{ValueMapper.cpp}::MDNodeMapper::mapNodesInPOT</qualifiedname>
        <param>
          <type>UniquedGraph &amp;</type>
          <declname>G</declname>
        </param>
        <briefdescription>
<para>Map all the nodes in the given uniqued graph. </para>
        </briefdescription>
        <detaileddescription>
<para>This visits all the nodes in <computeroutput>G</computeroutput> in post-order, using the identity mapping or creating a new node depending on <emphasis>Data::HasChanged</emphasis>.</para>
<para><simplesect kind="pre"><para><emphasis>getMappedOp()</emphasis> returns std::nullopt for nodes in <computeroutput>G</computeroutput>, but not for any of their operands outside of <computeroutput>G</computeroutput>. </para>
</simplesect>
<simplesect kind="pre"><para><emphasis>Data::HasChanged</emphasis> is true for a node in <computeroutput>G</computeroutput> iff any of its operands have changed. </para>
</simplesect>
<simplesect kind="post"><para><emphasis>getMappedOp()</emphasis> returns the mapped node for every node in <computeroutput>G</computeroutput>. </para>
</simplesect>
</para>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/Transforms/Utils/ValueMapper.cpp" line="327" column="8" bodyfile="lib/Transforms/Utils/ValueMapper.cpp" bodystart="798" bodyend="840"/>
      </memberdef>
      <memberdef kind="function" id="classanonymous__namespace_02_value_mapper_8cpp_03_1_1_m_d_node_mapper_1a7c38ca83c916472e5580992d97616ba9" prot="private" static="no" const="no" explicit="no" inline="no" virt="non-virtual">
        <templateparamlist>
          <param>
            <type>class OperandMapper</type>
          </param>
        </templateparamlist>
        <type>void</type>
        <definition>void anonymous_namespace{ValueMapper.cpp}::MDNodeMapper::remapOperands</definition>
        <argsstring>(MDNode &amp;N, OperandMapper mapOperand)</argsstring>
        <name>remapOperands</name>
        <qualifiedname>anonymous_namespace{ValueMapper.cpp}::MDNodeMapper::remapOperands</qualifiedname>
        <param>
          <type><ref refid="classllvm_1_1_m_d_node" kindref="compound">MDNode</ref> &amp;</type>
          <declname>N</declname>
        </param>
        <param>
          <type>OperandMapper</type>
          <declname>mapOperand</declname>
        </param>
        <briefdescription>
<para>Remap a node&apos;s operands using the given functor. </para>
        </briefdescription>
        <detaileddescription>
<para>Iterate through the operands of <computeroutput>N</computeroutput> and update them in place using <computeroutput>mapOperand</computeroutput>.</para>
<para><simplesect kind="pre"><para>N.isDistinct() or N.isTemporary(). </para>
</simplesect>
</para>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/Transforms/Utils/ValueMapper.cpp" line="336" column="8"/>
      </memberdef>
    </sectiondef>
    <briefdescription>
    </briefdescription>
    <detaileddescription>
    </detaileddescription>
    <location file="lib/Transforms/Utils/ValueMapper.cpp" line="192" column="1" bodyfile="lib/Transforms/Utils/ValueMapper.cpp" bodystart="192" bodyend="337"/>
    <listofallmembers>
      <member refid="classanonymous__namespace_02_value_mapper_8cpp_03_1_1_m_d_node_mapper_1a9dace28a02e57b477f817c9f9030a5fc" prot="private" virt="non-virtual"><scope>anonymous_namespace{ValueMapper.cpp}::MDNodeMapper</scope><name>createPOT</name></member>
      <member refid="classanonymous__namespace_02_value_mapper_8cpp_03_1_1_m_d_node_mapper_1ae239bcf674a7148aa155af2d184a7902" prot="private" virt="non-virtual"><scope>anonymous_namespace{ValueMapper.cpp}::MDNodeMapper</scope><name>DistinctWorklist</name></member>
      <member refid="classanonymous__namespace_02_value_mapper_8cpp_03_1_1_m_d_node_mapper_1a8f0af01bf4f2f7b7a63d5789c1607495" prot="private" virt="non-virtual"><scope>anonymous_namespace{ValueMapper.cpp}::MDNodeMapper</scope><name>getMappedOp</name></member>
      <member refid="classanonymous__namespace_02_value_mapper_8cpp_03_1_1_m_d_node_mapper_1af58edfe4b549831024e107cc071bf271" prot="private" virt="non-virtual"><scope>anonymous_namespace{ValueMapper.cpp}::MDNodeMapper</scope><name>InfoStorage</name></member>
      <member refid="classanonymous__namespace_02_value_mapper_8cpp_03_1_1_m_d_node_mapper_1a9f495df041166b52263e1bee5dc4a59f" prot="private" virt="non-virtual"><scope>anonymous_namespace{ValueMapper.cpp}::MDNodeMapper</scope><name>M</name></member>
      <member refid="classanonymous__namespace_02_value_mapper_8cpp_03_1_1_m_d_node_mapper_1a19e14dd6bf8fd49e43925ade95aab06d" prot="public" virt="non-virtual"><scope>anonymous_namespace{ValueMapper.cpp}::MDNodeMapper</scope><name>map</name></member>
      <member refid="classanonymous__namespace_02_value_mapper_8cpp_03_1_1_m_d_node_mapper_1ab062c4f5119fb7b9a647d4f300b2d1c5" prot="private" virt="non-virtual"><scope>anonymous_namespace{ValueMapper.cpp}::MDNodeMapper</scope><name>mapDistinctNode</name></member>
      <member refid="classanonymous__namespace_02_value_mapper_8cpp_03_1_1_m_d_node_mapper_1a62b664997f960985542ef30c564ec861" prot="private" virt="non-virtual"><scope>anonymous_namespace{ValueMapper.cpp}::MDNodeMapper</scope><name>mapNodesInPOT</name></member>
      <member refid="classanonymous__namespace_02_value_mapper_8cpp_03_1_1_m_d_node_mapper_1a7e7ef8eee51633a39f3cab453baa7ff0" prot="private" virt="non-virtual"><scope>anonymous_namespace{ValueMapper.cpp}::MDNodeMapper</scope><name>mapTopLevelUniquedNode</name></member>
      <member refid="classanonymous__namespace_02_value_mapper_8cpp_03_1_1_m_d_node_mapper_1a332d6883ae1fe5af9bda81416f7bfbe0" prot="public" virt="non-virtual"><scope>anonymous_namespace{ValueMapper.cpp}::MDNodeMapper</scope><name>MDNodeMapper</name></member>
      <member refid="classanonymous__namespace_02_value_mapper_8cpp_03_1_1_m_d_node_mapper_1a482f4c0b884d200b1efc83bb42c51693" prot="private" virt="non-virtual"><scope>anonymous_namespace{ValueMapper.cpp}::MDNodeMapper</scope><name>POTStorage</name></member>
      <member refid="classanonymous__namespace_02_value_mapper_8cpp_03_1_1_m_d_node_mapper_1a7c38ca83c916472e5580992d97616ba9" prot="private" virt="non-virtual"><scope>anonymous_namespace{ValueMapper.cpp}::MDNodeMapper</scope><name>remapOperands</name></member>
      <member refid="classanonymous__namespace_02_value_mapper_8cpp_03_1_1_m_d_node_mapper_1a7c38ca83c916472e5580992d97616ba9" prot="public" virt="non-virtual"><scope>anonymous_namespace{ValueMapper.cpp}::MDNodeMapper</scope><name>remapOperands</name></member>
      <member refid="classanonymous__namespace_02_value_mapper_8cpp_03_1_1_m_d_node_mapper_1a80f5a8ab4da21b753ff41987e1b5741a" prot="private" virt="non-virtual"><scope>anonymous_namespace{ValueMapper.cpp}::MDNodeMapper</scope><name>tryToMapOperand</name></member>
      <member refid="classanonymous__namespace_02_value_mapper_8cpp_03_1_1_m_d_node_mapper_1af69f6d67917f647af69d6ba7bb126ca9" prot="private" virt="non-virtual"><scope>anonymous_namespace{ValueMapper.cpp}::MDNodeMapper</scope><name>visitOperands</name></member>
    </listofallmembers>
  </compounddef>
</doxygen>
