<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.15.0" xml:lang="en-US">
  <compounddef id="classllvm_1_1sampleprof_1_1_sample_profile_reader_itanium_remapper" kind="class" language="C++" prot="public">
    <compoundname>llvm::sampleprof::SampleProfileReaderItaniumRemapper</compoundname>
    <includes refid="_sample_prof_reader_8h" local="yes">llvm/ProfileData/SampleProfReader.h</includes>
    <sectiondef kind="private-attrib">
      <memberdef kind="variable" id="classllvm_1_1sampleprof_1_1_sample_profile_reader_itanium_remapper_1af75c59cb5e3f706db989b54583b32517" prot="private" static="no" mutable="no">
        <type>std::unique_ptr&lt; <ref refid="classllvm_1_1_memory_buffer" kindref="compound">MemoryBuffer</ref> &gt;</type>
        <definition>std::unique_ptr&lt;MemoryBuffer&gt; llvm::sampleprof::SampleProfileReaderItaniumRemapper::Buffer</definition>
        <argsstring></argsstring>
        <name>Buffer</name>
        <qualifiedname>llvm::sampleprof::SampleProfileReaderItaniumRemapper::Buffer</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ProfileData/SampleProfReader.h" line="306" column="19" bodyfile="include/llvm/ProfileData/SampleProfReader.h" bodystart="306" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="classllvm_1_1sampleprof_1_1_sample_profile_reader_itanium_remapper_1a5bddea817e5cd86a5b485cfd455fb938" prot="private" static="no" mutable="no">
        <type>std::unique_ptr&lt; <ref refid="classllvm_1_1_symbol_remapping_reader" kindref="compound">SymbolRemappingReader</ref> &gt;</type>
        <definition>std::unique_ptr&lt;SymbolRemappingReader&gt; llvm::sampleprof::SampleProfileReaderItaniumRemapper::Remappings</definition>
        <argsstring></argsstring>
        <name>Remappings</name>
        <qualifiedname>llvm::sampleprof::SampleProfileReaderItaniumRemapper::Remappings</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ProfileData/SampleProfReader.h" line="307" column="19" bodyfile="include/llvm/ProfileData/SampleProfReader.h" bodystart="307" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="classllvm_1_1sampleprof_1_1_sample_profile_reader_itanium_remapper_1ad99295a1d801065aa821ab31d785a710" prot="private" static="no" mutable="no">
        <type><ref refid="classllvm_1_1_dense_map" kindref="compound">DenseMap</ref>&lt; <ref refid="classllvm_1_1_symbol_remapping_reader_1a927d799644c7df94d198980a02abcc14" kindref="member">SymbolRemappingReader::Key</ref>, <ref refid="classllvm_1_1_string_ref" kindref="compound">StringRef</ref> &gt;</type>
        <definition>DenseMap&lt;SymbolRemappingReader::Key, StringRef&gt; llvm::sampleprof::SampleProfileReaderItaniumRemapper::NameMap</definition>
        <argsstring></argsstring>
        <name>NameMap</name>
        <qualifiedname>llvm::sampleprof::SampleProfileReaderItaniumRemapper::NameMap</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ProfileData/SampleProfReader.h" line="311" column="12" bodyfile="include/llvm/ProfileData/SampleProfReader.h" bodystart="311" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="classllvm_1_1sampleprof_1_1_sample_profile_reader_itanium_remapper_1a1262ab38fa3561e87806d287466d1620" prot="private" static="no" mutable="no">
        <type><ref refid="classllvm_1_1sampleprof_1_1_sample_profile_reader" kindref="compound">SampleProfileReader</ref> &amp;</type>
        <definition>SampleProfileReader&amp; llvm::sampleprof::SampleProfileReaderItaniumRemapper::Reader</definition>
        <argsstring></argsstring>
        <name>Reader</name>
        <qualifiedname>llvm::sampleprof::SampleProfileReaderItaniumRemapper::Reader</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ProfileData/SampleProfReader.h" line="313" column="23" bodyfile="include/llvm/ProfileData/SampleProfReader.h" bodystart="313" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="classllvm_1_1sampleprof_1_1_sample_profile_reader_itanium_remapper_1a6ef0073667ccb904daaa6b6adcd7057b" prot="private" static="no" mutable="no">
        <type><ref refid="classbool" kindref="compound">bool</ref></type>
        <definition>bool llvm::sampleprof::SampleProfileReaderItaniumRemapper::RemappingApplied</definition>
        <argsstring></argsstring>
        <name>RemappingApplied</name>
        <qualifiedname>llvm::sampleprof::SampleProfileReaderItaniumRemapper::RemappingApplied</qualifiedname>
        <initializer>= false</initializer>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ProfileData/SampleProfReader.h" line="316" column="8" bodyfile="include/llvm/ProfileData/SampleProfReader.h" bodystart="316" bodyend="-1"/>
      </memberdef>
    </sectiondef>
    <sectiondef kind="public-func">
      <memberdef kind="function" id="classllvm_1_1sampleprof_1_1_sample_profile_reader_itanium_remapper_1a37feef8752f65322ed14b29201ebbb6c" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type></type>
        <definition>llvm::sampleprof::SampleProfileReaderItaniumRemapper::SampleProfileReaderItaniumRemapper</definition>
        <argsstring>(std::unique_ptr&lt; MemoryBuffer &gt; B, std::unique_ptr&lt; SymbolRemappingReader &gt; SRR, SampleProfileReader &amp;R)</argsstring>
        <name>SampleProfileReaderItaniumRemapper</name>
        <qualifiedname>llvm::sampleprof::SampleProfileReaderItaniumRemapper::SampleProfileReaderItaniumRemapper</qualifiedname>
        <param>
          <type>std::unique_ptr&lt; <ref refid="classllvm_1_1_memory_buffer" kindref="compound">MemoryBuffer</ref> &gt;</type>
          <declname>B</declname>
        </param>
        <param>
          <type>std::unique_ptr&lt; <ref refid="classllvm_1_1_symbol_remapping_reader" kindref="compound">SymbolRemappingReader</ref> &gt;</type>
          <declname>SRR</declname>
        </param>
        <param>
          <type><ref refid="classllvm_1_1sampleprof_1_1_sample_profile_reader" kindref="compound">SampleProfileReader</ref> &amp;</type>
          <declname>R</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ProfileData/SampleProfReader.h" line="267" column="3" bodyfile="include/llvm/ProfileData/SampleProfReader.h" bodystart="267" bodyend="272"/>
        <references refid="_s_i_lower_control_flow_8cpp_1a4868c5d81c5ccc98c47aeab6244346a0">assert</references>
        <references refid="_builtin_g_cs_8cpp_1ae76959fe811ba090de4cba69ac00f1da">B</references>
        <references refid="namespacellvm_1abfc9c7ecf70f66901e439f7c04ef3dbb" compoundref="_s_t_l_extras_8h" startline="1873" endline="1875">llvm::move</references>
      </memberdef>
      <memberdef kind="function" id="classllvm_1_1sampleprof_1_1_sample_profile_reader_itanium_remapper_1a350d411fd6958a014b935b78c165f610" prot="public" static="no" const="no" explicit="no" inline="no" virt="non-virtual">
        <type>void</type>
        <definition>void SampleProfileReaderItaniumRemapper::applyRemapping</definition>
        <argsstring>(LLVMContext &amp;Ctx)</argsstring>
        <name>applyRemapping</name>
        <qualifiedname>llvm::sampleprof::SampleProfileReaderItaniumRemapper::applyRemapping</qualifiedname>
        <param>
          <type><ref refid="classllvm_1_1_l_l_v_m_context" kindref="compound">LLVMContext</ref> &amp;</type>
          <declname>Ctx</declname>
        </param>
        <briefdescription>
<para>Apply remappings to the profile read by Reader. </para>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ProfileData/SampleProfReader.h" line="287" column="8" bodyfile="lib/ProfileData/SampleProfReader.cpp" bodystart="1841" bodyend="1867"/>
        <references refid="_s_i_lower_control_flow_8cpp_1a4868c5d81c5ccc98c47aeab6244346a0">assert</references>
        <references refid="namespacellvm_1abfcab32516704f11d146c757f402ad5ca1cde8c8828756cdaf2a93260e247ae31" compoundref="_diagnostic_info_8h" startline="51">llvm::DS_Warning</references>
        <references refid="namespacellvm_1a98c6256d0644613c6b5b3e2ef06ef5ce" compoundref="_i_r_2_pass_manager_8h" startline="644">llvm::InnerAnalysisManagerProxy&lt; AnalysisManagerT, IRUnitT, ExtraArgTs... &gt;::Key</references>
      </memberdef>
      <memberdef kind="function" id="classllvm_1_1sampleprof_1_1_sample_profile_reader_itanium_remapper_1a63751acad00c3218b2b6719cf5d7e47b" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type><ref refid="classbool" kindref="compound">bool</ref></type>
        <definition>bool llvm::sampleprof::SampleProfileReaderItaniumRemapper::hasApplied</definition>
        <argsstring>()</argsstring>
        <name>hasApplied</name>
        <qualifiedname>llvm::sampleprof::SampleProfileReaderItaniumRemapper::hasApplied</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ProfileData/SampleProfReader.h" line="289" column="8" bodyfile="include/llvm/ProfileData/SampleProfReader.h" bodystart="289" bodyend="289"/>
      </memberdef>
      <memberdef kind="function" id="classllvm_1_1sampleprof_1_1_sample_profile_reader_itanium_remapper_1a9952ca5cf3fe9935b550624b5c4191b3" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type>void</type>
        <definition>void llvm::sampleprof::SampleProfileReaderItaniumRemapper::insert</definition>
        <argsstring>(StringRef FunctionName)</argsstring>
        <name>insert</name>
        <qualifiedname>llvm::sampleprof::SampleProfileReaderItaniumRemapper::insert</qualifiedname>
        <param>
          <type><ref refid="classllvm_1_1_string_ref" kindref="compound">StringRef</ref></type>
          <declname>FunctionName</declname>
        </param>
        <briefdescription>
<para>Insert function name into remapper. </para>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ProfileData/SampleProfReader.h" line="292" column="8" bodyfile="include/llvm/ProfileData/SampleProfReader.h" bodystart="292" bodyend="292"/>
      </memberdef>
      <memberdef kind="function" id="classllvm_1_1sampleprof_1_1_sample_profile_reader_itanium_remapper_1a0d214eb665faf43449a8a19b35ebe5fa" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type><ref refid="classbool" kindref="compound">bool</ref></type>
        <definition>bool llvm::sampleprof::SampleProfileReaderItaniumRemapper::exist</definition>
        <argsstring>(StringRef FunctionName)</argsstring>
        <name>exist</name>
        <qualifiedname>llvm::sampleprof::SampleProfileReaderItaniumRemapper::exist</qualifiedname>
        <param>
          <type><ref refid="classllvm_1_1_string_ref" kindref="compound">StringRef</ref></type>
          <declname>FunctionName</declname>
        </param>
        <briefdescription>
<para>Query whether there is equivalent in the remapper which has been inserted. </para>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ProfileData/SampleProfReader.h" line="296" column="8" bodyfile="include/llvm/ProfileData/SampleProfReader.h" bodystart="296" bodyend="298"/>
      </memberdef>
      <memberdef kind="function" id="classllvm_1_1sampleprof_1_1_sample_profile_reader_itanium_remapper_1ae86f8a71098cd0a7a0ccd0d2e9f9156f" prot="public" static="no" const="no" explicit="no" inline="no" virt="non-virtual">
        <type>std::optional&lt; <ref refid="classllvm_1_1_string_ref" kindref="compound">StringRef</ref> &gt;</type>
        <definition>std::optional&lt; StringRef &gt; SampleProfileReaderItaniumRemapper::lookUpNameInProfile</definition>
        <argsstring>(StringRef FunctionName)</argsstring>
        <name>lookUpNameInProfile</name>
        <qualifiedname>llvm::sampleprof::SampleProfileReaderItaniumRemapper::lookUpNameInProfile</qualifiedname>
        <param>
          <type><ref refid="classllvm_1_1_string_ref" kindref="compound">StringRef</ref></type>
          <declname>FunctionName</declname>
        </param>
        <briefdescription>
<para>Return the equivalent name in the profile for <computeroutput>FunctionName</computeroutput> if it exists. </para>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ProfileData/SampleProfReader.h" line="302" column="17" bodyfile="lib/ProfileData/SampleProfReader.cpp" bodystart="1870" bodyend="1877"/>
        <references refid="namespacellvm_1a98c6256d0644613c6b5b3e2ef06ef5ce" compoundref="_i_r_2_pass_manager_8h" startline="644">llvm::InnerAnalysisManagerProxy&lt; AnalysisManagerT, IRUnitT, ExtraArgTs... &gt;::Key</references>
        <referencedby refid="classllvm_1_1sampleprof_1_1_function_samples_1a2590274bcc6c09009ed10feb5455243d" compoundref="_sample_prof_8cpp" startline="281" endline="325">llvm::sampleprof::FunctionSamples::findFunctionSamplesAt</referencedby>
      </memberdef>
    </sectiondef>
    <sectiondef kind="public-static-func">
      <memberdef kind="function" id="classllvm_1_1sampleprof_1_1_sample_profile_reader_itanium_remapper_1a2e6e6b82798c515f6161b9d05f404d83" prot="public" static="yes" const="no" explicit="no" inline="no" virt="non-virtual">
        <type><ref refid="classllvm_1_1_error_or" kindref="compound">ErrorOr</ref>&lt; std::unique_ptr&lt; <ref refid="classllvm_1_1sampleprof_1_1_sample_profile_reader_itanium_remapper" kindref="compound">SampleProfileReaderItaniumRemapper</ref> &gt; &gt;</type>
        <definition>ErrorOr&lt; std::unique_ptr&lt; SampleProfileReaderItaniumRemapper &gt; &gt; SampleProfileReaderItaniumRemapper::create</definition>
        <argsstring>(StringRef Filename, vfs::FileSystem &amp;FS, SampleProfileReader &amp;Reader, LLVMContext &amp;C)</argsstring>
        <name>create</name>
        <qualifiedname>llvm::sampleprof::SampleProfileReaderItaniumRemapper::create</qualifiedname>
        <param>
          <type><ref refid="classllvm_1_1_string_ref" kindref="compound">StringRef</ref></type>
          <declname>Filename</declname>
        </param>
        <param>
          <type><ref refid="classllvm_1_1vfs_1_1_file_system" kindref="compound">vfs::FileSystem</ref> &amp;</type>
          <declname>FS</declname>
        </param>
        <param>
          <type><ref refid="classllvm_1_1sampleprof_1_1_sample_profile_reader" kindref="compound">SampleProfileReader</ref> &amp;</type>
          <declname>Reader</declname>
        </param>
        <param>
          <type><ref refid="classllvm_1_1_l_l_v_m_context" kindref="compound">LLVMContext</ref> &amp;</type>
          <declname>C</declname>
        </param>
        <briefdescription>
<para>Create a remapper from the given remapping file. </para>
        </briefdescription>
        <detaileddescription>
<para>Create a sample profile remapper from the given input, to remap the function names in the given profile data.</para>
<para>The remapper will be used for profile read in by Reader.</para>
<para><parameterlist kind="param"><parameteritem>
<parameternamelist>
<parametername>Filename</parametername>
</parameternamelist>
<parameterdescription>
<para>The file to open.</para>
</parameterdescription>
</parameteritem>
<parameteritem>
<parameternamelist>
<parametername>Reader</parametername>
</parameternamelist>
<parameterdescription>
<para>The profile reader the remapper is going to be applied to.</para>
</parameterdescription>
</parameteritem>
<parameteritem>
<parameternamelist>
<parametername>C</parametername>
</parameternamelist>
<parameterdescription>
<para>The LLVM context to use to emit diagnostics.</para>
</parameterdescription>
</parameteritem>
</parameterlist>
<simplesect kind="return"><para>an error code indicating the status of the created reader. </para>
</simplesect>
</para>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ProfileData/SampleProfReader.h" line="277" column="3" bodyfile="lib/ProfileData/SampleProfReader.cpp" bodystart="1925" bodyend="1933"/>
        <references refid="namespacellvm_1_1_calling_conv_1ac6aa1387c4375260e2468eb5a77fdb4cafd841a49aec1539bc88abc8ff9e170fb" compoundref="_calling_conv_8h" startline="34">llvm::CallingConv::C</references>
        <references refid="classllvm_1_1sampleprof_1_1_sample_profile_reader_itanium_remapper_1a2e6e6b82798c515f6161b9d05f404d83" compoundref="_sample_prof_reader_8cpp" startline="1925" endline="1933">create</references>
        <references refid="namespacellvm_1a0c339cfce77238670cd7657a636f4303" compoundref="_code_gen_data_reader_8cpp" startline="25" endline="31">llvm::setupMemoryBuffer</references>
        <referencedby refid="classllvm_1_1sampleprof_1_1_sample_profile_reader_1aa13d9a01b470d4ae7e0f1ea117f2e3dc" compoundref="_sample_prof_reader_8cpp" startline="1976" endline="2009">llvm::sampleprof::SampleProfileReader::create</referencedby>
        <referencedby refid="classllvm_1_1sampleprof_1_1_sample_profile_reader_itanium_remapper_1a2e6e6b82798c515f6161b9d05f404d83" compoundref="_sample_prof_reader_8cpp" startline="1925" endline="1933">create</referencedby>
      </memberdef>
      <memberdef kind="function" id="classllvm_1_1sampleprof_1_1_sample_profile_reader_itanium_remapper_1ab86d93032dfafc59c9fe7abf873d3394" prot="public" static="yes" const="no" explicit="no" inline="no" virt="non-virtual">
        <type><ref refid="classllvm_1_1_error_or" kindref="compound">ErrorOr</ref>&lt; std::unique_ptr&lt; <ref refid="classllvm_1_1sampleprof_1_1_sample_profile_reader_itanium_remapper" kindref="compound">SampleProfileReaderItaniumRemapper</ref> &gt; &gt;</type>
        <definition>ErrorOr&lt; std::unique_ptr&lt; SampleProfileReaderItaniumRemapper &gt; &gt; SampleProfileReaderItaniumRemapper::create</definition>
        <argsstring>(std::unique_ptr&lt; MemoryBuffer &gt; &amp;B, SampleProfileReader &amp;Reader, LLVMContext &amp;C)</argsstring>
        <name>create</name>
        <qualifiedname>llvm::sampleprof::SampleProfileReaderItaniumRemapper::create</qualifiedname>
        <param>
          <type>std::unique_ptr&lt; <ref refid="classllvm_1_1_memory_buffer" kindref="compound">MemoryBuffer</ref> &gt; &amp;</type>
          <declname>B</declname>
        </param>
        <param>
          <type><ref refid="classllvm_1_1sampleprof_1_1_sample_profile_reader" kindref="compound">SampleProfileReader</ref> &amp;</type>
          <declname>Reader</declname>
        </param>
        <param>
          <type><ref refid="classllvm_1_1_l_l_v_m_context" kindref="compound">LLVMContext</ref> &amp;</type>
          <declname>C</declname>
        </param>
        <briefdescription>
<para>Create a remapper from the given Buffer. </para>
        </briefdescription>
        <detaileddescription>
<para>Create a sample profile remapper from the given input, to remap the function names in the given profile data.</para>
<para>The remapper will be used for profile read in by Reader.</para>
<para><parameterlist kind="param"><parameteritem>
<parameternamelist>
<parametername>B</parametername>
</parameternamelist>
<parameterdescription>
<para>The memory buffer to create the reader from (assumes ownership).</para>
</parameterdescription>
</parameteritem>
<parameteritem>
<parameternamelist>
<parametername>C</parametername>
</parameternamelist>
<parameterdescription>
<para>The LLVM context to use to emit diagnostics.</para>
</parameterdescription>
</parameteritem>
<parameteritem>
<parameternamelist>
<parametername>Reader</parametername>
</parameternamelist>
<parameterdescription>
<para>The profile reader the remapper is going to be applied to.</para>
</parameterdescription>
</parameteritem>
</parameterlist>
<simplesect kind="return"><para>an error code indicating the status of the created reader. </para>
</simplesect>
</para>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ProfileData/SampleProfReader.h" line="283" column="3" bodyfile="lib/ProfileData/SampleProfReader.cpp" bodystart="1946" bodyend="1962"/>
        <references refid="_builtin_g_cs_8cpp_1ae76959fe811ba090de4cba69ac00f1da">B</references>
        <references refid="namespacellvm_1_1_calling_conv_1ac6aa1387c4375260e2468eb5a77fdb4cafd841a49aec1539bc88abc8ff9e170fb" compoundref="_calling_conv_8h" startline="34">llvm::CallingConv::C</references>
        <references refid="classllvm_1_1_symbol_remapping_parse_error_1a217ad16f31a72df240a9dc84ae82c7b8" compoundref="_symbol_remapping_reader_8h" startline="83" endline="83">llvm::SymbolRemappingParseError::getLineNum</references>
        <references refid="classllvm_1_1_symbol_remapping_parse_error_1a316b8b3fd59636aa35cb7e23ff727e11" compoundref="_symbol_remapping_reader_8h" startline="84" endline="84">llvm::SymbolRemappingParseError::getMessage</references>
        <references refid="namespacellvm_1a2aa0f5c36ac6291f5d5f2b4efd9ffe70" compoundref="llvm_2_support_2_error_8h" startline="977" endline="979">llvm::handleAllErrors</references>
        <references refid="namespacellvm_1a748f2fd08e59530b1373ed304c04ffbea7596fdd04dba990373ab2f3da0c7dd3f" compoundref="_sample_prof_8h" startline="53">llvm::malformed</references>
      </memberdef>
    </sectiondef>
    <briefdescription>
<para><ref refid="classllvm_1_1sampleprof_1_1_sample_profile_reader_itanium_remapper" kindref="compound">SampleProfileReaderItaniumRemapper</ref> remaps the profile data from a sample profile data reader, by applying a provided set of equivalences between components of the symbol names in the profile. </para>
    </briefdescription>
    <detaileddescription>
    </detaileddescription>
    <location file="include/llvm/ProfileData/SampleProfReader.h" line="265" column="1" bodyfile="include/llvm/ProfileData/SampleProfReader.h" bodystart="265" bodyend="317"/>
    <listofallmembers>
      <member refid="classllvm_1_1sampleprof_1_1_sample_profile_reader_itanium_remapper_1a350d411fd6958a014b935b78c165f610" prot="public" virt="non-virtual"><scope>llvm::sampleprof::SampleProfileReaderItaniumRemapper</scope><name>applyRemapping</name></member>
      <member refid="classllvm_1_1sampleprof_1_1_sample_profile_reader_itanium_remapper_1af75c59cb5e3f706db989b54583b32517" prot="private" virt="non-virtual"><scope>llvm::sampleprof::SampleProfileReaderItaniumRemapper</scope><name>Buffer</name></member>
      <member refid="classllvm_1_1sampleprof_1_1_sample_profile_reader_itanium_remapper_1a2e6e6b82798c515f6161b9d05f404d83" prot="public" virt="non-virtual"><scope>llvm::sampleprof::SampleProfileReaderItaniumRemapper</scope><name>create</name></member>
      <member refid="classllvm_1_1sampleprof_1_1_sample_profile_reader_itanium_remapper_1ab86d93032dfafc59c9fe7abf873d3394" prot="public" virt="non-virtual"><scope>llvm::sampleprof::SampleProfileReaderItaniumRemapper</scope><name>create</name></member>
      <member refid="classllvm_1_1sampleprof_1_1_sample_profile_reader_itanium_remapper_1a0d214eb665faf43449a8a19b35ebe5fa" prot="public" virt="non-virtual"><scope>llvm::sampleprof::SampleProfileReaderItaniumRemapper</scope><name>exist</name></member>
      <member refid="classllvm_1_1sampleprof_1_1_sample_profile_reader_itanium_remapper_1a63751acad00c3218b2b6719cf5d7e47b" prot="public" virt="non-virtual"><scope>llvm::sampleprof::SampleProfileReaderItaniumRemapper</scope><name>hasApplied</name></member>
      <member refid="classllvm_1_1sampleprof_1_1_sample_profile_reader_itanium_remapper_1a9952ca5cf3fe9935b550624b5c4191b3" prot="public" virt="non-virtual"><scope>llvm::sampleprof::SampleProfileReaderItaniumRemapper</scope><name>insert</name></member>
      <member refid="classllvm_1_1sampleprof_1_1_sample_profile_reader_itanium_remapper_1ae86f8a71098cd0a7a0ccd0d2e9f9156f" prot="public" virt="non-virtual"><scope>llvm::sampleprof::SampleProfileReaderItaniumRemapper</scope><name>lookUpNameInProfile</name></member>
      <member refid="classllvm_1_1sampleprof_1_1_sample_profile_reader_itanium_remapper_1ad99295a1d801065aa821ab31d785a710" prot="private" virt="non-virtual"><scope>llvm::sampleprof::SampleProfileReaderItaniumRemapper</scope><name>NameMap</name></member>
      <member refid="classllvm_1_1sampleprof_1_1_sample_profile_reader_itanium_remapper_1a1262ab38fa3561e87806d287466d1620" prot="private" virt="non-virtual"><scope>llvm::sampleprof::SampleProfileReaderItaniumRemapper</scope><name>Reader</name></member>
      <member refid="classllvm_1_1sampleprof_1_1_sample_profile_reader_itanium_remapper_1a6ef0073667ccb904daaa6b6adcd7057b" prot="private" virt="non-virtual"><scope>llvm::sampleprof::SampleProfileReaderItaniumRemapper</scope><name>RemappingApplied</name></member>
      <member refid="classllvm_1_1sampleprof_1_1_sample_profile_reader_itanium_remapper_1a5bddea817e5cd86a5b485cfd455fb938" prot="private" virt="non-virtual"><scope>llvm::sampleprof::SampleProfileReaderItaniumRemapper</scope><name>Remappings</name></member>
      <member refid="classllvm_1_1sampleprof_1_1_sample_profile_reader_itanium_remapper_1a37feef8752f65322ed14b29201ebbb6c" prot="public" virt="non-virtual"><scope>llvm::sampleprof::SampleProfileReaderItaniumRemapper</scope><name>SampleProfileReaderItaniumRemapper</name></member>
    </listofallmembers>
  </compounddef>
</doxygen>
