<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.14.0" xml:lang="en-US">
  <compounddef id="classanonymous__namespace_02_instr_prof_reader_8cpp_03_1_1_instr_prof_reader_null_remapper" kind="class" language="C++" prot="public">
    <compoundname>anonymous_namespace{InstrProfReader.cpp}::InstrProfReaderNullRemapper</compoundname>
    <basecompoundref refid="classllvm_1_1_instr_prof_reader_remapper" prot="public" virt="non-virtual">llvm::InstrProfReaderRemapper</basecompoundref>
    <sectiondef kind="private-attrib">
      <memberdef kind="variable" id="classanonymous__namespace_02_instr_prof_reader_8cpp_03_1_1_instr_prof_reader_null_remapper_1ae5aed8e03c0649c67e34acefbf8c4517" prot="private" static="no" mutable="no">
        <type><ref refid="structllvm_1_1_instr_prof_reader_index_base" kindref="compound">InstrProfReaderIndexBase</ref> &amp;</type>
        <definition>InstrProfReaderIndexBase&amp; anonymous_namespace{InstrProfReader.cpp}::InstrProfReaderNullRemapper::Underlying</definition>
        <argsstring></argsstring>
        <name>Underlying</name>
        <qualifiedname>anonymous_namespace{InstrProfReader.cpp}::InstrProfReaderNullRemapper::Underlying</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/ProfileData/InstrProfReader.cpp" line="1052" column="28" bodyfile="lib/ProfileData/InstrProfReader.cpp" bodystart="1052" bodyend="-1"/>
      </memberdef>
    </sectiondef>
    <sectiondef kind="public-func">
      <memberdef kind="function" id="classanonymous__namespace_02_instr_prof_reader_8cpp_03_1_1_instr_prof_reader_null_remapper_1a439e18bf9088a61e8c1c92f5e1384174" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type></type>
        <definition>anonymous_namespace{InstrProfReader.cpp}::InstrProfReaderNullRemapper::InstrProfReaderNullRemapper</definition>
        <argsstring>(InstrProfReaderIndexBase &amp;Underlying)</argsstring>
        <name>InstrProfReaderNullRemapper</name>
        <qualifiedname>anonymous_namespace{InstrProfReader.cpp}::InstrProfReaderNullRemapper::InstrProfReaderNullRemapper</qualifiedname>
        <param>
          <type><ref refid="structllvm_1_1_instr_prof_reader_index_base" kindref="compound">InstrProfReaderIndexBase</ref> &amp;</type>
          <declname>Underlying</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/ProfileData/InstrProfReader.cpp" line="1055" column="3" bodyfile="lib/ProfileData/InstrProfReader.cpp" bodystart="1055" bodyend="1056"/>
      </memberdef>
      <memberdef kind="function" id="classanonymous__namespace_02_instr_prof_reader_8cpp_03_1_1_instr_prof_reader_null_remapper_1aa7bb68ad3898802ad34f9ac4beffffd0" prot="public" static="no" const="no" explicit="no" inline="yes" virt="virtual">
        <type><ref refid="classllvm_1_1_error" kindref="compound">Error</ref></type>
        <definition>Error anonymous_namespace{InstrProfReader.cpp}::InstrProfReaderNullRemapper::getRecords</definition>
        <argsstring>(StringRef FuncName, ArrayRef&lt; NamedInstrProfRecord &gt; &amp;Data) override</argsstring>
        <name>getRecords</name>
        <qualifiedname>anonymous_namespace{InstrProfReader.cpp}::InstrProfReaderNullRemapper::getRecords</qualifiedname>
        <reimplements refid="classllvm_1_1_instr_prof_reader_remapper_1a91de395f007322d92feedb65f73ee68d">getRecords</reimplements>
        <param>
          <type><ref refid="classllvm_1_1_string_ref" kindref="compound">StringRef</ref></type>
          <declname>FuncName</declname>
        </param>
        <param>
          <type><ref refid="classllvm_1_1_array_ref" kindref="compound">ArrayRef</ref>&lt; <ref refid="structllvm_1_1_named_instr_prof_record" kindref="compound">NamedInstrProfRecord</ref> &gt; &amp;</type>
          <declname>Data</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/ProfileData/InstrProfReader.cpp" line="1058" column="9" bodyfile="lib/ProfileData/InstrProfReader.cpp" bodystart="1058" bodyend="1061"/>
        <references refid="namespacellvm_1aa20539e89704d20b98b97e9c3feac934" compoundref="_instr_prof_8h" startline="189">llvm::Data</references>
      </memberdef>
    </sectiondef>
    <briefdescription>
<para>A remapper that does not apply any remappings. </para>
    </briefdescription>
    <detaileddescription>
    </detaileddescription>
    <inheritancegraph>
      <node id="1">
        <label>anonymous_namespace{InstrProfReader.cpp}::InstrProfReaderNullRemapper</label>
        <link refid="classanonymous__namespace_02_instr_prof_reader_8cpp_03_1_1_instr_prof_reader_null_remapper"/>
        <childnode refid="2" relation="public-inheritance">
        </childnode>
      </node>
      <node id="2">
        <label>llvm::InstrProfReaderRemapper</label>
        <link refid="classllvm_1_1_instr_prof_reader_remapper"/>
      </node>
    </inheritancegraph>
    <collaborationgraph>
      <node id="1">
        <label>anonymous_namespace{InstrProfReader.cpp}::InstrProfReaderNullRemapper</label>
        <link refid="classanonymous__namespace_02_instr_prof_reader_8cpp_03_1_1_instr_prof_reader_null_remapper"/>
        <childnode refid="2" relation="public-inheritance">
        </childnode>
      </node>
      <node id="2">
        <label>llvm::InstrProfReaderRemapper</label>
        <link refid="classllvm_1_1_instr_prof_reader_remapper"/>
      </node>
    </collaborationgraph>
    <location file="lib/ProfileData/InstrProfReader.cpp" line="1051" column="1" bodyfile="lib/ProfileData/InstrProfReader.cpp" bodystart="1051" bodyend="1062"/>
    <listofallmembers>
      <member refid="classanonymous__namespace_02_instr_prof_reader_8cpp_03_1_1_instr_prof_reader_null_remapper_1aa7bb68ad3898802ad34f9ac4beffffd0" prot="public" virt="virtual"><scope>anonymous_namespace{InstrProfReader.cpp}::InstrProfReaderNullRemapper</scope><name>getRecords</name></member>
      <member refid="classanonymous__namespace_02_instr_prof_reader_8cpp_03_1_1_instr_prof_reader_null_remapper_1a439e18bf9088a61e8c1c92f5e1384174" prot="public" virt="non-virtual"><scope>anonymous_namespace{InstrProfReader.cpp}::InstrProfReaderNullRemapper</scope><name>InstrProfReaderNullRemapper</name></member>
      <member refid="classllvm_1_1_instr_prof_reader_remapper_1aed1ba031efeafd752d0336dba6d5de00" prot="public" virt="virtual"><scope>anonymous_namespace{InstrProfReader.cpp}::InstrProfReaderNullRemapper</scope><name>populateRemappings</name></member>
      <member refid="classanonymous__namespace_02_instr_prof_reader_8cpp_03_1_1_instr_prof_reader_null_remapper_1ae5aed8e03c0649c67e34acefbf8c4517" prot="private" virt="non-virtual"><scope>anonymous_namespace{InstrProfReader.cpp}::InstrProfReaderNullRemapper</scope><name>Underlying</name></member>
      <member refid="classllvm_1_1_instr_prof_reader_remapper_1acd290f55b99643c4b2c0b5521b87f382" prot="public" virt="virtual"><scope>anonymous_namespace{InstrProfReader.cpp}::InstrProfReaderNullRemapper</scope><name>~InstrProfReaderRemapper</name></member>
    </listofallmembers>
  </compounddef>
</doxygen>
