<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.14.0" xml:lang="en-US">
  <compounddef id="classanonymous__namespace_02_value_mapper_8cpp_03_1_1_flushing_mapper" kind="class" language="C++" prot="public">
    <compoundname>anonymous_namespace{ValueMapper.cpp}::FlushingMapper</compoundname>
    <sectiondef kind="private-attrib">
      <memberdef kind="variable" id="classanonymous__namespace_02_value_mapper_8cpp_03_1_1_flushing_mapper_1a3d4eb99a00e2dfadcf55e9bf0efea788" prot="private" static="no" mutable="no">
        <type><ref refid="classanonymous__namespace_02_value_mapper_8cpp_03_1_1_mapper" kindref="compound">Mapper</ref> &amp;</type>
        <definition>Mapper&amp; anonymous_namespace{ValueMapper.cpp}::FlushingMapper::M</definition>
        <argsstring></argsstring>
        <name>M</name>
        <qualifiedname>anonymous_namespace{ValueMapper.cpp}::FlushingMapper::M</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/Transforms/Utils/ValueMapper.cpp" line="1194" column="10" bodyfile="lib/Transforms/Utils/ValueMapper.cpp" bodystart="1194" bodyend="-1"/>
      </memberdef>
    </sectiondef>
    <sectiondef kind="public-func">
      <memberdef kind="function" id="classanonymous__namespace_02_value_mapper_8cpp_03_1_1_flushing_mapper_1a642ab26a6ff6c3cbcf8f38dae2013667" prot="public" static="no" const="no" explicit="yes" inline="yes" virt="non-virtual">
        <type></type>
        <definition>anonymous_namespace{ValueMapper.cpp}::FlushingMapper::FlushingMapper</definition>
        <argsstring>(void *pImpl)</argsstring>
        <name>FlushingMapper</name>
        <qualifiedname>anonymous_namespace{ValueMapper.cpp}::FlushingMapper::FlushingMapper</qualifiedname>
        <param>
          <type>void *</type>
          <declname>pImpl</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/Transforms/Utils/ValueMapper.cpp" line="1197" column="12" bodyfile="lib/Transforms/Utils/ValueMapper.cpp" bodystart="1197" bodyend="1199"/>
        <references refid="_s_i_lower_control_flow_8cpp_1a4868c5d81c5ccc98c47aeab6244346a0">assert</references>
        <references refid="_value_mapper_8cpp_1a6a27385e1d060ed2f46eef63ae302509" compoundref="_value_mapper_8cpp" startline="1187" endline="1189">getAsMapper</references>
      </memberdef>
      <memberdef kind="function" id="classanonymous__namespace_02_value_mapper_8cpp_03_1_1_flushing_mapper_1a8f4c1f9389c4f94b3726e7d41c94731a" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type></type>
        <definition>anonymous_namespace{ValueMapper.cpp}::FlushingMapper::~FlushingMapper</definition>
        <argsstring>()</argsstring>
        <name>~FlushingMapper</name>
        <qualifiedname>anonymous_namespace{ValueMapper.cpp}::FlushingMapper::~FlushingMapper</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/Transforms/Utils/ValueMapper.cpp" line="1201" column="3" bodyfile="lib/Transforms/Utils/ValueMapper.cpp" bodystart="1201" bodyend="1201"/>
      </memberdef>
      <memberdef kind="function" id="classanonymous__namespace_02_value_mapper_8cpp_03_1_1_flushing_mapper_1abe642b0410b54ebc14602ff796a7d284" prot="public" static="no" const="yes" explicit="no" inline="yes" virt="non-virtual">
        <type><ref refid="classanonymous__namespace_02_value_mapper_8cpp_03_1_1_mapper" kindref="compound">Mapper</ref> *</type>
        <definition>Mapper * anonymous_namespace{ValueMapper.cpp}::FlushingMapper::operator-&gt;</definition>
        <argsstring>() const</argsstring>
        <name>operator-&gt;</name>
        <qualifiedname>anonymous_namespace{ValueMapper.cpp}::FlushingMapper::operator-&gt;</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/Transforms/Utils/ValueMapper.cpp" line="1203" column="10" bodyfile="lib/Transforms/Utils/ValueMapper.cpp" bodystart="1203" bodyend="1203"/>
      </memberdef>
    </sectiondef>
    <briefdescription>
    </briefdescription>
    <detaileddescription>
    </detaileddescription>
    <location file="lib/Transforms/Utils/ValueMapper.cpp" line="1193" column="1" bodyfile="lib/Transforms/Utils/ValueMapper.cpp" bodystart="1193" bodyend="1204"/>
    <listofallmembers>
      <member refid="classanonymous__namespace_02_value_mapper_8cpp_03_1_1_flushing_mapper_1a642ab26a6ff6c3cbcf8f38dae2013667" prot="public" virt="non-virtual"><scope>anonymous_namespace{ValueMapper.cpp}::FlushingMapper</scope><name>FlushingMapper</name></member>
      <member refid="classanonymous__namespace_02_value_mapper_8cpp_03_1_1_flushing_mapper_1a3d4eb99a00e2dfadcf55e9bf0efea788" prot="private" virt="non-virtual"><scope>anonymous_namespace{ValueMapper.cpp}::FlushingMapper</scope><name>M</name></member>
      <member refid="classanonymous__namespace_02_value_mapper_8cpp_03_1_1_flushing_mapper_1abe642b0410b54ebc14602ff796a7d284" prot="public" virt="non-virtual"><scope>anonymous_namespace{ValueMapper.cpp}::FlushingMapper</scope><name>operator-&gt;</name></member>
      <member refid="classanonymous__namespace_02_value_mapper_8cpp_03_1_1_flushing_mapper_1a8f4c1f9389c4f94b3726e7d41c94731a" prot="public" virt="non-virtual"><scope>anonymous_namespace{ValueMapper.cpp}::FlushingMapper</scope><name>~FlushingMapper</name></member>
    </listofallmembers>
  </compounddef>
</doxygen>
