<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.15.0" xml:lang="en-US">
  <compounddef id="classllvm_1_1orc_1_1_i_r_symbol_mapper" kind="class" language="C++" prot="public">
    <compoundname>llvm::orc::IRSymbolMapper</compoundname>
    <includes refid="_mangling_8h" local="yes">llvm/ExecutionEngine/Orc/Mangling.h</includes>
    <innerclass refid="structllvm_1_1orc_1_1_i_r_symbol_mapper_1_1_mangling_options" prot="public">llvm::orc::IRSymbolMapper::ManglingOptions</innerclass>
    <sectiondef kind="public-type">
      <memberdef kind="typedef" id="classllvm_1_1orc_1_1_i_r_symbol_mapper_1a80bcbfaeb3f9c379c94c969f84623c18" prot="public" static="no">
        <type>std::map&lt; <ref refid="classllvm_1_1orc_1_1_symbol_string_ptr" kindref="compound">SymbolStringPtr</ref>, <ref refid="classllvm_1_1_global_value" kindref="compound">GlobalValue</ref> * &gt;</type>
        <definition>using llvm::orc::IRSymbolMapper::SymbolNameToDefinitionMap =  std::map&lt;SymbolStringPtr, GlobalValue *&gt;</definition>
        <argsstring></argsstring>
        <name>SymbolNameToDefinitionMap</name>
        <qualifiedname>llvm::orc::IRSymbolMapper::SymbolNameToDefinitionMap</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ExecutionEngine/Orc/Mangling.h" line="45" column="3" bodyfile="include/llvm/ExecutionEngine/Orc/Mangling.h" bodystart="45" bodyend="-1"/>
      </memberdef>
    </sectiondef>
    <sectiondef kind="public-static-func">
      <memberdef kind="function" id="classllvm_1_1orc_1_1_i_r_symbol_mapper_1a49258c0e5a9200b48bd7122eea077796" prot="public" static="yes" const="no" explicit="no" inline="no" virt="non-virtual">
        <type>void</type>
        <definition>void llvm::orc::IRSymbolMapper::add</definition>
        <argsstring>(ExecutionSession &amp;ES, const ManglingOptions &amp;MO, ArrayRef&lt; GlobalValue * &gt; GVs, SymbolFlagsMap &amp;SymbolFlags, SymbolNameToDefinitionMap *SymbolToDefinition=nullptr)</argsstring>
        <name>add</name>
        <qualifiedname>llvm::orc::IRSymbolMapper::add</qualifiedname>
        <param>
          <type><ref refid="classllvm_1_1orc_1_1_execution_session" kindref="compound">ExecutionSession</ref> &amp;</type>
          <declname>ES</declname>
        </param>
        <param>
          <type><ref refid="_a_arch64_promote_constant_8cpp_1a90f8350fecae261c25be85d38b451bff" kindref="member">const</ref> <ref refid="structllvm_1_1orc_1_1_i_r_symbol_mapper_1_1_mangling_options" kindref="compound">ManglingOptions</ref> &amp;</type>
          <declname>MO</declname>
        </param>
        <param>
          <type><ref refid="classllvm_1_1_array_ref" kindref="compound">ArrayRef</ref>&lt; <ref refid="classllvm_1_1_global_value" kindref="compound">GlobalValue</ref> * &gt;</type>
          <declname>GVs</declname>
        </param>
        <param>
          <type><ref refid="namespacellvm_1_1orc_1afd6431981e7fdfd4b5d2794f04d7d913" kindref="member">SymbolFlagsMap</ref> &amp;</type>
          <declname>SymbolFlags</declname>
        </param>
        <param>
          <type><ref refid="classllvm_1_1orc_1_1_i_r_symbol_mapper_1a80bcbfaeb3f9c379c94c969f84623c18" kindref="member">SymbolNameToDefinitionMap</ref> *</type>
          <declname>SymbolToDefinition</declname>
          <defval>nullptr</defval>
        </param>
        <briefdescription>
<para>Add mangled symbols for the given GlobalValues to SymbolFlags. </para>
        </briefdescription>
        <detaileddescription>
<para>If a SymbolToDefinitionMap pointer is supplied then it will be populated with Name-to-GlobalValue* mappings. Note that this mapping is not necessarily one-to-one: thread-local GlobalValues, for example, may produce more than one symbol, in which case the map will contain duplicate values. </para>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ExecutionEngine/Orc/Mangling.h" line="53" column="15" bodyfile="lib/ExecutionEngine/Orc/Mangling.cpp" bodystart="30" bodyend="80"/>
        <references refid="_s_i_lower_control_flow_8cpp_1a4868c5d81c5ccc98c47aeab6244346a0">assert</references>
        <references refid="namespacellvm_1ac4fc845f5ed92de63cd4474f128f5fc5" compoundref="_casting_8h" startline="565" endline="568">llvm::cast</references>
        <references refid="namespacellvm_1a22eeee01734061ac1b31ccd994c49eef" compoundref="_casting_8h" startline="649" endline="652">llvm::dyn_cast</references>
        <references refid="classllvm_1_1_array_ref_1ac835b8735b1b2faec0efdca236e37d94" compoundref="_array_ref_8h" startline="163" endline="163">llvm::ArrayRef&lt; T &gt;::empty</references>
        <references refid="structllvm_1_1orc_1_1_i_r_symbol_mapper_1_1_mangling_options_1a4d4da595dfbf867a4cab51af1b4c6255" compoundref="_mangling_8h" startline="42">llvm::orc::IRSymbolMapper::ManglingOptions::EmulatedTLS</references>
        <references refid="classllvm_1_1_j_i_t_symbol_flags_1aa66476422470ab204074b3198bcf4d15" compoundref="_j_i_t_symbol_8cpp" startline="22" endline="50">llvm::JITSymbolFlags::fromGlobalValue</references>
        <references refid="_m_d5_8cpp_1ad96b7cf3182ce2ba85e5a7a93b12c441" compoundref="_m_d5_8cpp" startline="56">G</references>
        <references refid="namespacellvm_1a92ca992e52dddc420f4b069cae06dfbe" compoundref="_casting_8h" startline="548" endline="550">llvm::isa</references>
      </memberdef>
    </sectiondef>
    <briefdescription>
<para>Maps IR global values to their linker symbol names / flags. </para>
    </briefdescription>
    <detaileddescription>
<para>This utility can be used when adding new IR globals in the JIT. </para>
    </detaileddescription>
    <location file="include/llvm/ExecutionEngine/Orc/Mangling.h" line="39" column="1" bodyfile="include/llvm/ExecutionEngine/Orc/Mangling.h" bodystart="39" bodyend="56"/>
    <listofallmembers>
      <member refid="classllvm_1_1orc_1_1_i_r_symbol_mapper_1a49258c0e5a9200b48bd7122eea077796" prot="public" virt="non-virtual"><scope>llvm::orc::IRSymbolMapper</scope><name>add</name></member>
      <member refid="classllvm_1_1orc_1_1_i_r_symbol_mapper_1a80bcbfaeb3f9c379c94c969f84623c18" prot="public" virt="non-virtual"><scope>llvm::orc::IRSymbolMapper</scope><name>SymbolNameToDefinitionMap</name></member>
    </listofallmembers>
  </compounddef>
</doxygen>
