<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.15.0" xml:lang="en-US">
  <compounddef id="classllvm_1_1orc_1_1_in_process_memory_mapper" kind="class" language="C++" prot="public">
    <compoundname>llvm::orc::InProcessMemoryMapper</compoundname>
    <basecompoundref refid="classllvm_1_1orc_1_1_memory_mapper" prot="public" virt="non-virtual">llvm::orc::MemoryMapper</basecompoundref>
    <includes refid="_memory_mapper_8h" local="yes">llvm/ExecutionEngine/Orc/MemoryMapper.h</includes>
    <innerclass refid="structllvm_1_1orc_1_1_in_process_memory_mapper_1_1_allocation" prot="private">llvm::orc::InProcessMemoryMapper::Allocation</innerclass>
    <innerclass refid="structllvm_1_1orc_1_1_in_process_memory_mapper_1_1_reservation" prot="private">llvm::orc::InProcessMemoryMapper::Reservation</innerclass>
    <sectiondef kind="private-type">
      <memberdef kind="typedef" id="classllvm_1_1orc_1_1_in_process_memory_mapper_1a52011a66beed8160690bd4a1b830f1ae" prot="private" static="no">
        <type><ref refid="classllvm_1_1_dense_map" kindref="compound">DenseMap</ref>&lt; <ref refid="classllvm_1_1orc_1_1_executor_addr" kindref="compound">ExecutorAddr</ref>, Allocation &gt;</type>
        <definition>using llvm::orc::InProcessMemoryMapper::AllocationMap =  DenseMap&lt;ExecutorAddr, Allocation&gt;</definition>
        <argsstring></argsstring>
        <name>AllocationMap</name>
        <qualifiedname>llvm::orc::InProcessMemoryMapper::AllocationMap</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" line="109" column="3" bodyfile="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" bodystart="109" bodyend="-1"/>
      </memberdef>
      <memberdef kind="typedef" id="classllvm_1_1orc_1_1_in_process_memory_mapper_1ae0d0ae2a89b7c9917523860c3eafa8ee" prot="private" static="no">
        <type><ref refid="classllvm_1_1_dense_map" kindref="compound">DenseMap</ref>&lt; void *, Reservation &gt;</type>
        <definition>using llvm::orc::InProcessMemoryMapper::ReservationMap =  DenseMap&lt;void *, Reservation&gt;</definition>
        <argsstring></argsstring>
        <name>ReservationMap</name>
        <qualifiedname>llvm::orc::InProcessMemoryMapper::ReservationMap</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" line="115" column="3" bodyfile="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" bodystart="115" bodyend="-1"/>
      </memberdef>
    </sectiondef>
    <sectiondef kind="private-attrib">
      <memberdef kind="variable" id="classllvm_1_1orc_1_1_in_process_memory_mapper_1a72fae1373890fc9f1995a1eb01ee7fb4" prot="private" static="no" mutable="no">
        <type>std::mutex</type>
        <definition>std::mutex llvm::orc::InProcessMemoryMapper::Mutex</definition>
        <argsstring></argsstring>
        <name>Mutex</name>
        <qualifiedname>llvm::orc::InProcessMemoryMapper::Mutex</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" line="117" column="14" bodyfile="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" bodystart="117" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="classllvm_1_1orc_1_1_in_process_memory_mapper_1a84e35e9f5700bf0ee8113f3d78124f3e" prot="private" static="no" mutable="no">
        <type><ref refid="classllvm_1_1_dense_map" kindref="compound">ReservationMap</ref></type>
        <definition>ReservationMap llvm::orc::InProcessMemoryMapper::Reservations</definition>
        <argsstring></argsstring>
        <name>Reservations</name>
        <qualifiedname>llvm::orc::InProcessMemoryMapper::Reservations</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" line="118" column="18" bodyfile="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" bodystart="118" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="classllvm_1_1orc_1_1_in_process_memory_mapper_1a0f964305f91d5371b7a1e911bdb7279d" prot="private" static="no" mutable="no">
        <type><ref refid="classllvm_1_1_dense_map" kindref="compound">AllocationMap</ref></type>
        <definition>AllocationMap llvm::orc::InProcessMemoryMapper::Allocations</definition>
        <argsstring></argsstring>
        <name>Allocations</name>
        <qualifiedname>llvm::orc::InProcessMemoryMapper::Allocations</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" line="119" column="17" bodyfile="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" bodystart="119" bodyend="-1"/>
      </memberdef>
      <memberdef kind="variable" id="classllvm_1_1orc_1_1_in_process_memory_mapper_1a897b969c171fa3c5a46c9029e0ecbac7" prot="private" static="no" mutable="no">
        <type><ref refid="classsize__t" kindref="compound">size_t</ref></type>
        <definition>size_t llvm::orc::InProcessMemoryMapper::PageSize</definition>
        <argsstring></argsstring>
        <name>PageSize</name>
        <qualifiedname>llvm::orc::InProcessMemoryMapper::PageSize</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" line="121" column="10" bodyfile="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" bodystart="121" bodyend="-1"/>
      </memberdef>
    </sectiondef>
    <sectiondef kind="public-func">
      <memberdef kind="function" id="classllvm_1_1orc_1_1_in_process_memory_mapper_1a83a0052e8954805eb391e3fbead2a069" prot="public" static="no" const="no" explicit="no" inline="no" virt="non-virtual">
        <type></type>
        <definition>llvm::orc::InProcessMemoryMapper::InProcessMemoryMapper</definition>
        <argsstring>(size_t PageSize)</argsstring>
        <name>InProcessMemoryMapper</name>
        <qualifiedname>llvm::orc::InProcessMemoryMapper::InProcessMemoryMapper</qualifiedname>
        <param>
          <type><ref refid="classsize__t" kindref="compound">size_t</ref></type>
          <declname>PageSize</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" line="84" column="3" bodyfile="lib/ExecutionEngine/Orc/MemoryMapper.cpp" bodystart="32" bodyend="33"/>
      </memberdef>
      <memberdef kind="function" id="classllvm_1_1orc_1_1_in_process_memory_mapper_1ad9c425a42bde93665721fc7ecfcac4d4" prot="public" static="no" const="no" explicit="no" inline="yes" virt="virtual">
        <type><ref refid="classunsigned" kindref="compound">unsigned</ref> int</type>
        <definition>unsigned int llvm::orc::InProcessMemoryMapper::getPageSize</definition>
        <argsstring>() override</argsstring>
        <name>getPageSize</name>
        <qualifiedname>llvm::orc::InProcessMemoryMapper::getPageSize</qualifiedname>
        <reimplements refid="classllvm_1_1orc_1_1_memory_mapper_1a3ee39508298ac018e8df94d84009f582">getPageSize</reimplements>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" line="88" column="16" bodyfile="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" bodystart="88" bodyend="88"/>
      </memberdef>
      <memberdef kind="function" id="classllvm_1_1orc_1_1_in_process_memory_mapper_1a7567e026468fa261fb6186a2d30115ff" prot="public" static="no" const="no" explicit="no" inline="no" virt="virtual">
        <type>void</type>
        <definition>void llvm::orc::InProcessMemoryMapper::reserve</definition>
        <argsstring>(size_t NumBytes, OnReservedFunction OnReserved) override</argsstring>
        <name>reserve</name>
        <qualifiedname>llvm::orc::InProcessMemoryMapper::reserve</qualifiedname>
        <reimplements refid="classllvm_1_1orc_1_1_memory_mapper_1ad3417e8268428f7d688cbd890e907aa4">reserve</reimplements>
        <param>
          <type><ref refid="classsize__t" kindref="compound">size_t</ref></type>
          <declname>NumBytes</declname>
        </param>
        <param>
          <type><ref refid="classllvm_1_1orc_1_1_memory_mapper_1ae6b31499ac8e7d26c03092c14275d796" kindref="member">OnReservedFunction</ref></type>
          <declname>OnReserved</declname>
        </param>
        <briefdescription>
<para>Reserves address space in executor process. </para>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" line="90" column="8" bodyfile="lib/ExecutionEngine/Orc/MemoryMapper.cpp" bodystart="43" bodyend="59"/>
        <references refid="classllvm_1_1sys_1_1_memory_1a1326dd13b23711e68ade413fbc57b9f6">llvm::sys::Memory::allocateMappedMemory</references>
        <references refid="namespacellvm_1ad10875fd499e8e285aaeef615e9b11aa" compoundref="_testing_2_support_2_error_8cpp" startline="111" endline="115">llvm::errorCodeToError</references>
        <references refid="classllvm_1_1orc_1_1_executor_addr_1a8adb0ae35f7e95c960c86cfe19bc7215" compoundref="_executor_address_8h" startline="111" endline="114">llvm::orc::ExecutorAddr::fromPtr</references>
        <references refid="classllvm_1_1sys_1_1_memory_1a548f317b89dc0bba738b89e5ce791395a02cae455b05abf1bfb1de69095e66417" compoundref="_memory_8h" startline="56">llvm::sys::Memory::MF_READ</references>
        <references refid="classllvm_1_1sys_1_1_memory_1a548f317b89dc0bba738b89e5ce791395a83e34a8267f7acd88563e9d5a3ee7c25" compoundref="_memory_8h" startline="57">llvm::sys::Memory::MF_WRITE</references>
      </memberdef>
      <memberdef kind="function" id="classllvm_1_1orc_1_1_in_process_memory_mapper_1a492e4d6b2bf660e7c499e22f85b72440" prot="public" static="no" const="no" explicit="no" inline="no" virt="virtual">
        <type>void</type>
        <definition>void llvm::orc::InProcessMemoryMapper::initialize</definition>
        <argsstring>(AllocInfo &amp;AI, OnInitializedFunction OnInitialized) override</argsstring>
        <name>initialize</name>
        <qualifiedname>llvm::orc::InProcessMemoryMapper::initialize</qualifiedname>
        <reimplements refid="classllvm_1_1orc_1_1_memory_mapper_1a65b17476061df904a495d654624204e3">initialize</reimplements>
        <param>
          <type><ref refid="structllvm_1_1orc_1_1_memory_mapper_1_1_alloc_info" kindref="compound">AllocInfo</ref> &amp;</type>
          <declname>AI</declname>
        </param>
        <param>
          <type><ref refid="classllvm_1_1orc_1_1_memory_mapper_1ae546b70ffe0d3b8451b9b2a3163c4372" kindref="member">OnInitializedFunction</ref></type>
          <declname>OnInitialized</declname>
        </param>
        <briefdescription>
<para>Ensures executor memory is synchronized with working copy memory, sends functions to be called after initilization and before deinitialization and applies memory protections Returns a unique address identifying the allocation. </para>
        </briefdescription>
        <detaileddescription>
<para>This address should be passed to deinitialize to run deallocation actions (and reset permissions where possible). </para>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" line="92" column="8" bodyfile="lib/ExecutionEngine/Orc/MemoryMapper.cpp" bodystart="65" bodyend="108"/>
        <references refid="structllvm_1_1orc_1_1_memory_mapper_1_1_alloc_info_1aa83c8c10a9eb18cd233eed2ecf12ca71" compoundref="_memory_mapper_8h" startline="41">llvm::orc::MemoryMapper::AllocInfo::Actions</references>
        <references refid="namespacellvm_1_1sampleprof_1a702f69807459cc25db5754a5f179d3fcaf6fbeb8fa9f451468611536b00878d41" compoundref="_discriminator_8h" startline="58">llvm::sampleprof::Base</references>
        <references refid="namespacellvm_1ad10875fd499e8e285aaeef615e9b11aa" compoundref="_testing_2_support_2_error_8cpp" startline="111" endline="115">llvm::errorCodeToError</references>
        <references refid="namespacellvm_1_1orc_1a2fbb59fad28934f72ede7ddc316dfc89a953feeff1e20f40677fb7f77c073b3be" compoundref="_memory_flags_8h" startline="31">llvm::orc::Exec</references>
        <references refid="classllvm_1_1sys_1_1_memory_1a5cfd4d2a8227a3f9ca0667f42f05f20b">llvm::sys::Memory::InvalidateInstructionCache</references>
        <references refid="structllvm_1_1orc_1_1_memory_mapper_1_1_alloc_info_1a8ae25e2221d662f2fbffc49d0b172b3a" compoundref="_memory_mapper_8h" startline="39">llvm::orc::MemoryMapper::AllocInfo::MappingBase</references>
        <references refid="classllvm_1_1sys_1_1_memory_1ae27409ddee7e191f33392283ca826703">llvm::sys::Memory::protectMappedMemory</references>
        <references refid="namespacellvm_1_1orc_1_1shared_1aa02467cf9213727cd36bce6f59653e5b" compoundref="_allocation_actions_8cpp" startline="16" endline="31">llvm::orc::shared::runFinalizeActions</references>
        <references refid="structllvm_1_1orc_1_1_memory_mapper_1_1_alloc_info_1a6b6dcea60d496fc8de6d65188804b995" compoundref="_memory_mapper_8h" startline="40">llvm::orc::MemoryMapper::AllocInfo::Segments</references>
        <references refid="_inline_order_8cpp_1a7ee6f0cb51c3b9056199e9a0001fe8c3a6f6cb72d544962fa333e2e34ce64f719" compoundref="_inline_order_8cpp" startline="25">Size</references>
        <references refid="classllvm_1_1orc_1_1_executor_addr_1af5df5d5fa49d180d3ca3de567f60de79" compoundref="_executor_address_8h" startline="120" endline="124">llvm::orc::ExecutorAddr::toPtr</references>
        <references refid="namespacellvm_1_1orc_1ac28fc72cfcd4ee10f9f913aa2969bc45" compoundref="_memory_flags_8h" startline="44" endline="53">llvm::orc::toSysMemoryProtectionFlags</references>
      </memberdef>
      <memberdef kind="function" id="classllvm_1_1orc_1_1_in_process_memory_mapper_1ad56d2316a6611ee7bf8958565aee64a2" prot="public" static="no" const="no" explicit="no" inline="no" virt="virtual">
        <type><ref refid="classchar" kindref="compound">char</ref> *</type>
        <definition>char * llvm::orc::InProcessMemoryMapper::prepare</definition>
        <argsstring>(ExecutorAddr Addr, size_t ContentSize) override</argsstring>
        <name>prepare</name>
        <qualifiedname>llvm::orc::InProcessMemoryMapper::prepare</qualifiedname>
        <reimplements refid="classllvm_1_1orc_1_1_memory_mapper_1a1f6dd1df2bf89da79d77401886fd519a">prepare</reimplements>
        <param>
          <type><ref refid="classllvm_1_1orc_1_1_executor_addr" kindref="compound">ExecutorAddr</ref></type>
          <declname>Addr</declname>
        </param>
        <param>
          <type><ref refid="classsize__t" kindref="compound">size_t</ref></type>
          <declname>ContentSize</declname>
        </param>
        <briefdescription>
<para>Provides working memory. </para>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" line="94" column="8" bodyfile="lib/ExecutionEngine/Orc/MemoryMapper.cpp" bodystart="61" bodyend="63"/>
        <references refid="classllvm_1_1orc_1_1_executor_addr_1af5df5d5fa49d180d3ca3de567f60de79" compoundref="_executor_address_8h" startline="120" endline="124">llvm::orc::ExecutorAddr::toPtr</references>
      </memberdef>
      <memberdef kind="function" id="classllvm_1_1orc_1_1_in_process_memory_mapper_1ac501a4fc8b8826d6451a9ae117ca3e0b" prot="public" static="no" const="no" explicit="no" inline="no" virt="virtual">
        <type>void</type>
        <definition>void llvm::orc::InProcessMemoryMapper::deinitialize</definition>
        <argsstring>(ArrayRef&lt; ExecutorAddr &gt; Allocations, OnDeinitializedFunction OnDeInitialized) override</argsstring>
        <name>deinitialize</name>
        <qualifiedname>llvm::orc::InProcessMemoryMapper::deinitialize</qualifiedname>
        <reimplements refid="classllvm_1_1orc_1_1_memory_mapper_1abf09157d03e5d1d4dcc6bf6deb67085f">deinitialize</reimplements>
        <param>
          <type><ref refid="classllvm_1_1_array_ref" kindref="compound">ArrayRef</ref>&lt; <ref refid="classllvm_1_1orc_1_1_executor_addr" kindref="compound">ExecutorAddr</ref> &gt;</type>
          <declname>Allocations</declname>
        </param>
        <param>
          <type><ref refid="classllvm_1_1orc_1_1_memory_mapper_1aedfe192af316b519758f8f400ff24ff5" kindref="member">OnDeinitializedFunction</ref></type>
          <declname>OnDeInitialized</declname>
        </param>
        <briefdescription>
<para>Runs previously specified deinitialization actions Executor addresses returned by initialize should be passed. </para>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" line="96" column="8" bodyfile="lib/ExecutionEngine/Orc/MemoryMapper.cpp" bodystart="110" bodyend="138"/>
        <references refid="namespacellvm_1_1sampleprof_1a702f69807459cc25db5754a5f179d3fcaf6fbeb8fa9f451468611536b00878d41" compoundref="_discriminator_8h" startline="58">llvm::sampleprof::Base</references>
        <references refid="namespacellvm_1ad10875fd499e8e285aaeef615e9b11aa" compoundref="_testing_2_support_2_error_8cpp" startline="111" endline="115">llvm::errorCodeToError</references>
        <references refid="namespacellvm_1a71210b99d2ef87236d8505c1771a7ab1" compoundref="llvm_2_support_2_error_8h" startline="438" endline="440">llvm::joinErrors</references>
        <references refid="classllvm_1_1sys_1_1_memory_1a548f317b89dc0bba738b89e5ce791395a02cae455b05abf1bfb1de69095e66417" compoundref="_memory_8h" startline="56">llvm::sys::Memory::MF_READ</references>
        <references refid="classllvm_1_1sys_1_1_memory_1a548f317b89dc0bba738b89e5ce791395a83e34a8267f7acd88563e9d5a3ee7c25" compoundref="_memory_8h" startline="57">llvm::sys::Memory::MF_WRITE</references>
        <references refid="classllvm_1_1sys_1_1_memory_1ae27409ddee7e191f33392283ca826703">llvm::sys::Memory::protectMappedMemory</references>
        <references refid="namespacellvm_1a6b0ac1fa4f05de76413c5e0ca6334035" compoundref="_s_t_l_extras_8h" startline="420" endline="426">llvm::reverse</references>
        <references refid="namespacellvm_1_1orc_1_1shared_1a8263d385de2b406acf8dbef9b0993cc9" compoundref="_allocation_actions_8cpp" startline="33" endline="40">llvm::orc::shared::runDeallocActions</references>
        <references refid="_inline_order_8cpp_1a7ee6f0cb51c3b9056199e9a0001fe8c3a6f6cb72d544962fa333e2e34ce64f719" compoundref="_inline_order_8cpp" startline="25">Size</references>
        <references refid="classllvm_1_1_error_1a4dfd0813c3d0e0a30439b5a3e9196b59" compoundref="llvm_2_support_2_error_8h" startline="337" endline="337">llvm::Error::success</references>
        <referencedby refid="classllvm_1_1orc_1_1_in_process_memory_mapper_1ae7b7c908c1016860ed8c53965f8f167a" compoundref="_memory_mapper_8cpp" startline="140" endline="175">release</referencedby>
      </memberdef>
      <memberdef kind="function" id="classllvm_1_1orc_1_1_in_process_memory_mapper_1ae7b7c908c1016860ed8c53965f8f167a" prot="public" static="no" const="no" explicit="no" inline="no" virt="virtual">
        <type>void</type>
        <definition>void llvm::orc::InProcessMemoryMapper::release</definition>
        <argsstring>(ArrayRef&lt; ExecutorAddr &gt; Reservations, OnReleasedFunction OnRelease) override</argsstring>
        <name>release</name>
        <qualifiedname>llvm::orc::InProcessMemoryMapper::release</qualifiedname>
        <reimplements refid="classllvm_1_1orc_1_1_memory_mapper_1a5378c64c63dbec6bf94e44336f5c32e3">release</reimplements>
        <param>
          <type><ref refid="classllvm_1_1_array_ref" kindref="compound">ArrayRef</ref>&lt; <ref refid="classllvm_1_1orc_1_1_executor_addr" kindref="compound">ExecutorAddr</ref> &gt;</type>
          <declname>Reservations</declname>
        </param>
        <param>
          <type><ref refid="classllvm_1_1orc_1_1_memory_mapper_1a002df15a1ca5b57f024af911d7854e90" kindref="member">OnReleasedFunction</ref></type>
          <declname>OnRelease</declname>
        </param>
        <briefdescription>
<para>Release address space acquired through <ref refid="classllvm_1_1orc_1_1_in_process_memory_mapper_1a7567e026468fa261fb6186a2d30115ff" kindref="member">reserve()</ref> </para>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" line="99" column="8" bodyfile="lib/ExecutionEngine/Orc/MemoryMapper.cpp" bodystart="140" bodyend="175"/>
        <references refid="namespacellvm_1_1sampleprof_1a702f69807459cc25db5754a5f179d3fcaf6fbeb8fa9f451468611536b00878d41" compoundref="_discriminator_8h" startline="58">llvm::sampleprof::Base</references>
        <references refid="classllvm_1_1orc_1_1_in_process_memory_mapper_1ac501a4fc8b8826d6451a9ae117ca3e0b" compoundref="_memory_mapper_8cpp" startline="110" endline="138">deinitialize</references>
        <references refid="_builtin_g_cs_8cpp_1abb2b3a60ccc38a28239e19a1646e0c8a">E</references>
        <references refid="namespacellvm_1ad10875fd499e8e285aaeef615e9b11aa" compoundref="_testing_2_support_2_error_8cpp" startline="111" endline="115">llvm::errorCodeToError</references>
        <references refid="_m_d5_8cpp_1a96d73bbd7af15cb1fc38c3f4a3bd82e9" compoundref="_m_d5_8cpp" startline="55">F</references>
        <references refid="namespacellvm_1a71210b99d2ef87236d8505c1771a7ab1" compoundref="llvm_2_support_2_error_8h" startline="438" endline="440">llvm::joinErrors</references>
        <references refid="_option_8cpp_1a04665169063c8ca1f2ea96c27fc7c2b2">P</references>
        <references refid="classllvm_1_1sys_1_1_memory_1a042d24349a4b6a5ce475309cce529ae0">llvm::sys::Memory::releaseMappedMemory</references>
        <references refid="_inline_order_8cpp_1a7ee6f0cb51c3b9056199e9a0001fe8c3a6f6cb72d544962fa333e2e34ce64f719" compoundref="_inline_order_8cpp" startline="25">Size</references>
        <references refid="classllvm_1_1_error_1a4dfd0813c3d0e0a30439b5a3e9196b59" compoundref="llvm_2_support_2_error_8h" startline="337" endline="337">llvm::Error::success</references>
      </memberdef>
      <memberdef kind="function" id="classllvm_1_1orc_1_1_in_process_memory_mapper_1a9a8a5be08a1b215a7da11ae9d55ad31b" prot="public" static="no" const="no" explicit="no" inline="no" virt="non-virtual">
        <type></type>
        <definition>llvm::orc::InProcessMemoryMapper::~InProcessMemoryMapper</definition>
        <argsstring>() override</argsstring>
        <name>~InProcessMemoryMapper</name>
        <qualifiedname>llvm::orc::InProcessMemoryMapper::~InProcessMemoryMapper</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" line="102" column="3" bodyfile="lib/ExecutionEngine/Orc/MemoryMapper.cpp" bodystart="177" bodyend="192"/>
        <references refid="namespacellvm_1aa1e1474f15df639f0d874b21f15666f7" compoundref="llvm_2_support_2_error_8h" startline="756" endline="768">llvm::cantFail</references>
        <references refid="_m_d5_8cpp_1a96d73bbd7af15cb1fc38c3f4a3bd82e9" compoundref="_m_d5_8cpp" startline="55">F</references>
        <references refid="classllvm_1_1orc_1_1_executor_addr_1a8adb0ae35f7e95c960c86cfe19bc7215" compoundref="_executor_address_8h" startline="111" endline="114">llvm::orc::ExecutorAddr::fromPtr</references>
        <references refid="_option_8cpp_1a04665169063c8ca1f2ea96c27fc7c2b2">P</references>
        <references refid="namespacellvm_1a650dea4533083a886cec9f16d80356d9a123fead50246387983ee340507115ef4" compoundref="_atomic_ordering_8h" startline="32">llvm::release</references>
      </memberdef>
    </sectiondef>
    <sectiondef kind="public-static-func">
      <memberdef kind="function" id="classllvm_1_1orc_1_1_in_process_memory_mapper_1ace0850e56331e89848ec64c74dada4bd" prot="public" static="yes" const="no" explicit="no" inline="no" virt="non-virtual">
        <type><ref refid="classllvm_1_1_expected" kindref="compound">Expected</ref>&lt; std::unique_ptr&lt; <ref refid="classllvm_1_1orc_1_1_in_process_memory_mapper" kindref="compound">InProcessMemoryMapper</ref> &gt; &gt;</type>
        <definition>Expected&lt; std::unique_ptr&lt; InProcessMemoryMapper &gt; &gt; llvm::orc::InProcessMemoryMapper::Create</definition>
        <argsstring>()</argsstring>
        <name>Create</name>
        <qualifiedname>llvm::orc::InProcessMemoryMapper::Create</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" line="86" column="19" bodyfile="lib/ExecutionEngine/Orc/MemoryMapper.cpp" bodystart="36" bodyend="41"/>
        <references refid="classllvm_1_1sys_1_1_process_1a2b6f374dc4eb2a7f84cc346e5630e132">llvm::sys::Process::getPageSize</references>
      </memberdef>
    </sectiondef>
    <briefdescription>
    </briefdescription>
    <detaileddescription>
    </detaileddescription>
    <inheritancegraph>
      <node id="1">
        <label>llvm::orc::InProcessMemoryMapper</label>
        <link refid="classllvm_1_1orc_1_1_in_process_memory_mapper"/>
        <childnode refid="2" relation="public-inheritance">
        </childnode>
      </node>
      <node id="2">
        <label>llvm::orc::MemoryMapper</label>
        <link refid="classllvm_1_1orc_1_1_memory_mapper"/>
      </node>
    </inheritancegraph>
    <collaborationgraph>
      <node id="1">
        <label>llvm::orc::InProcessMemoryMapper</label>
        <link refid="classllvm_1_1orc_1_1_in_process_memory_mapper"/>
        <childnode refid="2" relation="public-inheritance">
        </childnode>
      </node>
      <node id="2">
        <label>llvm::orc::MemoryMapper</label>
        <link refid="classllvm_1_1orc_1_1_memory_mapper"/>
      </node>
    </collaborationgraph>
    <location file="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" line="82" column="1" bodyfile="include/llvm/ExecutionEngine/Orc/MemoryMapper.h" bodystart="82" bodyend="122"/>
    <listofallmembers>
      <member refid="classllvm_1_1orc_1_1_in_process_memory_mapper_1a52011a66beed8160690bd4a1b830f1ae" prot="private" virt="non-virtual"><scope>llvm::orc::InProcessMemoryMapper</scope><name>AllocationMap</name></member>
      <member refid="classllvm_1_1orc_1_1_in_process_memory_mapper_1a0f964305f91d5371b7a1e911bdb7279d" prot="private" virt="non-virtual"><scope>llvm::orc::InProcessMemoryMapper</scope><name>Allocations</name></member>
      <member refid="classllvm_1_1orc_1_1_in_process_memory_mapper_1ace0850e56331e89848ec64c74dada4bd" prot="public" virt="non-virtual"><scope>llvm::orc::InProcessMemoryMapper</scope><name>Create</name></member>
      <member refid="classllvm_1_1orc_1_1_in_process_memory_mapper_1ac501a4fc8b8826d6451a9ae117ca3e0b" prot="public" virt="virtual"><scope>llvm::orc::InProcessMemoryMapper</scope><name>deinitialize</name></member>
      <member refid="classllvm_1_1orc_1_1_in_process_memory_mapper_1ad9c425a42bde93665721fc7ecfcac4d4" prot="public" virt="virtual"><scope>llvm::orc::InProcessMemoryMapper</scope><name>getPageSize</name></member>
      <member refid="classllvm_1_1orc_1_1_in_process_memory_mapper_1a492e4d6b2bf660e7c499e22f85b72440" prot="public" virt="virtual"><scope>llvm::orc::InProcessMemoryMapper</scope><name>initialize</name></member>
      <member refid="classllvm_1_1orc_1_1_in_process_memory_mapper_1a83a0052e8954805eb391e3fbead2a069" prot="public" virt="non-virtual"><scope>llvm::orc::InProcessMemoryMapper</scope><name>InProcessMemoryMapper</name></member>
      <member refid="classllvm_1_1orc_1_1_in_process_memory_mapper_1a72fae1373890fc9f1995a1eb01ee7fb4" prot="private" virt="non-virtual"><scope>llvm::orc::InProcessMemoryMapper</scope><name>Mutex</name></member>
      <member refid="classllvm_1_1orc_1_1_memory_mapper_1aedfe192af316b519758f8f400ff24ff5" prot="public" virt="non-virtual"><scope>llvm::orc::InProcessMemoryMapper</scope><name>OnDeinitializedFunction</name></member>
      <member refid="classllvm_1_1orc_1_1_memory_mapper_1ae546b70ffe0d3b8451b9b2a3163c4372" prot="public" virt="non-virtual"><scope>llvm::orc::InProcessMemoryMapper</scope><name>OnInitializedFunction</name></member>
      <member refid="classllvm_1_1orc_1_1_memory_mapper_1a002df15a1ca5b57f024af911d7854e90" prot="public" virt="non-virtual"><scope>llvm::orc::InProcessMemoryMapper</scope><name>OnReleasedFunction</name></member>
      <member refid="classllvm_1_1orc_1_1_memory_mapper_1ae6b31499ac8e7d26c03092c14275d796" prot="public" virt="non-virtual"><scope>llvm::orc::InProcessMemoryMapper</scope><name>OnReservedFunction</name></member>
      <member refid="classllvm_1_1orc_1_1_in_process_memory_mapper_1a897b969c171fa3c5a46c9029e0ecbac7" prot="private" virt="non-virtual"><scope>llvm::orc::InProcessMemoryMapper</scope><name>PageSize</name></member>
      <member refid="classllvm_1_1orc_1_1_in_process_memory_mapper_1ad56d2316a6611ee7bf8958565aee64a2" prot="public" virt="virtual"><scope>llvm::orc::InProcessMemoryMapper</scope><name>prepare</name></member>
      <member refid="classllvm_1_1orc_1_1_in_process_memory_mapper_1ae7b7c908c1016860ed8c53965f8f167a" prot="public" virt="virtual"><scope>llvm::orc::InProcessMemoryMapper</scope><name>release</name></member>
      <member refid="classllvm_1_1orc_1_1_in_process_memory_mapper_1ae0d0ae2a89b7c9917523860c3eafa8ee" prot="private" virt="non-virtual"><scope>llvm::orc::InProcessMemoryMapper</scope><name>ReservationMap</name></member>
      <member refid="classllvm_1_1orc_1_1_in_process_memory_mapper_1a84e35e9f5700bf0ee8113f3d78124f3e" prot="private" virt="non-virtual"><scope>llvm::orc::InProcessMemoryMapper</scope><name>Reservations</name></member>
      <member refid="classllvm_1_1orc_1_1_in_process_memory_mapper_1a7567e026468fa261fb6186a2d30115ff" prot="public" virt="virtual"><scope>llvm::orc::InProcessMemoryMapper</scope><name>reserve</name></member>
      <member refid="classllvm_1_1orc_1_1_in_process_memory_mapper_1a9a8a5be08a1b215a7da11ae9d55ad31b" prot="public" virt="non-virtual"><scope>llvm::orc::InProcessMemoryMapper</scope><name>~InProcessMemoryMapper</name></member>
      <member refid="classllvm_1_1orc_1_1_memory_mapper_1aaac141615bd5d8a6681ca7b1fc5b72c1" prot="public" virt="virtual"><scope>llvm::orc::InProcessMemoryMapper</scope><name>~MemoryMapper</name></member>
    </listofallmembers>
  </compounddef>
</doxygen>
