<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.14.0" xml:lang="en-US">
  <compounddef id="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper" kind="struct" language="C++" prot="public">
    <compoundname>anonymous_namespace{MachineOutliner.cpp}::InstructionMapper</compoundname>
    <sectiondef kind="public-attrib">
      <memberdef kind="variable" id="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1a03d801e5580d7a721d94609f72b6c5cc" prot="public" static="no" mutable="no">
        <type><ref refid="_a_arch64_promote_constant_8cpp_1a90f8350fecae261c25be85d38b451bff" kindref="member">const</ref> <ref refid="classllvm_1_1_machine_module_info" kindref="compound">MachineModuleInfo</ref> &amp;</type>
        <definition>const MachineModuleInfo&amp; anonymous_namespace{MachineOutliner.cpp}::InstructionMapper::MMI</definition>
        <argsstring></argsstring>
        <name>MMI</name>
        <qualifiedname>anonymous_namespace{MachineOutliner.cpp}::InstructionMapper::MMI</qualifiedname>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/CodeGen/MachineOutliner.cpp" line="154" column="27" bodyfile="lib/CodeGen/MachineOutliner.cpp" bodystart="154" bodyend="-1"/>
        <referencedby refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1ab972a0bf71717b582043380f067148dc" compoundref="_machine_outliner_8cpp" startline="290" endline="403">convertToUnsignedVec</referencedby>
        <referencedby refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1a76ed047b551aad831e63f153678d6d85" compoundref="_machine_outliner_8cpp" startline="405" endline="412">InstructionMapper</referencedby>
      </memberdef>
      <memberdef kind="variable" id="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1a0e198f7621f46197f997f4cf42109b77" prot="public" static="no" mutable="no">
        <type><ref refid="classunsigned" kindref="compound">unsigned</ref></type>
        <definition>unsigned anonymous_namespace{MachineOutliner.cpp}::InstructionMapper::IllegalInstrNumber</definition>
        <argsstring></argsstring>
        <name>IllegalInstrNumber</name>
        <qualifiedname>anonymous_namespace{MachineOutliner.cpp}::InstructionMapper::IllegalInstrNumber</qualifiedname>
        <initializer>= -3</initializer>
        <briefdescription>
<para>The next available integer to assign to a <computeroutput><ref refid="classllvm_1_1_machine_instr" kindref="compound">MachineInstr</ref></computeroutput> that cannot be outlined. </para>
        </briefdescription>
        <detaileddescription>
<para>Set to -3 for compatability with <computeroutput>DenseMapInfo&lt;unsigned&gt;</computeroutput>. </para>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/CodeGen/MachineOutliner.cpp" line="160" column="12" bodyfile="lib/CodeGen/MachineOutliner.cpp" bodystart="160" bodyend="-1"/>
        <referencedby refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1a4f2bae254fbc6babdf14612c7b20b512" compoundref="_machine_outliner_8cpp" startline="247" endline="278">mapToIllegalUnsigned</referencedby>
        <referencedby refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1a0ad5905b935c2e08e68fa162f6950233" compoundref="_machine_outliner_8cpp" startline="192" endline="239">mapToLegalUnsigned</referencedby>
      </memberdef>
      <memberdef kind="variable" id="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1ad9a7ba9ac7797fd4e187259cb8c3a52d" prot="public" static="no" mutable="no">
        <type><ref refid="classunsigned" kindref="compound">unsigned</ref></type>
        <definition>unsigned anonymous_namespace{MachineOutliner.cpp}::InstructionMapper::LegalInstrNumber</definition>
        <argsstring></argsstring>
        <name>LegalInstrNumber</name>
        <qualifiedname>anonymous_namespace{MachineOutliner.cpp}::InstructionMapper::LegalInstrNumber</qualifiedname>
        <initializer>= 0</initializer>
        <briefdescription>
<para>The next available integer to assign to a <computeroutput><ref refid="classllvm_1_1_machine_instr" kindref="compound">MachineInstr</ref></computeroutput> that can be outlined. </para>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/CodeGen/MachineOutliner.cpp" line="164" column="12" bodyfile="lib/CodeGen/MachineOutliner.cpp" bodystart="164" bodyend="-1"/>
        <referencedby refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1a4f2bae254fbc6babdf14612c7b20b512" compoundref="_machine_outliner_8cpp" startline="247" endline="278">mapToIllegalUnsigned</referencedby>
        <referencedby refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1a0ad5905b935c2e08e68fa162f6950233" compoundref="_machine_outliner_8cpp" startline="192" endline="239">mapToLegalUnsigned</referencedby>
      </memberdef>
      <memberdef kind="variable" id="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1a1216dbec7ee83bf1056d1b76da88c573" prot="public" static="no" mutable="no">
        <type><ref refid="classllvm_1_1_dense_map" kindref="compound">DenseMap</ref>&lt; <ref refid="classllvm_1_1_machine_instr" kindref="compound">MachineInstr</ref> *, <ref refid="classunsigned" kindref="compound">unsigned</ref>, <ref refid="structllvm_1_1_machine_instr_expression_trait" kindref="compound">MachineInstrExpressionTrait</ref> &gt;</type>
        <definition>DenseMap&lt;MachineInstr *, unsigned, MachineInstrExpressionTrait&gt; anonymous_namespace{MachineOutliner.cpp}::InstructionMapper::InstructionIntegerMap</definition>
        <argsstring></argsstring>
        <name>InstructionIntegerMap</name>
        <qualifiedname>anonymous_namespace{MachineOutliner.cpp}::InstructionMapper::InstructionIntegerMap</qualifiedname>
        <briefdescription>
<para>Correspondence from <computeroutput>MachineInstrs</computeroutput> to unsigned integers. </para>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/CodeGen/MachineOutliner.cpp" line="168" column="7" bodyfile="lib/CodeGen/MachineOutliner.cpp" bodystart="168" bodyend="-1"/>
        <referencedby refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1a0ad5905b935c2e08e68fa162f6950233" compoundref="_machine_outliner_8cpp" startline="192" endline="239">mapToLegalUnsigned</referencedby>
      </memberdef>
      <memberdef kind="variable" id="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1aca781b005b26b74870c3aa3fb6e11624" prot="public" static="no" mutable="no">
        <type><ref refid="classllvm_1_1_dense_map" kindref="compound">DenseMap</ref>&lt; <ref refid="classllvm_1_1_machine_basic_block" kindref="compound">MachineBasicBlock</ref> *, <ref refid="classunsigned" kindref="compound">unsigned</ref> &gt;</type>
        <definition>DenseMap&lt;MachineBasicBlock *, unsigned&gt; anonymous_namespace{MachineOutliner.cpp}::InstructionMapper::MBBFlagsMap</definition>
        <argsstring></argsstring>
        <name>MBBFlagsMap</name>
        <qualifiedname>anonymous_namespace{MachineOutliner.cpp}::InstructionMapper::MBBFlagsMap</qualifiedname>
        <briefdescription>
<para>Correspondence between <computeroutput>MachineBasicBlocks</computeroutput> and target-defined flags. </para>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/CodeGen/MachineOutliner.cpp" line="171" column="12" bodyfile="lib/CodeGen/MachineOutliner.cpp" bodystart="171" bodyend="-1"/>
        <referencedby refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1ab972a0bf71717b582043380f067148dc" compoundref="_machine_outliner_8cpp" startline="290" endline="403">convertToUnsignedVec</referencedby>
        <referencedby refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_machine_outliner_1a9ffe567aa54e3a2cf09da0fda0b7782b" compoundref="_machine_outliner_8cpp" startline="744" endline="852">anonymous_namespace{MachineOutliner.cpp}::MachineOutliner::findCandidates</referencedby>
        <referencedby refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_machine_outliner_1abc198544930d8083eb7f18ddab232ce9" compoundref="_machine_outliner_8cpp" startline="712" endline="742">anonymous_namespace{MachineOutliner.cpp}::MachineOutliner::findGlobalCandidates</referencedby>
      </memberdef>
      <memberdef kind="variable" id="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1a5ffe546b4199ea1edd45cc4f0f08e64d" prot="public" static="no" mutable="no">
        <type><ref refid="classllvm_1_1_small_vector" kindref="compound">SmallVector</ref>&lt; <ref refid="classunsigned" kindref="compound">unsigned</ref> &gt;</type>
        <definition>SmallVector&lt;unsigned&gt; anonymous_namespace{MachineOutliner.cpp}::InstructionMapper::UnsignedVec</definition>
        <argsstring></argsstring>
        <name>UnsignedVec</name>
        <qualifiedname>anonymous_namespace{MachineOutliner.cpp}::InstructionMapper::UnsignedVec</qualifiedname>
        <briefdescription>
<para>The vector of unsigned integers that the module is mapped to. </para>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/CodeGen/MachineOutliner.cpp" line="174" column="15" bodyfile="lib/CodeGen/MachineOutliner.cpp" bodystart="174" bodyend="-1"/>
        <referencedby refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1ab972a0bf71717b582043380f067148dc" compoundref="_machine_outliner_8cpp" startline="290" endline="403">convertToUnsignedVec</referencedby>
        <referencedby refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_machine_outliner_1a9ffe567aa54e3a2cf09da0fda0b7782b" compoundref="_machine_outliner_8cpp" startline="744" endline="852">anonymous_namespace{MachineOutliner.cpp}::MachineOutliner::findCandidates</referencedby>
        <referencedby refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_machine_outliner_1a1ac412f2e4cc981d3b9d3f6cf6d5988a" compoundref="_machine_outliner_8cpp" startline="1027" endline="1187">anonymous_namespace{MachineOutliner.cpp}::MachineOutliner::outline</referencedby>
        <referencedby refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_machine_outliner_1ac2358bb1fa4721b99f88e2149d6d127d" compoundref="_machine_outliner_8cpp" startline="1189" endline="1259">anonymous_namespace{MachineOutliner.cpp}::MachineOutliner::populateMapper</referencedby>
      </memberdef>
      <memberdef kind="variable" id="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1a55ee9a3bf5f8e61cb90c7ff4ad0aef7c" prot="public" static="no" mutable="no">
        <type><ref refid="classllvm_1_1_small_vector" kindref="compound">SmallVector</ref>&lt; <ref refid="classllvm_1_1_machine_basic_block_1ae34c996b58df9b9ce6695a0c8b70c533" kindref="member">MachineBasicBlock::iterator</ref> &gt;</type>
        <definition>SmallVector&lt;MachineBasicBlock::iterator&gt; anonymous_namespace{MachineOutliner.cpp}::InstructionMapper::InstrList</definition>
        <argsstring></argsstring>
        <name>InstrList</name>
        <qualifiedname>anonymous_namespace{MachineOutliner.cpp}::InstructionMapper::InstrList</qualifiedname>
        <briefdescription>
<para>Stores the location of the instruction associated with the integer at index i in <computeroutput>UnsignedVec</computeroutput> for each index i. </para>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/CodeGen/MachineOutliner.cpp" line="178" column="15" bodyfile="lib/CodeGen/MachineOutliner.cpp" bodystart="178" bodyend="-1"/>
        <referencedby refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1ab972a0bf71717b582043380f067148dc" compoundref="_machine_outliner_8cpp" startline="290" endline="403">convertToUnsignedVec</referencedby>
        <referencedby refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_machine_outliner_1a9ffe567aa54e3a2cf09da0fda0b7782b" compoundref="_machine_outliner_8cpp" startline="744" endline="852">anonymous_namespace{MachineOutliner.cpp}::MachineOutliner::findCandidates</referencedby>
        <referencedby refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_machine_outliner_1abc198544930d8083eb7f18ddab232ce9" compoundref="_machine_outliner_8cpp" startline="712" endline="742">anonymous_namespace{MachineOutliner.cpp}::MachineOutliner::findGlobalCandidates</referencedby>
      </memberdef>
      <memberdef kind="variable" id="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1afa673286927fc074a3e5b5fc52939b54" prot="public" static="no" mutable="no">
        <type><ref refid="classbool" kindref="compound">bool</ref></type>
        <definition>bool anonymous_namespace{MachineOutliner.cpp}::InstructionMapper::AddedIllegalLastTime</definition>
        <argsstring></argsstring>
        <name>AddedIllegalLastTime</name>
        <qualifiedname>anonymous_namespace{MachineOutliner.cpp}::InstructionMapper::AddedIllegalLastTime</qualifiedname>
        <initializer>= false</initializer>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/CodeGen/MachineOutliner.cpp" line="184" column="8" bodyfile="lib/CodeGen/MachineOutliner.cpp" bodystart="184" bodyend="-1"/>
        <referencedby refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1ab972a0bf71717b582043380f067148dc" compoundref="_machine_outliner_8cpp" startline="290" endline="403">convertToUnsignedVec</referencedby>
        <referencedby refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1a4f2bae254fbc6babdf14612c7b20b512" compoundref="_machine_outliner_8cpp" startline="247" endline="278">mapToIllegalUnsigned</referencedby>
        <referencedby refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1a0ad5905b935c2e08e68fa162f6950233" compoundref="_machine_outliner_8cpp" startline="192" endline="239">mapToLegalUnsigned</referencedby>
      </memberdef>
    </sectiondef>
    <sectiondef kind="public-func">
      <memberdef kind="function" id="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1a0ad5905b935c2e08e68fa162f6950233" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type><ref refid="classunsigned" kindref="compound">unsigned</ref></type>
        <definition>unsigned anonymous_namespace{MachineOutliner.cpp}::InstructionMapper::mapToLegalUnsigned</definition>
        <argsstring>(MachineBasicBlock::iterator &amp;It, bool &amp;CanOutlineWithPrevInstr, bool &amp;HaveLegalRange, unsigned &amp;NumLegalInBlock, SmallVector&lt; unsigned &gt; &amp;UnsignedVecForMBB, SmallVector&lt; MachineBasicBlock::iterator &gt; &amp;InstrListForMBB)</argsstring>
        <name>mapToLegalUnsigned</name>
        <qualifiedname>anonymous_namespace{MachineOutliner.cpp}::InstructionMapper::mapToLegalUnsigned</qualifiedname>
        <param>
          <type><ref refid="classllvm_1_1_machine_basic_block_1ae34c996b58df9b9ce6695a0c8b70c533" kindref="member">MachineBasicBlock::iterator</ref> &amp;</type>
          <declname>It</declname>
        </param>
        <param>
          <type><ref refid="classbool" kindref="compound">bool</ref> &amp;</type>
          <declname>CanOutlineWithPrevInstr</declname>
        </param>
        <param>
          <type><ref refid="classbool" kindref="compound">bool</ref> &amp;</type>
          <declname>HaveLegalRange</declname>
        </param>
        <param>
          <type><ref refid="classunsigned" kindref="compound">unsigned</ref> &amp;</type>
          <declname>NumLegalInBlock</declname>
        </param>
        <param>
          <type><ref refid="classllvm_1_1_small_vector" kindref="compound">SmallVector</ref>&lt; <ref refid="classunsigned" kindref="compound">unsigned</ref> &gt; &amp;</type>
          <declname>UnsignedVecForMBB</declname>
        </param>
        <param>
          <type><ref refid="classllvm_1_1_small_vector" kindref="compound">SmallVector</ref>&lt; <ref refid="classllvm_1_1_machine_basic_block_1ae34c996b58df9b9ce6695a0c8b70c533" kindref="member">MachineBasicBlock::iterator</ref> &gt; &amp;</type>
          <declname>InstrListForMBB</declname>
        </param>
        <briefdescription>
<para>Maps <computeroutput>*It</computeroutput> to a legal integer. </para>
        </briefdescription>
        <detaileddescription>
<para>Updates <computeroutput>CanOutlineWithPrevInstr</computeroutput>, <computeroutput>HaveLegalRange</computeroutput>, <computeroutput>InstrListForMBB</computeroutput>, <computeroutput>UnsignedVecForMBB</computeroutput>, <computeroutput>InstructionIntegerMap</computeroutput>, and <computeroutput>LegalInstrNumber</computeroutput>.</para>
<para><simplesect kind="return"><para>The integer that <computeroutput>*It</computeroutput> was mapped to. </para>
</simplesect>
</para>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/CodeGen/MachineOutliner.cpp" line="192" column="12" bodyfile="lib/CodeGen/MachineOutliner.cpp" bodystart="192" bodyend="239"/>
        <references refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1afa673286927fc074a3e5b5fc52939b54" compoundref="_machine_outliner_8cpp" startline="184">AddedIllegalLastTime</references>
        <references refid="_s_i_lower_control_flow_8cpp_1a4868c5d81c5ccc98c47aeab6244346a0">assert</references>
        <references refid="structanonymous__namespace_02_g_v_n_sink_8cpp_03_1_1_dense_map_info_1a1423601a8e4ec304e0756df4e761ebbb" compoundref="_g_v_n_sink_8cpp" startline="341" endline="344">anonymous_namespace{GVNSink.cpp}::DenseMapInfo&lt; ModelledPHI &gt;::getEmptyKey</references>
        <references refid="structanonymous__namespace_02_g_v_n_sink_8cpp_03_1_1_dense_map_info_1a9571e26b946751eaf015a9b8dc508be9" compoundref="_g_v_n_sink_8cpp" startline="346" endline="349">anonymous_namespace{GVNSink.cpp}::DenseMapInfo&lt; ModelledPHI &gt;::getTombstoneKey</references>
        <references refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1a0e198f7621f46197f997f4cf42109b77" compoundref="_machine_outliner_8cpp" startline="160">IllegalInstrNumber</references>
        <references refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1a1216dbec7ee83bf1056d1b76da88c573" compoundref="_machine_outliner_8cpp" startline="168">InstructionIntegerMap</references>
        <references refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1ad9a7ba9ac7797fd4e187259cb8c3a52d" compoundref="_machine_outliner_8cpp" startline="164">LegalInstrNumber</references>
        <references refid="_i_r_translator_8cpp_1abe44dfdea65b4f7e11e0a608ab708b76" compoundref="_i_r_translator_8cpp" startline="112">MI</references>
        <references refid="classllvm_1_1_small_vector_template_base_1af42bfbc067df27c19ee2fc859df58799" compoundref="_small_vector_8h" startline="413" endline="417">llvm::SmallVectorTemplateBase&lt; T, bool &gt;::push_back</references>
        <references refid="namespacellvm_1a7f2a3d4dcfee70225988aec53ff1e173" compoundref="_testing_2_support_2_error_8cpp" startline="167" endline="175">llvm::report_fatal_error</references>
        <referencedby refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1ab972a0bf71717b582043380f067148dc" compoundref="_machine_outliner_8cpp" startline="290" endline="403">convertToUnsignedVec</referencedby>
      </memberdef>
      <memberdef kind="function" id="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1a4f2bae254fbc6babdf14612c7b20b512" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type><ref refid="classunsigned" kindref="compound">unsigned</ref></type>
        <definition>unsigned anonymous_namespace{MachineOutliner.cpp}::InstructionMapper::mapToIllegalUnsigned</definition>
        <argsstring>(MachineBasicBlock::iterator &amp;It, bool &amp;CanOutlineWithPrevInstr, SmallVector&lt; unsigned &gt; &amp;UnsignedVecForMBB, SmallVector&lt; MachineBasicBlock::iterator &gt; &amp;InstrListForMBB)</argsstring>
        <name>mapToIllegalUnsigned</name>
        <qualifiedname>anonymous_namespace{MachineOutliner.cpp}::InstructionMapper::mapToIllegalUnsigned</qualifiedname>
        <param>
          <type><ref refid="classllvm_1_1_machine_basic_block_1ae34c996b58df9b9ce6695a0c8b70c533" kindref="member">MachineBasicBlock::iterator</ref> &amp;</type>
          <declname>It</declname>
        </param>
        <param>
          <type><ref refid="classbool" kindref="compound">bool</ref> &amp;</type>
          <declname>CanOutlineWithPrevInstr</declname>
        </param>
        <param>
          <type><ref refid="classllvm_1_1_small_vector" kindref="compound">SmallVector</ref>&lt; <ref refid="classunsigned" kindref="compound">unsigned</ref> &gt; &amp;</type>
          <declname>UnsignedVecForMBB</declname>
        </param>
        <param>
          <type><ref refid="classllvm_1_1_small_vector" kindref="compound">SmallVector</ref>&lt; <ref refid="classllvm_1_1_machine_basic_block_1ae34c996b58df9b9ce6695a0c8b70c533" kindref="member">MachineBasicBlock::iterator</ref> &gt; &amp;</type>
          <declname>InstrListForMBB</declname>
        </param>
        <briefdescription>
<para>Maps <computeroutput>*It</computeroutput> to an illegal integer. </para>
        </briefdescription>
        <detaileddescription>
<para>Updates <computeroutput>InstrListForMBB</computeroutput>, <computeroutput>UnsignedVecForMBB</computeroutput>, and <computeroutput>IllegalInstrNumber</computeroutput>.</para>
<para><simplesect kind="return"><para>The integer that <computeroutput>*It</computeroutput> was mapped to. </para>
</simplesect>
</para>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/CodeGen/MachineOutliner.cpp" line="247" column="12" bodyfile="lib/CodeGen/MachineOutliner.cpp" bodystart="247" bodyend="278"/>
        <references refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1afa673286927fc074a3e5b5fc52939b54" compoundref="_machine_outliner_8cpp" startline="184">AddedIllegalLastTime</references>
        <references refid="_s_i_lower_control_flow_8cpp_1a4868c5d81c5ccc98c47aeab6244346a0">assert</references>
        <references refid="structanonymous__namespace_02_g_v_n_sink_8cpp_03_1_1_dense_map_info_1a1423601a8e4ec304e0756df4e761ebbb" compoundref="_g_v_n_sink_8cpp" startline="341" endline="344">anonymous_namespace{GVNSink.cpp}::DenseMapInfo&lt; ModelledPHI &gt;::getEmptyKey</references>
        <references refid="structanonymous__namespace_02_g_v_n_sink_8cpp_03_1_1_dense_map_info_1a9571e26b946751eaf015a9b8dc508be9" compoundref="_g_v_n_sink_8cpp" startline="346" endline="349">anonymous_namespace{GVNSink.cpp}::DenseMapInfo&lt; ModelledPHI &gt;::getTombstoneKey</references>
        <references refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1a0e198f7621f46197f997f4cf42109b77" compoundref="_machine_outliner_8cpp" startline="160">IllegalInstrNumber</references>
        <references refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1ad9a7ba9ac7797fd4e187259cb8c3a52d" compoundref="_machine_outliner_8cpp" startline="164">LegalInstrNumber</references>
        <references refid="classllvm_1_1_small_vector_template_base_1af42bfbc067df27c19ee2fc859df58799" compoundref="_small_vector_8h" startline="413" endline="417">llvm::SmallVectorTemplateBase&lt; T, bool &gt;::push_back</references>
        <referencedby refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1ab972a0bf71717b582043380f067148dc" compoundref="_machine_outliner_8cpp" startline="290" endline="403">convertToUnsignedVec</referencedby>
      </memberdef>
      <memberdef kind="function" id="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1ab972a0bf71717b582043380f067148dc" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type>void</type>
        <definition>void anonymous_namespace{MachineOutliner.cpp}::InstructionMapper::convertToUnsignedVec</definition>
        <argsstring>(MachineBasicBlock &amp;MBB, const TargetInstrInfo &amp;TII)</argsstring>
        <name>convertToUnsignedVec</name>
        <qualifiedname>anonymous_namespace{MachineOutliner.cpp}::InstructionMapper::convertToUnsignedVec</qualifiedname>
        <param>
          <type><ref refid="classllvm_1_1_machine_basic_block" kindref="compound">MachineBasicBlock</ref> &amp;</type>
          <declname>MBB</declname>
        </param>
        <param>
          <type><ref refid="_a_arch64_promote_constant_8cpp_1a90f8350fecae261c25be85d38b451bff" kindref="member">const</ref> <ref refid="classllvm_1_1_target_instr_info" kindref="compound">TargetInstrInfo</ref> &amp;</type>
          <declname>TII</declname>
        </param>
        <briefdescription>
<para>Transforms a <computeroutput><ref refid="classllvm_1_1_machine_basic_block" kindref="compound">MachineBasicBlock</ref></computeroutput> into a <computeroutput>vector</computeroutput> of <computeroutput>unsigneds</computeroutput> and appends it to <computeroutput>UnsignedVec</computeroutput> and <computeroutput>InstrList</computeroutput>. </para>
        </briefdescription>
        <detaileddescription>
<para>Two instructions are assigned the same integer if they are identical. If an instruction is deemed unsafe to outline, then it will be assigned an unique integer. The resulting mapping is placed into a suffix tree and queried for candidates.</para>
<para><parameterlist kind="param"><parameteritem>
<parameternamelist>
<parametername>MBB</parametername>
</parameternamelist>
<parameterdescription>
<para>The <computeroutput><ref refid="classllvm_1_1_machine_basic_block" kindref="compound">MachineBasicBlock</ref></computeroutput> to be translated into integers. </para>
</parameterdescription>
</parameteritem>
<parameteritem>
<parameternamelist>
<parametername>TII</parametername>
</parameternamelist>
<parameterdescription>
<para><computeroutput><ref refid="classllvm_1_1_target_instr_info" kindref="compound">TargetInstrInfo</ref></computeroutput> for the function. </para>
</parameterdescription>
</parameteritem>
</parameterlist>
</para>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/CodeGen/MachineOutliner.cpp" line="290" column="8" bodyfile="lib/CodeGen/MachineOutliner.cpp" bodystart="290" bodyend="403"/>
        <references refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1afa673286927fc074a3e5b5fc52939b54" compoundref="_machine_outliner_8cpp" startline="184">AddedIllegalLastTime</references>
        <references refid="namespacellvm_1a39d3d23a084c4544ee5903203db10e8a" compoundref="_s_t_l_extras_8h" startline="2115" endline="2117">llvm::append_range</references>
        <references refid="_s_i_lower_control_flow_8cpp_1a4868c5d81c5ccc98c47aeab6244346a0">assert</references>
        <references refid="namespacellvm_1a7c46c742c31be54870e2038048e6b391" compoundref="_debug_8cpp" startline="163" endline="181">llvm::dbgs</references>
        <references refid="namespacellvm_1_1outliner_1a0765e098fe7aae0f01b60ec890ac1b52a795f5ad85ed392b65a70b46dacaeef34" compoundref="_machine_outliner_8h" startline="34">llvm::outliner::Illegal</references>
        <references refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1a55ee9a3bf5f8e61cb90c7ff4ad0aef7c" compoundref="_machine_outliner_8cpp" startline="178">InstrList</references>
        <references refid="namespacellvm_1_1outliner_1a0765e098fe7aae0f01b60ec890ac1b52add798e74afcdf046a9a39e477261ab0e" compoundref="_machine_outliner_8h" startline="34">llvm::outliner::Invisible</references>
        <references refid="namespacellvm_1_1outliner_1a0765e098fe7aae0f01b60ec890ac1b52a5b2760b5bb9cc62190d2ddfe563776b9" compoundref="_machine_outliner_8h" startline="34">llvm::outliner::Legal</references>
        <references refid="namespacellvm_1_1outliner_1a0765e098fe7aae0f01b60ec890ac1b52a6adc06fdab039cdbfaaeda00060c5e63" compoundref="_machine_outliner_8h" startline="34">llvm::outliner::LegalTerminator</references>
        <references refid="_debug_8h_1a196897517069dda1bdb549e24468f7d7" compoundref="_debug_8h" startline="106">LLVM_DEBUG</references>
        <references refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1a4f2bae254fbc6babdf14612c7b20b512" compoundref="_machine_outliner_8cpp" startline="247" endline="278">mapToIllegalUnsigned</references>
        <references refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1a0ad5905b935c2e08e68fa162f6950233" compoundref="_machine_outliner_8cpp" startline="192" endline="239">mapToLegalUnsigned</references>
        <references refid="_a_r_m_s_l_s_hardening_8cpp_1a5958512eae2979bd2eb383977996a600" compoundref="_a_r_m_s_l_s_hardening_8cpp" startline="71">MBB</references>
        <references refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1aca781b005b26b74870c3aa3fb6e11624" compoundref="_machine_outliner_8cpp" startline="171">MBBFlagsMap</references>
        <references refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1a03d801e5580d7a721d94609f72b6c5cc" compoundref="_machine_outliner_8cpp" startline="154">MMI</references>
        <references refid="_hexagon_copy_to_combine_8cpp_1a1d40004718218dbdf06b496766299101" compoundref="_hexagon_copy_to_combine_8cpp" startline="125">TII</references>
        <references refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1a5ffe546b4199ea1edd45cc4f0f08e64d" compoundref="_machine_outliner_8cpp" startline="174">UnsignedVec</references>
        <referencedby refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_machine_outliner_1ac2358bb1fa4721b99f88e2149d6d127d" compoundref="_machine_outliner_8cpp" startline="1189" endline="1259">anonymous_namespace{MachineOutliner.cpp}::MachineOutliner::populateMapper</referencedby>
      </memberdef>
      <memberdef kind="function" id="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1a76ed047b551aad831e63f153678d6d85" prot="public" static="no" const="no" explicit="no" inline="yes" virt="non-virtual">
        <type></type>
        <definition>anonymous_namespace{MachineOutliner.cpp}::InstructionMapper::InstructionMapper</definition>
        <argsstring>(const MachineModuleInfo &amp;MMI_)</argsstring>
        <name>InstructionMapper</name>
        <qualifiedname>anonymous_namespace{MachineOutliner.cpp}::InstructionMapper::InstructionMapper</qualifiedname>
        <param>
          <type><ref refid="_a_arch64_promote_constant_8cpp_1a90f8350fecae261c25be85d38b451bff" kindref="member">const</ref> <ref refid="classllvm_1_1_machine_module_info" kindref="compound">MachineModuleInfo</ref> &amp;</type>
          <declname>MMI_</declname>
        </param>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="lib/CodeGen/MachineOutliner.cpp" line="405" column="3" bodyfile="lib/CodeGen/MachineOutliner.cpp" bodystart="405" bodyend="412"/>
        <references refid="_s_i_lower_control_flow_8cpp_1a4868c5d81c5ccc98c47aeab6244346a0">assert</references>
        <references refid="structanonymous__namespace_02_g_v_n_sink_8cpp_03_1_1_dense_map_info_1a1423601a8e4ec304e0756df4e761ebbb" compoundref="_g_v_n_sink_8cpp" startline="341" endline="344">anonymous_namespace{GVNSink.cpp}::DenseMapInfo&lt; ModelledPHI &gt;::getEmptyKey</references>
        <references refid="structanonymous__namespace_02_g_v_n_sink_8cpp_03_1_1_dense_map_info_1a9571e26b946751eaf015a9b8dc508be9" compoundref="_g_v_n_sink_8cpp" startline="346" endline="349">anonymous_namespace{GVNSink.cpp}::DenseMapInfo&lt; ModelledPHI &gt;::getTombstoneKey</references>
        <references refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1a03d801e5580d7a721d94609f72b6c5cc" compoundref="_machine_outliner_8cpp" startline="154">MMI</references>
      </memberdef>
    </sectiondef>
    <briefdescription>
<para>Maps <computeroutput>MachineInstrs</computeroutput> to unsigned integers and stores the mappings. </para>
    </briefdescription>
    <detaileddescription>
    </detaileddescription>
    <collaborationgraph>
      <node id="19">
        <label>Size_T</label>
      </node>
      <node id="37">
        <label>SmallVectorSizeType&lt; MachineBasicBlock::iterator &gt;</label>
        <link refid="class_small_vector_size_type_3_01_machine_basic_block_1_1iterator_01_4"/>
      </node>
      <node id="17">
        <label>SmallVectorSizeType&lt; unsigned &gt;</label>
        <link refid="class_small_vector_size_type_3_01unsigned_01_4"/>
      </node>
      <node id="1">
        <label>anonymous_namespace{MachineOutliner.cpp}::InstructionMapper</label>
        <link refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper"/>
        <childnode refid="2" relation="usage">
          <edgelabel>MMI</edgelabel>
        </childnode>
        <childnode refid="3" relation="usage">
          <edgelabel>IllegalInstrNumber</edgelabel>
          <edgelabel>LegalInstrNumber</edgelabel>
        </childnode>
        <childnode refid="4" relation="usage">
          <edgelabel>InstructionIntegerMap</edgelabel>
        </childnode>
        <childnode refid="9" relation="usage">
          <edgelabel>MBBFlagsMap</edgelabel>
        </childnode>
        <childnode refid="11" relation="usage">
          <edgelabel>UnsignedVec</edgelabel>
        </childnode>
        <childnode refid="32" relation="usage">
          <edgelabel>InstrList</edgelabel>
        </childnode>
        <childnode refid="22" relation="usage">
          <edgelabel>AddedIllegalLastTime</edgelabel>
        </childnode>
      </node>
      <node id="22">
        <label>bool</label>
        <link refid="classbool"/>
      </node>
      <node id="28">
        <label>char</label>
        <link refid="classchar"/>
      </node>
      <node id="6">
        <label>llvm::DebugEpochBase</label>
        <link refid="classllvm_1_1_debug_epoch_base"/>
      </node>
      <node id="7">
        <label>llvm::DenseMap&lt; KeyT, ValueT, KeyInfoT, BucketT &gt;</label>
        <link refid="classllvm_1_1_dense_map"/>
        <childnode refid="8" relation="public-inheritance">
        </childnode>
      </node>
      <node id="9">
        <label>llvm::DenseMap&lt; MachineBasicBlock *, unsigned &gt;</label>
        <link refid="classllvm_1_1_dense_map"/>
        <childnode refid="10" relation="public-inheritance">
        </childnode>
        <childnode refid="7" relation="template-instance">
          <edgelabel>&lt; MachineBasicBlock *, unsigned &gt;</edgelabel>
        </childnode>
      </node>
      <node id="4">
        <label>llvm::DenseMap&lt; MachineInstr *, unsigned, MachineInstrExpressionTrait &gt;</label>
        <link refid="classllvm_1_1_dense_map"/>
        <childnode refid="5" relation="public-inheritance">
        </childnode>
        <childnode refid="7" relation="template-instance">
          <edgelabel>&lt; MachineInstr *, unsigned, MachineInstrExpressionTrait &gt;</edgelabel>
        </childnode>
      </node>
      <node id="8">
        <label>llvm::DenseMapBase&lt; DerivedT, KeyT, ValueT, KeyInfoT, BucketT &gt;</label>
        <link refid="classllvm_1_1_dense_map_base"/>
        <childnode refid="6" relation="public-inheritance">
        </childnode>
      </node>
      <node id="10">
        <label>llvm::DenseMapBase&lt; DerivedT, KeyT, ValueT, KeyInfoT, BucketT &gt;</label>
        <link refid="classllvm_1_1_dense_map_base"/>
        <childnode refid="6" relation="public-inheritance">
        </childnode>
      </node>
      <node id="5">
        <label>llvm::DenseMapBase&lt; DerivedT, KeyT, ValueT, KeyInfoT, BucketT &gt;</label>
        <link refid="classllvm_1_1_dense_map_base"/>
        <childnode refid="6" relation="public-inheritance">
        </childnode>
      </node>
      <node id="2">
        <label>llvm::MachineModuleInfo</label>
        <link refid="classllvm_1_1_machine_module_info"/>
      </node>
      <node id="29">
        <label>llvm::SmallVector&lt; T, N &gt;</label>
        <link refid="classllvm_1_1_small_vector"/>
        <childnode refid="30" relation="public-inheritance">
        </childnode>
        <childnode refid="31" relation="private-inheritance">
        </childnode>
      </node>
      <node id="32">
        <label>llvm::SmallVector&lt; MachineBasicBlock::iterator &gt;</label>
        <link refid="classllvm_1_1_small_vector"/>
        <childnode refid="33" relation="public-inheritance">
        </childnode>
        <childnode refid="38" relation="private-inheritance">
        </childnode>
        <childnode refid="29" relation="template-instance">
          <edgelabel>&lt; MachineBasicBlock::iterator &gt;</edgelabel>
        </childnode>
      </node>
      <node id="11">
        <label>llvm::SmallVector&lt; unsigned &gt;</label>
        <link refid="classllvm_1_1_small_vector"/>
        <childnode refid="12" relation="public-inheritance">
        </childnode>
        <childnode refid="27" relation="private-inheritance">
        </childnode>
        <childnode refid="29" relation="template-instance">
          <edgelabel>&lt; unsigned &gt;</edgelabel>
        </childnode>
      </node>
      <node id="18">
        <label>llvm::SmallVectorBase&lt; Size_T &gt;</label>
        <link refid="classllvm_1_1_small_vector_base"/>
        <childnode refid="16" relation="usage">
          <edgelabel>BeginX</edgelabel>
        </childnode>
        <childnode refid="19" relation="usage">
          <edgelabel>Capacity</edgelabel>
          <edgelabel>Size</edgelabel>
        </childnode>
      </node>
      <node id="36">
        <label>llvm::SmallVectorBase&lt; SmallVectorSizeType&lt; MachineBasicBlock::iterator &gt; &gt;</label>
        <link refid="classllvm_1_1_small_vector_base"/>
        <childnode refid="16" relation="usage">
          <edgelabel>BeginX</edgelabel>
        </childnode>
        <childnode refid="37" relation="usage">
          <edgelabel>Capacity</edgelabel>
          <edgelabel>Size</edgelabel>
        </childnode>
        <childnode refid="18" relation="template-instance">
          <edgelabel>&lt; SmallVectorSizeType&lt; MachineBasicBlock::iterator &gt; &gt;</edgelabel>
        </childnode>
      </node>
      <node id="21">
        <label>llvm::SmallVectorBase&lt; SmallVectorSizeType&lt; T &gt; &gt;</label>
        <link refid="classllvm_1_1_small_vector_base"/>
        <childnode refid="18" relation="template-instance">
          <edgelabel>&lt; SmallVectorSizeType&lt; T &gt; &gt;</edgelabel>
        </childnode>
      </node>
      <node id="15">
        <label>llvm::SmallVectorBase&lt; SmallVectorSizeType&lt; unsigned &gt; &gt;</label>
        <link refid="classllvm_1_1_small_vector_base"/>
        <childnode refid="16" relation="usage">
          <edgelabel>BeginX</edgelabel>
        </childnode>
        <childnode refid="17" relation="usage">
          <edgelabel>Capacity</edgelabel>
          <edgelabel>Size</edgelabel>
        </childnode>
        <childnode refid="18" relation="template-instance">
          <edgelabel>&lt; SmallVectorSizeType&lt; unsigned &gt; &gt;</edgelabel>
        </childnode>
      </node>
      <node id="25">
        <label>llvm::SmallVectorImpl&lt; T &gt;</label>
        <link refid="classllvm_1_1_small_vector_impl"/>
        <childnode refid="26" relation="public-inheritance">
        </childnode>
      </node>
      <node id="33">
        <label>llvm::SmallVectorImpl&lt; MachineBasicBlock::iterator &gt;</label>
        <link refid="classllvm_1_1_small_vector_impl"/>
        <childnode refid="34" relation="public-inheritance">
        </childnode>
        <childnode refid="25" relation="template-instance">
          <edgelabel>&lt; MachineBasicBlock::iterator &gt;</edgelabel>
        </childnode>
      </node>
      <node id="30">
        <label>llvm::SmallVectorImpl&lt; T &gt;</label>
        <link refid="classllvm_1_1_small_vector_impl"/>
        <childnode refid="26" relation="public-inheritance">
        </childnode>
      </node>
      <node id="12">
        <label>llvm::SmallVectorImpl&lt; unsigned &gt;</label>
        <link refid="classllvm_1_1_small_vector_impl"/>
        <childnode refid="13" relation="public-inheritance">
        </childnode>
        <childnode refid="25" relation="template-instance">
          <edgelabel>&lt; unsigned &gt;</edgelabel>
        </childnode>
      </node>
      <node id="38">
        <label>llvm::SmallVectorStorage&lt; T, N &gt;</label>
        <link refid="structllvm_1_1_small_vector_storage"/>
        <childnode refid="28" relation="usage">
          <edgelabel>InlineElts</edgelabel>
        </childnode>
      </node>
      <node id="31">
        <label>llvm::SmallVectorStorage&lt; T, N &gt;</label>
        <link refid="structllvm_1_1_small_vector_storage"/>
        <childnode refid="28" relation="usage">
          <edgelabel>InlineElts</edgelabel>
        </childnode>
      </node>
      <node id="27">
        <label>llvm::SmallVectorStorage&lt; T, N &gt;</label>
        <link refid="structllvm_1_1_small_vector_storage"/>
        <childnode refid="28" relation="usage">
          <edgelabel>InlineElts</edgelabel>
        </childnode>
      </node>
      <node id="23">
        <label>llvm::SmallVectorTemplateBase&lt; T, bool &gt;</label>
        <link refid="classllvm_1_1_small_vector_template_base"/>
        <childnode refid="24" relation="public-inheritance">
        </childnode>
        <childnode refid="22" relation="usage">
          <edgelabel>TakesParamByValue</edgelabel>
        </childnode>
      </node>
      <node id="34">
        <label>llvm::SmallVectorTemplateBase&lt; MachineBasicBlock::iterator &gt;</label>
        <link refid="classllvm_1_1_small_vector_template_base"/>
        <childnode refid="35" relation="public-inheritance">
        </childnode>
        <childnode refid="22" relation="usage">
          <edgelabel>TakesParamByValue</edgelabel>
        </childnode>
        <childnode refid="23" relation="template-instance">
          <edgelabel>&lt; MachineBasicBlock::iterator &gt;</edgelabel>
        </childnode>
      </node>
      <node id="26">
        <label>llvm::SmallVectorTemplateBase&lt; T, bool &gt;</label>
        <link refid="classllvm_1_1_small_vector_template_base"/>
        <childnode refid="24" relation="public-inheritance">
        </childnode>
        <childnode refid="22" relation="usage">
          <edgelabel>TakesParamByValue</edgelabel>
        </childnode>
      </node>
      <node id="13">
        <label>llvm::SmallVectorTemplateBase&lt; unsigned &gt;</label>
        <link refid="classllvm_1_1_small_vector_template_base"/>
        <childnode refid="14" relation="public-inheritance">
        </childnode>
        <childnode refid="22" relation="usage">
          <edgelabel>TakesParamByValue</edgelabel>
        </childnode>
        <childnode refid="23" relation="template-instance">
          <edgelabel>&lt; unsigned &gt;</edgelabel>
        </childnode>
      </node>
      <node id="20">
        <label>llvm::SmallVectorTemplateCommon&lt; T, typename &gt;</label>
        <link refid="classllvm_1_1_small_vector_template_common"/>
        <childnode refid="21" relation="public-inheritance">
        </childnode>
      </node>
      <node id="35">
        <label>llvm::SmallVectorTemplateCommon&lt; MachineBasicBlock::iterator &gt;</label>
        <link refid="classllvm_1_1_small_vector_template_common"/>
        <childnode refid="36" relation="public-inheritance">
        </childnode>
        <childnode refid="20" relation="template-instance">
          <edgelabel>&lt; MachineBasicBlock::iterator &gt;</edgelabel>
        </childnode>
      </node>
      <node id="24">
        <label>llvm::SmallVectorTemplateCommon&lt; T, typename &gt;</label>
        <link refid="classllvm_1_1_small_vector_template_common"/>
        <childnode refid="21" relation="public-inheritance">
        </childnode>
      </node>
      <node id="14">
        <label>llvm::SmallVectorTemplateCommon&lt; unsigned &gt;</label>
        <link refid="classllvm_1_1_small_vector_template_common"/>
        <childnode refid="15" relation="public-inheritance">
        </childnode>
        <childnode refid="20" relation="template-instance">
          <edgelabel>&lt; unsigned &gt;</edgelabel>
        </childnode>
      </node>
      <node id="3">
        <label>unsigned</label>
        <link refid="classunsigned"/>
      </node>
      <node id="16">
        <label>void *</label>
      </node>
    </collaborationgraph>
    <location file="lib/CodeGen/MachineOutliner.cpp" line="153" column="1" bodyfile="lib/CodeGen/MachineOutliner.cpp" bodystart="153" bodyend="413"/>
    <listofallmembers>
      <member refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1afa673286927fc074a3e5b5fc52939b54" prot="public" virt="non-virtual"><scope>anonymous_namespace{MachineOutliner.cpp}::InstructionMapper</scope><name>AddedIllegalLastTime</name></member>
      <member refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1ab972a0bf71717b582043380f067148dc" prot="public" virt="non-virtual"><scope>anonymous_namespace{MachineOutliner.cpp}::InstructionMapper</scope><name>convertToUnsignedVec</name></member>
      <member refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1a0e198f7621f46197f997f4cf42109b77" prot="public" virt="non-virtual"><scope>anonymous_namespace{MachineOutliner.cpp}::InstructionMapper</scope><name>IllegalInstrNumber</name></member>
      <member refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1a55ee9a3bf5f8e61cb90c7ff4ad0aef7c" prot="public" virt="non-virtual"><scope>anonymous_namespace{MachineOutliner.cpp}::InstructionMapper</scope><name>InstrList</name></member>
      <member refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1a1216dbec7ee83bf1056d1b76da88c573" prot="public" virt="non-virtual"><scope>anonymous_namespace{MachineOutliner.cpp}::InstructionMapper</scope><name>InstructionIntegerMap</name></member>
      <member refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1a76ed047b551aad831e63f153678d6d85" prot="public" virt="non-virtual"><scope>anonymous_namespace{MachineOutliner.cpp}::InstructionMapper</scope><name>InstructionMapper</name></member>
      <member refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1ad9a7ba9ac7797fd4e187259cb8c3a52d" prot="public" virt="non-virtual"><scope>anonymous_namespace{MachineOutliner.cpp}::InstructionMapper</scope><name>LegalInstrNumber</name></member>
      <member refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1a4f2bae254fbc6babdf14612c7b20b512" prot="public" virt="non-virtual"><scope>anonymous_namespace{MachineOutliner.cpp}::InstructionMapper</scope><name>mapToIllegalUnsigned</name></member>
      <member refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1a0ad5905b935c2e08e68fa162f6950233" prot="public" virt="non-virtual"><scope>anonymous_namespace{MachineOutliner.cpp}::InstructionMapper</scope><name>mapToLegalUnsigned</name></member>
      <member refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1aca781b005b26b74870c3aa3fb6e11624" prot="public" virt="non-virtual"><scope>anonymous_namespace{MachineOutliner.cpp}::InstructionMapper</scope><name>MBBFlagsMap</name></member>
      <member refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1a03d801e5580d7a721d94609f72b6c5cc" prot="public" virt="non-virtual"><scope>anonymous_namespace{MachineOutliner.cpp}::InstructionMapper</scope><name>MMI</name></member>
      <member refid="structanonymous__namespace_02_machine_outliner_8cpp_03_1_1_instruction_mapper_1a5ffe546b4199ea1edd45cc4f0f08e64d" prot="public" virt="non-virtual"><scope>anonymous_namespace{MachineOutliner.cpp}::InstructionMapper</scope><name>UnsignedVec</name></member>
    </listofallmembers>
  </compounddef>
</doxygen>
